<style>
 .work-type-total, .worked-at-total {cursor: pointer;}
</style>
<h1>収穫一覧(WCS)</h1>
<% old_work_type_id = nil %>
<% old_worked_at = nil %>
<table class="table table-sm table-bordered" data-controller="grouped-rows">
  <thead class="thead-dark">
    <tr>
      <th>品種</th>
      <th>作業日</th>
      <th>重量(kg)</th>
      <th>ロール数</th>
      <th>面積(a)</th>
      <th>ロール数(10a当)</th>
    </tr>
  </thead>
  <tbody>
  <% @whole_crops.each do |whole_crop| %>
    <% if whole_crop.work.work_type_id != old_work_type_id %>
      <% old_work_type_id = whole_crop.work.work_type_id %>
      <tr class="tr-total1 table-row-primary-bg" data-code1="<%= old_work_type_id %>" data-action="click->grouped-rows#toggleTotal1 keydown->grouped-rows#onKeydown">
        <td><%= whole_crop.work.work_type.name %></td>
        <td colspan="2"></td>
        <td class="numeric"><%= format_rolls(@work_type_totals[old_work_type_id][:rolls]) %></td>
        <td class="numeric"><%= format_area(@work_type_totals[old_work_type_id][:areas]) %></td>
        <td class="numeric"><%= format_rolls(@work_type_totals[old_work_type_id][:rolls] / @work_type_totals[old_work_type_id][:areas] * 10) %></td>
      </tr>
    <% end %>
    <% if whole_crop.work.model.worked_at.beginning_of_month != old_worked_at %>
      <% old_worked_at = whole_crop.work.model.worked_at.beginning_of_month %>
      <tr class="tr-total2 table-row-low" data-code1="<%= old_work_type_id %>" data-code2="<%= old_worked_at %>" data-action="click->grouped-rows#toggleTotal2 keydown->grouped-rows#onKeydown">
        <td></td>
        <td><%= old_worked_at.strftime("%Y年 %m月") %></td>
        <td></td>
        <td class="numeric"><%= format_rolls(@worked_at_totals[old_work_type_id][old_worked_at][:rolls]) %></td>
        <td class="numeric"><%= format_area(@worked_at_totals[old_work_type_id][old_worked_at][:areas]) %></td>
        <td class="numeric"><%= format_rolls(@worked_at_totals[old_work_type_id][old_worked_at][:rolls] / @worked_at_totals[old_work_type_id][old_worked_at][:areas] * 10) %></td>
      </tr>
    <% end %>
    <tr class="tr-detail" data-code1="<%= old_work_type_id %>" data-code2="<%= old_worked_at %>">
      <td></td>
      <td><%= whole_crop.work.worked_at %></td>
      <td class="numeric"><%= whole_crop.weight.to_formatted_s(:delimited) %></td>
      <td class="numeric"><%= format_rolls(whole_crop.rolls) %></td>
      <td class="numeric"><%= format_area(whole_crop.work.sum_areas) %></td>
      <td class="numeric"><%= format_rolls(whole_crop.rolls / whole_crop.work.sum_areas * 10) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", harvest_whole_crops_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
