<%= form_with url: lands_totals_path, method: :get, id: :search_form do |f| %>
  <div class="row">
    <div class="col-md-4">
      <h1>土地統計一覧</h1>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <% 3.times do |index| %>
          <%= select_tag("work_kinds[]", options_from_collection_for_select(WorkKind.usual, :id, :name, @work_kinds[index]), {include_blank: true, class: "form-select"}) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <%= button_tag "検索", type: :submit, name: "search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<% unless @work_kinds.empty? %>
<div class="row">
  <div class="col-lg-12">
    <table id="work_list" class="table table-sm table-hover">
      <thead>
        <tr>
          <th>地番</th>
          <th>面積</th>
          <th>所有者</th>
          <th>作付</th>
          <% @work_kinds.each do |work_kind| %>
            <th><%= WorkKind.find(work_kind).name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @lands.each do |land| %>
          <tr>
            <td><%= land.place %></td>
            <td class="numeric"><%= land.area %></td>
            <td><%= land._owner_name %></td>
            <td><%= land.work_type_name %></td>
            <% @work_kinds.each_with_index do |work_kind, index| %>
              <td><%= land["w#{index}_date"] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
