<div data-controller="page-loader" data-page-loader-modules-value="pages/tablets/statistics">
  <h1 class="h3 mb-3">統計情報一覧（<%= current_user.worker.name %>）</h1>

  <ul class="nav nav-pills nav-fill gap-2 mb-3 statistics-tablet-tabs">
    <li class="nav-item">
      <%= link_to "全作業時間", "#", class: "nav-link py-3 fs-5", data: { tab: 1, action: tab1_tablets_statistics_path } %>
    </li>
    <li class="nav-item">
      <%= link_to "作業種別別時間", "#", class: "nav-link py-3 fs-5", data: { tab: 2, action: tab2_tablets_statistics_path } %>
    </li>
    <li class="nav-item">
      <%= link_to "世代別時間", "#", class: "nav-link py-3 fs-5", data: { tab: 3, action: tab3_tablets_statistics_path } %>
    </li>
    <li class="nav-item">
      <%= link_to "月別作業時間", "#", class: "nav-link py-3 fs-5", data: { tab: 4, action: tab4_tablets_statistics_path } %>
    </li>
    <li class="nav-item">
      <%= link_to "個人年間推移", "#", class: "nav-link py-3 fs-5", data: { tab: 5, action: tab5_tablets_statistics_path } %>
    </li>
    <li class="nav-item">
      <%= link_to "個人前年同月比", "#", class: "nav-link py-3 fs-5", data: { tab: 6, action: tab6_tablets_statistics_path } %>
    </li>
  </ul>

  <div class="tab-content">
    <div class="row">
      <div class="col-12">
        <canvas id="chart" style="max-height: 56vh;"></canvas>
      </div>
    </div>
    <hr />
    <div id="tab" class="row"></div>
  </div>

  <div class="position-fixed start-0 end-0 bottom-0 p-3 bg-white">
    <div class="d-flex justify-content-end">
      <%= link_to "戻る", tablets_menu_index_path, class: "btn btn-outline-secondary btn-lg" %>
    </div>
  </div>
</div>
