<style>
 .work-type-total, .carried-on-total {cursor: pointer;}
</style>
<h1>収穫一覧(水稲)</h1>
<% old_work_type_id = nil %>
<% old_carried_on = nil %>
<table class="table table-sm table-bordered" data-controller="grouped-rows">
  <thead class="thead-dark">
    <tr>
      <th>品種</th>
      <th>搬入日</th>
      <th>世帯</th>
      <th>乾燥種別</th>
      <th>収穫量(kg)</th>
      <th>収穫量(袋)</th>
      <th>くず米(%)</th>
      <th>面積(a)</th>
      <th>収穫量(10a当)</th>
    </tr>
  </thead>
  <tbody>
  <% @dryings.each do |drying| %>
    <% if drying.work_type_id != old_work_type_id %>
      <% old_work_type_id = drying.work_type_id %>
      <% old_carried_on = nil %>
      <% sum_area = LandCost.sum_area_by_work_type(current_system.start_date, old_work_type_id) %>
      <tr class="tr-total1 table-row-primary-bg" data-code1="<%= old_work_type_id %>" data-action="click->grouped-rows#toggleTotal1 keydown->grouped-rows#onKeydown">
        <td><%= drying.work_type.name %></td>
        <td colspan="3"></td>
        <td class="numeric"><%= format_weight(@work_type_totals[old_work_type_id][:rice_weight]) %></td>
        <td class="numeric"><%= format_bag(@work_type_totals[old_work_type_id][:rice_weight]) %></td>
        <td class="numeric"><%= format_rice_percentage(@work_type_totals[old_work_type_id][:base_weight], @work_type_totals[old_work_type_id][:waste_weight]) %></td>
        <td class="numeric"><%= format_area(sum_area) %></td>
        <td class="numeric"><%= format_bag(@work_type_totals[old_work_type_id][:rice_weight] / sum_area * 10) %></td>
      </tr>
    <% end %>
    <% if drying.carried_on != old_carried_on %>
      <% old_carried_on = drying.carried_on %>
      <tr class="tr-total2 table-row-low" data-code1="<%= old_work_type_id %>" data-code2="<%= old_carried_on %>" data-action="click->grouped-rows#toggleTotal2 keydown->grouped-rows#onKeydown">
        <td></td>
        <td><%= old_carried_on %></td>
        <td colspan="2"></td>
        <td class="numeric"><%= format_weight(@carried_on_totals[old_work_type_id][old_carried_on][:rice_weight]) %></td>
        <td class="numeric"><%= format_bag(@carried_on_totals[old_work_type_id][old_carried_on][:rice_weight]) %></td>
        <td class="numeric"><%= format_rice_percentage(@carried_on_totals[old_work_type_id][old_carried_on][:base_weight], @carried_on_totals[old_work_type_id][old_carried_on][:waste_weight]) %></td>
        <td class="numeric"><%= format_area(@areas[old_carried_on][old_work_type_id]) %></td>
        <td class="numeric"><%=  @areas[old_carried_on][old_work_type_id] || 0 == 0 ? "" : format_bag(@carried_on_totals[old_work_type_id][old_carried_on][:rice_weight] / @areas[old_carried_on][old_work_type_id] * 10) %></td>
      </tr>
    <% end %>
    <tr class="tr-detail" data-code1="<%= old_work_type_id %>" data-code2="<%= old_carried_on %>">
      <td></td>
      <td></td>
      <td><%= drying.home.name %></td>
      <td><%= drying.drying_type_name %></td>
      <td class="numeric"><%= format_weight(drying.harvest_weight(current_system)) %></td>
      <td class="numeric"><%= format_bag(drying.harvest_weight(current_system)) %></td>
      <td class="numeric">
        <% if drying.adjustment %>
        <%= format_rice_percentage(drying.adjustment.rice_weight(current_system), drying.adjustment.waste_weight) %>
        <% end %>
      </td>
      <td class="numeric"></td>
      <td class="numeric"></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
