<h1>WCS一覧</h1>
<table class="table table-sm" style="width:auto;">
  <thead>
    <tr>
      <th></th>
      <th>品種</th>
      <th>収穫日</th>
      <th class="numeric">重量</th>
      <th class="numeric">数量</th>
      <th class="numeric">単価</th>
      <th class="numeric">金額</th>
    </tr>
  </thead>
  <tbody>
    <% @whole_crops.each do |whole_crop| %>
      <tr>
        <td><%= checkbox_tag "whole_crop[][id]", whole_crop.id %></td>
        <td><%= whole_crop.work.work_type.name %></td>
        <td><%= whole_crop.work.worked_at %></td>
        <td class="numeric"><%= whole_crop.weight %></td>
        <td class="numeric"><%= whole_crop.rolls %></td>
        <td class="numeric"><%=  whole_crop.unit_price %></td>
        <td class="numeric"><%= whole_crop.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", whole_crops_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
