<h1>WCS一覧</h1>
<% if @whole_crops.count > 0 %>
<%= form_tag(whole_crops_path, {method: :post}) do %>
<table class="table table-sm" style="width:auto;">
  <thead>
    <tr>
      <th>品種</th>		  
      <th>収穫日</th>
      <th>品名</th>
      <th class="numeric">重量</th>
      <th class="numeric">数量</th>
      <th class="numeric">単価</th>
      <th class="numeric">ロール価格</th>
      <th class="numeric">金額</th>
      <th class="numeric">消費税率</th>
      <th class="numeric">消費税額</th>
      <th class="numeric">合計額</th>
    </tr>
  </thead>
  <tbody>
    <% @whole_crops.each do |whole_crop| %>
      <tr>
        <td><%= whole_crop.work.work_type.name %></td>
	<td><%= whole_crop.work.worked_at %></td>
	<td>稲WCS(6重)</td>
	<td class="numeric"><%= whole_crop.weight %></td>
	<td class="numeric"><%= whole_crop.rolls %></td>
	<td>
	  <%= hidden_field_tag "whole_crop[][id]", whole_crop.id %>
	  <%= number_field_tag "whole_crop[][unit_price]", whole_crop.unit_price, {min: 1, max: 100, step: 1, class: "form-control form-control-sm", style: "width: 80px"} %>
	</td>
        <td class="numeric"><%= whole_crop.roll_price %></td>
	<td class="numeric"><%= whole_crop.price %></td>
	<td>
	  <%= number_field_tag "whole_crop[][tax_rate]", whole_crop.tax_rate, {min: 0, max: 99, step: 1, class: "form-control form-control-sm", style: "width: 80px"} %>
	</td>
	<td class="numeric"><%= whole_crop.tax_amount %></td>
	<td class="numeric"><%= whole_crop.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", whole_crops_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= submit_tag "計算／保存", {class: "btn btn-warning"} %> 
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
<% end %>
<% end %>
