<% if @chemical.errors.any? %>
  <div id="error_explanation">
    <h2><%= @chemical.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @chemical.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@chemical) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, {:maxlength => 30, :size => 40} %>
  </p>
  <p>
    <%= f.label :chemical_type_id %><br />
    <%= f.select(:chemical_type_id, @chemical_types.map {|chemical_type| [chemical_type.name, chemical_type.id]}) %><br />
  </p>
  <p><span class="check_group"><%= f.check_box :this_term_flag, {}, true, false %><%= f.label :this_term_flag %></span></p>
  <br />
 <p>
    <%= f.submit '登録' %>
    <%= button_tag "戻る", type: :button, :onclick => raw("javascript:location.href = '" + chemicals_path + "';") %>
  </p>
<% end %>
