<h1>薬剤マスタ一覧</h1>
<% if @chemicals.count > 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>種別</th>
      <th>名称</th>
      <th>使用</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @chemicals.each do |chemical| %>
      <tr>
        <td><%= chemical_name(chemical) %></td>
        <td><%=h chemical.chemical_type.name %></td>
        <td class="center"><%=h chemical.this_term_flag(current_term) %></td>
        <td><%= link_to '修正', edit_chemical_path(chemical), {class: "btn btn-success btn-sm"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@chemicals) %>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '新規登録', new_chemical_path, class: "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= button_to '昨年度取込', chemicals_annuals_path, method: :post, data: {confirm: "実行してもよろしいですか？"}, class: "btn btn-warning" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
