<% if @land.errors.any? %>
  <div id="error_explanation">
    <h2><%= @land.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @land.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@land) do |f| %>
  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place, {maxlength: 15, size: 20} %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.select(:owner_id, @homes.map {|h| [h.holder ? h.holder.name + '(' + h.name + ')' : h.name, h.id]}) %>
  </p>
  <p>
    <%= f.label :manager_id %><br />
    <%= f.select(:manager_id, @homes.map {|h| [h.holder ? h.holder.name + '(' + h.name + ')' : h.name, h.id]}) %>
  </p>
  <p>
    <%= f.label :area %><br />
    <%= f.number_field(:area, {step: 0.01, max: 999.99, min: 0.01, size: 6 }) %>
  </p>
  <p>
    <%= f.radio_button :target_flag, true %>営農組合管理<br />
    <%= f.radio_button :target_flag, false %>個人管理<br />
  </p>
  <p>
    <%= f.label :display_order %><br />
    <%= f.number_field(:display_order, {maxlength: 4, size: 4}) %>
  </p>
  <p>
    <%= f.submit '登録' %>
  </p>
<% end %>