<h1>土地マスタ一覧</h1>
<% if @lands.count > 0 %>
<table class="list">
  <tr>
    <th>地番</th>
    <th>所有者</th>
    <th>面積(α)</th>
    <th colspan="2">&nbsp;</th>
  </tr>
<% @lands.each do |land| %>
  <tr style="<%= 'background-color:darkgray' unless land.target_flag %>">
    <td><%=h land.place %></td>
    <td><%=h land.owner_name %></td>
    <td class="numeric"><%=h land.area_format %></td>
    <td><%= link_to '修正', edit_land_path(land) %></td>
    <td><%= link_to '削除', land, method: :delete, data: {confirm: "本当に削除してもよろしいですか?"} %></td>
  </tr>
<% end %>
</table>
<%= paginate(@lands) %>
<% end %>
<br />
<%= button_tag "新規登録",  type: :button, :onclick => raw("javascript:location.href = '" + new_land_path + "';") %>
<%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + root_path + "';") %>
