<div class="row" data-controller="page-loader" data-page-loader-modules-value="pages/lands-straws">
  <div class="col-md-4">
    <h1>稲わら面積一覧</h1>
  </div>
  <div class="col-md-2">
    <%= form_with url: lands_straws_path, method: :get, data: {turbo_frame: :list}, id: :search_form do |f| %>
      <%= select_tag(:term, options_from_collection_for_select(
            Work.where(work_type_id: current_organization.straw_id).where("worked_at >= ?", LandCost.minimum(:activated_on)).select(:term).distinct.order(:term), 
            :term, :term, current_term), class: "form-select") %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= turbo_frame_tag 'list' do %>
      <%= render partial: "list" %>
    <% end %>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
<%= hidden_field_tag :lands_straws_path, lands_straws_path %>
