<%= form_with url: total_costs_path, method: :post do |f|  %>
  <%= select_tag('fixed_on', options_from_collection_for_select(@fixes, :fixed_at, :fixed_at), {class: "form-select"}) %>
  <div class="btn-group mr-2">
    <%= submit_tag '計算実行', class: "btn btn-warning", data: {confirm: "原価を再計算してもよろしいですか？"} %>
  </div>
<% end %>
<hr />
<div id="table_wrapper" class="wrapper small float-head-wrapper">
  <table id="tbl_list" class="table table-sm">
    <thead style="background-color:white;">
      <tr>
        <th></th>
        <% @work_types.each do |work_type| %>
          <th style="text-align: right;"><%= work_type.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @cost_types.each do |cost_type| %>
        <tr>
          <th><%= cost_type.name %></th>
          <% @work_types.each do |work_type| %>
            <td class="numeric"><%= @total_costs[[cost_type.id, work_type.id]].to_i.to_formatted_s(:delimited) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
