<h1>原価一覧</h1>
<% old_group1_id = 0%>
<% old_group2_id = 0%>
<div id="table_wrapper" class="wrapper small" style="overflow-y: scroll;">
  <table id="tbl_list" class="table table-sm">
    <thead style="background-color:white;">
      <tr>
        <th colspan="3"></th>
        <% @work_types.each do |work_type| %>
        <th style="text-align: right;"><%= work_type.name %></th>
        <% end %>
      </tr>
      <tr>
        <th>種類</th>
        <th>内容</th>
        <th>詳細</th>
        <% @work_types.each do |work_type| %>
        <td class="numeric"><%= sprintf("%.1f", @lands[work_type.id] || 0) %></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @total_costs.each do |tc| %>
        <% if tc.total_cost_type_id != old_group1_id %>
          <% old_group1_id = tc.total_cost_type_id %>
          <tr class="group1-total table-primary" data-group1="<%= old_group1_id %>" style="cursor: pointer;">
            <th><%= tc.total_cost_type_name %></th>
            <td colspan="2"></td>
            <% @work_types.each do |work_type| %>
            <td class="numeric"><%= @group1_costs[old_group1_id][work_type.id]&.to_s(:delimited) %></td>
            <% end %>
          </tr>
        <% end %>
        <% if tc.display_order != old_group2_id %>
          <% old_group2_id = tc.display_order %>
          <tr class="group2-total table-secondary" data-group1="<%= old_group1_id %>" data-group2="<%= old_group2_id %>" style="cursor: pointer;">
            <th><%= tc.total_cost_type_name %></th>
            <th><%= tc.kind_name %></th>
            <th></th>
            <% @work_types.each do |work_type| %>
            <td class="numeric"><%= @group2_costs[old_group1_id][old_group2_id][work_type.id]&.to_s(:delimited) %></td>
            <% end %>
          </tr>
        <% end %>
        <tr class="detail <%= tc.member_flag ? 'text-success' : 'text-body' %>" data-group1="<%= old_group1_id %>" data-group2="<%= old_group2_id %>">
          <th><%= tc.total_cost_type_name %></th>
          <th><%= tc.kind_name %></th>
          <th><%= tc.detail_name %></th>
          <% @work_types.each do |work_type| %>
          <% tcd = tc.total_cost_details.find {|tcd| tcd.work_type_id == work_type.id } %>
          <td class="numeric"><%= tcd&.cost&.to_s(:delimited) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">合計</th>
        <% @work_types.each do |work_type| %>
        <td class="numeric"><%= @sum_costs[work_type.id]&.to_s(:delimited) %></td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>
<%= form_tag(action: :create) do  %>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= submit_tag '計算実行', class: "btn btn-warning", data: {confirm: "原価を再計算してもよろしいですか？"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
<% end %>
<script>
$(function() {
    $("#tbl_list").floatThead({
        position: 'absolute',
        scrollContainer:true,
        zIndex: 999
    });
    $(window).resize(function() {
        setTableWrapperHeight();
    });

    $('form').submit(function(){
        dispLoading("計算中");
    });

    $(".group1-total").click(function() {
        var s = $(".group2-total[data-group1='" + $(this).data("group1") + "']");
        if(s.is(":visible")) {
            s.hide();
            $(".detail[data-group1='" + $(this).data("group1") + "']").hide();
        } else {
            s.show();
        }
    });
    $(".group2-total").click(function() {
        var s = $(".detail[data-group1='" + $(this).data("group1") + "'][data-group2='" + $(this).data("group2") + "']");
        if(s.is(":visible")) {
            s.hide();
        } else {
            s.show();
        }
    });
  
    $(".group2-total, .detail").hide();

    setTableWrapperHeight();
    removeLoading();
});

function setTableWrapperHeight() {
    if($("#table_wrapper")[0]) {
        $("#table_wrapper").height($(window).height() - $("#table_wrapper").offset().top - $("#btn_toolbar").height() - 10);
    }
}
</script>
