<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= csrf_meta_tags %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'pc-common', 'data-turbo-track': 'reload' %>
  <script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= ENV["GOOGLE_MAPS_API_KEY"]%>",
    v: "weekly"
  });
  </script>
  <%= yield :head %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
</head>
<body>
<main class="container-fluid">
  <div id="flash_messages" class="row">
    <%= render "application/flashes", locals: {flash: flash} %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="app-card">
        <div id="container py-5" class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="flash_message"></div>
              <h2 class="text-center text-white mb-4">ユーザーIDとパスワードを入力してください。</h2>
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="card rounded-0">
                    <div class="card-header">
                      <h3 class="mb-0">ログイン</h3>
                    </div>
                    <div class="card-body">
                      <%= form_with url: sessions_path, method: :post do |f| %>
                        <div class="mb-3">
                          <label for="uname1" class="h5 form-label">ユーザID</label>
                          <%= text_field_tag :login_name, "", {maxlength: 12, required: true, class: "form-control form-control-lg rounded-0", placeholder: "初期値は携帯番号です。" } %>
                        </div>
                        <div class="mb-3">
                            <label class="h5 form-label">パスワード</label>
                            <%= password_field_tag :password, "", {required: true, class: "form-control form-control-lg rounded-0", placeholder: "初期値は番地です。", autocomplete: "new-password"} %>
                        </div>
                        <%= submit_tag '認証する', class: "btn btn-success btn-lg float-end" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<input type="hidden" id="current_controller" value="<%= menu_name %>">
<input type="hidden" id="current_action" value="<%= controller.action_name %>">
</body>
</html>
