<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'pc-common', 'data-turbo-track': 'reload' %>
  <%= yield :head %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
</head>
<body>
<main class="container-fluid">
  <div id="flash_messages" class="row">
    <%= render "application/flashes", locals: {flash: flash} %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="app-card">
        <div id="container py-5" class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="flash_message"></div>
              <h2 class="text-center text-white mb-4">ユーザーIDとパスワードを入力してください。</h2>
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="card rounded-0">
                    <div class="card-header">
                      <h3 class="mb-0">ログイン</h3>
                    </div>
                    <div class="card-body">
                      <%= form_with url: sessions_path, method: :post do |f| %>
                        <div class="mb-3">
                          <label for="uname1" class="h5 form-label">ユーザID</label>
                          <%= text_field_tag :login_name, "", {maxlength: 12, required: true, class: "form-control form-control-lg rounded-0", placeholder: "初期値は携帯番号です。" } %>
                        </div>
                        <div class="mb-3">
                            <label class="h5 form-label">パスワード</label>
                            <%= password_field_tag :password, "", {required: true, class: "form-control form-control-lg rounded-0", placeholder: "初期値は番地です。", autocomplete: "new-password"} %>
                        </div>
                        <%= submit_tag '認証する', class: "btn btn-success btn-lg float-end" %>
                      <% end %>
                    </div>
                    <hr class="my-4">
                    <%= render "sessions/qr_login/block" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<input type="hidden" id="current_controller" value="<%= menu_name %>">
<input type="hidden" id="current_action" value="<%= controller.action_name %>">
</body>
</html>
