<table id="tbl_list" class="table table-sm float-head" style="width:calc(100% - 16px);">
  <thead>
    <tr>
      <th>作業日時</th>
      <th>分類</th>
      <th class="numeric">No.</th>
      <th colspan="2">処理ボタン</th>
      <th>記入者</th>
      <th>検証者</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.worked_at %>&nbsp;<%= work.work_time %></td>
        <td><%= work.category_name %></td>
        <td class="numeric"><%= work.id %></td>
        <td>
          <%= link_to "確認", "#", {class: "btn btn-outline-primary btn-sm show-work", data: {url: work_verification_path(work)}} %>
          <% if work.checkers.include?(current_user.worker) %>
            <%= hidden_field_tag :self_flag, work.id, {id: nil} %>
          <% end %>
        </td>
        <td><%= link_to "修正", work_path(work), {class: "btn btn-outline-success btn-sm"} %></td>
        <td><%= work.creator_short_name %></td>
        <td><%= work.checker_short_names %></td>
      </tr>
    <% end %>
  </tbody>
</table>
