<%= javascript_pack_tag 'work-verifications' %>
<h1>作業日報検証</h1>
<% if @works.count > 0 %>
  <div class="float-right">
    <div class="form-check form-check-inline">
      <%= check_box_tag "print_self", nil, true, {onclick: "changePrint(this);", class: "form-check-input"} %>
      <%= label_tag "print_self", "検証済の日報は表示しない", {class: "form-check-label"} %>
    </div>
  </div>
<div id="list" class="wrapper" style="overflow-y: scroll; width: 100%;">
<%= render(partial: 'list') %>
</div>
<% end %>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
<div id="show_work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div id="show_work_body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">変更を保存</button>
      </div><!-- /.modal-footer -->
    </div>
  </div>
</div>
