<script>
dispLoading("表示中");
</script>
<%= javascript_include_tag 'work-verifications.js' %>
<h1>作業日報検証</h1>
<% if @works.count > 0 %>
  <div class="float-right">
    <div class="form-check form-check-inline">
      <%= check_box_tag "print_self", nil, nil, {onclick: "changePrint(this);", class: "form-check-input"} %>
      <%= label_tag "print_self", "検証済の日報は表示しない", {class: "form-check-label"} %>
    </div>
  </div>
<div id="list" class="wrapper" style="overflow-y: scroll; width: 100%;">
<%= render(partial: 'list') %>
</div>
<% end %>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + menu_index_path + "';"), class: "btn btn-outline-dark" %>
  </div>
</div>
