<div class="row">
  <div class="col-md-12 text-center">
    <h1>入力者の名前を選択してください</h1>
  </div>
</div>
<div class="row mt-4">
  <% @sections.each_with_index do |section, index| %>
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card group-card text-white <%= section.id == @section_id ? 'bg-primary' : 'bg-secondary' %>" style="<%= section.id == @section_id ? '' : 'cursor: pointer;' %>" data-group-id="<%= section.id %>">
        <div class="card-body">
          <h5 class="card-title"><%= section.name %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="list-group" id="user-list">
      <% @users.each do |user| %>
        <a href="#" class="h4 list-group-item list-group-item-action" data-user-id="<%= user.id %>">
          <%= user.worker.name %>
        </a>
      <% end %>
    </div>
  </div>
</div>
