<script type="text/javascript">
$(function() {
    $("#tbl_list").floatThead({
        position: 'absolute',
        scrollContainer:true
    });

    $(window).resize(function() {
        setTableWrapperHeight();
    });

    setTableWrapperHeight();
});

function setTableWrapperHeight() {
    if($("#table_wrapper")[0]) {
        $("#table_wrapper").height($(window).height() - $("#table_wrapper").offset().top - $("#btn_toolbar").height() - 10);
    }
}
</script>
<h1>新規確定</h1>

<%= javascript_include_tag 'fixes' %>

<h2>確定月</h2>
<%= form_tag(action: :create) do %>
<%= select_tag('fixed_at', options_for_select(@terms), {class: "form-control"}) %>

<h2>確定対象作業</h2>

<% if @works.count > 0 %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <input type="button" value="全選択" onclick="checkAll(true);" class="btn btn-primary" />
  </div>
  <div class="btn-group mr-2">
    <input type="button" value="全解除" onclick="checkAll(false);" class="btn btn-primary" />
  </div>
</div>
<div id="table_wrapper" class="wrapper small" style="overflow-y: scroll;">
  <table id="tbl_list" class="table table-sm">
    <thead style="background-color: white;">
      <tr>
        <th>&nbsp;</th>
        <th>作業日</th>
        <th>分類</th>
        <th>内容</th>
        <th class="numeric">人数</th>
        <th class="numeric">工数</th>
        <th class="numeric">単価</th>
        <th class="numeric">日当</th>
        <th class="numeric">機械使用料</th>
      </tr>
    </thead>
    <tbody id="tbody_works">
      <% @works.each do |work| %>
        <tr>
          <td><%= check_box_tag "fixed_works[]", work.id, false, {:id => nil, :onchange => 'calc_total();'} %></td>
          <td><%=h work.worked_at %></td>
          <td><%=h work.genre_name %></td>
          <td><%=h work.name %></td>
          <td class="numeric"><%=h work.workers.count %></td>
          <% hours = work.sum_hours.to_f %>
          <td id="hours_<%= work.id %>" class="numeric"><%=h sprintf("%.1f", hours) %></td>
          <% price = work.work_kind.price.to_i %>
          <td class="numeric"><%=h number_with_delimiter(price, {precision: 0}) %></td>
          <td id="amount_<%= work.id %>" class="numeric"><%=h number_with_delimiter((hours * price).to_i, {precision: 0}) %></td>
          <td id="machine_<%= work.id %>" class="numeric"><%=h number_with_delimiter(work.sum_machines_amount.to_i, {precision: 0}) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5">合計</th>
        <td id="total_hours" class="numeric">0.0</td>
        <td colspan="2" id="total_amount" class="numeric">0</td>
        <td id="total_machine" class="numeric">0</td>
      </tr>
    </tfoot>
  </table>
</div>
<% end %>
<div id="btn_toolbar" class="btn-toolbar">
<% if @works.count > 0 %>
  <div class="btn-group mr-2">
    <input type="button" value="全選択" onclick="checkAll(true);" class="btn btn-primary" />
  </div>
  <div class="btn-group mr-2">
    <input type="button" value="全解除" onclick="checkAll(false);" class="btn btn-primary" />
  </div>
<% end %>
  <div class="btn-group mr-2">
    <%= submit_tag "確定", class: "btn btn-danger" %>
  </div>
  <div class="btn-group mr-2">
    <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + menu_index_path + "';"), class: "btn btn-outline-dark" %>
  </div>
</div>
<% end %>

