<h1>新規確定</h1>

<%= javascript_include_tag 'fixes' %>

<h2>確定月</h2>
<%= form_tag(action: :create) do %>
<%= select_tag('fixed_at', options_for_select(@terms)) %>

<h2>確定対象作業</h2>

<% if @works.count > 0 %>
<input type="button" value="全選択" onclick="checkAll(true);" />&nbsp;<input type="button" value="全解除" onclick="checkAll(false);" /><br />
<table class="list">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>作業日</th>
      <th>分類</th>
      <th>内容</th>
      <th>人数</th>
      <th>工数</th>
      <th>単価</th>
      <th>日当</th>
      <th>機械使用料</th>
    </tr>
  </thead>
  <tbody id="tbody_works">
<% @works.each do |work| %>
    <tr>
      <td><%= check_box_tag "fixed_works[]", work.id, false, {:id => nil, :onchange => 'calc_total();'} %></td>
      <td><%=h work.worked_at %></td>
      <td><%=h work.genre_name %></td>
      <td><%=h work.name %></td>
      <td class="numeric"><%=h work.workers.count %></td>
      <% hours = work.sum_hours %>
      <td id="hours_<%= work.id %>" class="numeric"><%=h sprintf("%.1f", hours) %></td>
      <% price = work.work_kind.price.to_i %>
      <td class="numeric"><%=h number_with_delimiter(price, {:precision => 0}) %></td>
      <td id="amount_<%= work.id %>" class="numeric"><%=h number_with_delimiter((hours * price).to_i, {:precision => 0}) %></td>
      <td id="machine_<%= work.id %>" class="numeric"><%=h number_with_delimiter(work.sum_machine_amounts.to_i, {:precision => 0}) %></td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">合計</th>
      <td id="total_hours" class="numeric">0.0</td>
      <td colspan="2" id="total_amount" class="numeric">0</td>
      <td id="total_machine" class="numeric">0</td>
    </tr>
  </tfoot>
</table>
<input type="button" value="全選択" onclick="checkAll(true);" />&nbsp;<input type="button" value="全解除" onclick="checkAll(false);" /><br />
<% end %>
<br />
<%= submit_tag "確定" %>&nbsp;<%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + root_path + "';") %>
<% end %>

