<h1 data-controller="page-loader" data-page-loader-modules-value="pages/fixes">確定一覧</h1>
<% if Delayed::Job.exists? %>
<hr />
<h2>計算中です。しばらくお待ち下さい。</h2>
<% else %>
<h1>新規確定</h1>
<h2>確定月</h2>
<%= form_with url: fixes_path, method: :post do |f| %>
<%= select_tag('fixed_at', options_for_select(@terms, selected: @terms.last), {class: "form-select"}) %>

<h2>確定対象作業</h2>

<% if @works.count > 0 %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= tag(:input, {type: :button, value: "全選択", class: "btn btn-primary all-check"})%>
  </div>
  <div class="btn-group mr-2">
    <%= tag(:input, {type: :button, value: "全解除", class: "btn btn-primary all-cancel"})%>
  </div>
</div>
<div id="table_wrapper" class="wrapper small float-head-wrapper">
  <table id="tbl_list" class="table table-sm float-head">
    <thead style="background-color: white;">
      <tr>
        <th>&nbsp;</th>
        <th>作業日</th>
        <th>分類</th>
        <th>内容</th>
        <th class="numeric">人数</th>
        <th class="numeric">工数</th>
        <th class="numeric">単価</th>
        <th class="numeric">日当</th>
        <th class="numeric">機械使用料</th>
      </tr>
    </thead>
    <tbody id="tbody_works">
      <% @works.each do |work| %>
        <tr>
          <td><%= check_box_tag "fixed_works[]", work.id, false, {:id => nil} %></td>
          <td><%=h work.worked_at %></td>
          <td><%=h work.genre_name %></td>
          <td><%=h work.name %></td>
          <td class="numeric"><%=h work.workers.count %></td>
          <% hours = work.sum_hours.to_f %>
          <td id="hours_<%= work.id %>" class="numeric"><%=h sprintf("%.1f", hours) %></td>
          <% price = work.work_kind.term_price(current_term) %>
          <td class="numeric"><%=h number_with_delimiter(price, {precision: 0}) %></td>
          <td id="amount_<%= work.id %>" class="numeric"><%=h number_with_delimiter((hours * price).to_i, {precision: 0}) %></td>
          <td id="machine_<%= work.id %>" class="numeric"><%=h number_with_delimiter(work.sum_machines_amount.to_i, {precision: 0}) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5">合計</th>
        <td id="total_hours" class="numeric">0.0</td>
        <td colspan="2" id="total_amount" class="numeric">0</td>
        <td id="total_machine" class="numeric">0</td>
      </tr>
    </tfoot>
  </table>
</div>
<% end %>
<div id="btn_toolbar" class="btn-toolbar">
<% if @works.count > 0 %>
  <div class="btn-group mr-2">
    <%= tag(:input, {type: :button, value: "全選択", class: "btn btn-primary all-check"})%>
  </div>
  <div class="btn-group mr-2">
    <%= tag(:input, {type: :button, value: "全解除", class: "btn btn-primary all-cancel"})%>
  </div>
<% end %>
  <div class="btn-group mr-2">
    <%= submit_tag "確定", class: "btn btn-danger" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
<% end %>
<% end %>
