<h1><%= @fixed_at.strftime('%Y年 %m月')%>確定分照会</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>屋号</th>
      <th>土地管理</th>
      <% FixesController::MAX_WORKER.times do |i| %>
      <th>作業者<%= i + 1 %></th>
      <th>時間<%= i + 1 %></th>
      <th>金額<%= i + 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="tbody_works">
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.name %></td>
        <td class="numeric"><%= (@lands[home.id] * 100).to_i.to_s(:delimited, delimiter: ',') %></td>
        <% i = 0 %>
        <% home.workers.each do |worker| %>
          <% next unless @work_hours[worker.id] %>
          <td><%= worker.name %></td>
          <td class="numeric"><%= @work_hours[worker.id] %></td>
          <td class="numeric"><%= @work_amounts[worker.id].to_i.to_s(:delimited, delimiter: ',') %></td>
          <% i += 1%>
        <% end %>
        <% (FixesController::MAX_WORKER - i).times do %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '戻る', fixes_path, class: "btn btn-outline-dark" %>
