<h1>外注集計一覧(<%= current_term %>)</h1>
<% old_month_code = "" %>
<% old_home_code = "" %>
<table class="table table-sm table-bordered" data-controller="grouped-rows">
  <thead class="thead-dark">
    <tr>
      <th>作業月</th>
      <th>世帯</th>
      <th>作業日</th>
      <th>作業種別</th>
      <th>作業内容</th>
      <th>作業時間</th>
      <th>単価</th>
      <th>日当</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |result| %>
    <% worked_at = result.object.work.worked_at.to_date %>
    <% month_code = worked_at.strftime('%Y%m') %>
    <% home_code = "#{month_code}_#{result.worker.home_id}" %>
    <% if month_code != old_month_code %>
      <% old_month_code = month_code %>
      <% old_home_code = "" %>
      <tr class="tr-total1 table-row-primary-bg" data-code1="<%= old_month_code %>" data-action="click->grouped-rows#toggleTotal1 keydown->grouped-rows#onKeydown">
        <td><%= worked_at.strftime("%Y年%-m月") %></td>
        <td colspan="3"></td>
        <td class="numeric"><%= @month_totals[old_month_code][:count] %></td>
        <td class="numeric"><%= @month_totals[old_month_code][:hours] %></td>
        <td></td>
        <td class="numeric"><%= number_to_currency(@month_totals[old_month_code][:amount], {precision: 0, unit: ""}) %></td>
      </tr>
    <% end %>
    <% if home_code != old_home_code %>
      <% old_home_code = home_code %>
      <tr class="tr-total2 table-row-low" data-code1="<%= old_month_code %>" data-code2="<%= old_home_code %>" data-action="click->grouped-rows#toggleTotal2 keydown->grouped-rows#onKeydown">
        <td></td>
        <td><%= result.home_name %></td>
        <td colspan="2"></td>
        <td class="numeric"><%= @home_totals[old_home_code][:count] %></td>
        <td class="numeric"><%= @home_totals[old_home_code][:hours] %></td>
        <td></td>
        <td class="numeric"><%= number_to_currency(@home_totals[old_home_code][:amount], {precision: 0, unit: ""}) %></td>
      </tr>
    <% end %>
    <tr class="tr-detail" data-code1="<%= old_month_code %>" data-code2="<%= old_home_code %>">
      <td></td>
      <td></td>
      <td><%= result.worked_at %></td>
      <td><%= result.work_type_name %></td>
      <td style="overflow:hidden;"><%= result.work_name %></td>
      <td class="numeric"><%= result.hours %></td>
      <td class="numeric"><%= result.price %></td>
      <td class="numeric"><%= result.amount %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
