<h1>保有米集計</h1>
<% old_home_id = 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>世帯</th>
      <th>品種</th>
      <th class="numeric">数量</th>
      <th class="numeric">単価</th>
      <th class="numeric">金額</th>
    </tr>
  </thead>
  <tbody>
    <% @owned_rices.each do |owned_rice| %>
      <% if owned_rice.home_id != old_home_id %>
        <% if @home_relatives[old_home_id] %>
          <tr class="tr-detail" data-code1="<%= old_home_id %>">
            <td></td>
            <td>縁故米</td>
            <td class="numeric"><%= @home_relatives[old_home_id] %></td>
            <td class="numeric"><%= current_system.relative_price.to_formatted_s(:delimited) %></td>
            <td class="numeric"><%= (@home_relatives[old_home_id] * current_system.relative_price).to_formatted_s(:delimited) %></td>
          </tr>
        <% end %>
        <% old_home_id = owned_rice.home_id %>
        <tr class="tr-total1 table-row-primary-bg" data-code1="<%= old_home_id %>">
          <td><%= owned_rice.home.name %></td>
          <td></td>
          <td class="numeric"><%= @home_totals[old_home_id][:owned_count] %></td>
          <td></td>
          <td class="numeric"><%= @home_totals[old_home_id][:owned_price].to_formatted_s(:delimited) %></td>
        </tr>
      <% end %>
      <tr class="tr-detail" data-code1="<%= old_home_id %>">
        <td></td>
        <td><%= owned_rice.owned_rice_price.name %></td>
        <td class="numeric"><%= owned_rice.owned_count %></td>
        <td class="numeric"><%= owned_rice.owned_rice_price.owned_price.to_formatted_s(:delimited) %></td>
        <td class="numeric"><%= owned_rice.owned_price.to_formatted_s(:delimited) %></td>
      </tr>
    <% end %>
    <% if @home_relatives[old_home_id] %>
      <tr class="tr-detail" data-code1="<%= old_home_id %>">
        <td></td>
        <td>縁故米</td>
        <td class="numeric"><%= @home_relatives[old_home_id] %></td>
        <td class="numeric"><%= current_system.relative_price.to_formatted_s(:delimited) %></td>
        <td class="numeric"><%= (@home_relatives[old_home_id] * current_system.relative_price).to_formatted_s(:delimited) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", total_owned_rices_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
