<h1 class="h4">予定</h1>
<ul>
<% if @schedules.count > 0%>
  <% @schedules.each do |schedule| %>
  <li><%= schedule.worked_at %>から、<%= schedule.name %>の予定です。</li>
  <% end %>
<% end %>
<% if @minute.present? %>
  <li><%= @minute.schedule.worked_at %>に<%= @minute.schedule.name %>がありました(<%= link_to '議事録', minute_path(@minute.id, token: params[:token]), {target: :_blank, data: {turbolinks: false}} %>)</li>
<% end %>
</ul>
