<div class="row">
  <div class="col-md-12">
    <h1 style="padding: 2rem 4rem;"><%= current_organization.name %>(<%= current_user.term %>)</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render(:partial => 'show_schedules') %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render(:partial => 'show_lands') %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render(:partial => 'show_results') %>
  </div>
</div>
