<h1>作業日報管理システム(<%= current_system.term %>年度)</h1>
<style>
.hide_menu {cursor: pointer;}
</style>
<h2>日報管理</h2>
<ul class="list-unstyled">
  <% unless current_user.visitor? %><li><%= link_to '日報入力', new_work_path %></li><% end %>
  <li><%= link_to '日報一覧', works_path %>(<%= link_to 'CSV出力', works_path(format: :csv) %>)</li>
  <% if current_user.checkable? %><li><%= link_to '日報検証', work_verifications_path %></li><% end %>
  <% if current_user.manageable? %><li><%= link_to '月報入力', monthly_reports_path %></li><% end %>
</ul>
<h2>予定管理</h2>
<ul class="list-unstyled">
  <li><%= link_to '作業予定', schedules_path %></li>
</ul>
<% if current_user.manageable? %>
<h2>集計処理(<%= current_system.target_from.strftime('%Y年%m月') %>から<%= current_system.target_to.strftime('%Y年%m月') %>まで)</h2>
<ul class="list-unstyled">
  <li><%= link_to '集計対象期間変更', edit_menu_path(current_system) %></li>
  <li><%= link_to '世帯別日当一覧', work_results_path %>(<%= link_to 'CSV出力', work_results_path(format: :csv) %>)</li>
  <li><%= link_to '世帯別機械利用料', machine_results_path %>(<%= link_to 'CSV出力', machine_results_path(format: :csv) %>)</li>
  <li><%= link_to '作業別薬剤使用量一覧', work_chemicals_path %>(<%= link_to 'CSV出力', work_chemicals_path(format: :csv) %>)</li>
</ul>
<h2 class="hide_menu">統計処理</h2>
<ul class="list-unstyled">
  <li><%= link_to '統計照会', statistics_path %></li>
</ul>
<h2 class="hide_menu">会計処理</h2>
<ul class="list-unstyled">
  <li><%= link_to '新規確定', new_fix_path %></li>
  <li><%= link_to '確定一覧', fixes_path %></li>
</ul>
<% end %>
<% if current_user.checkable? %>
<h2 class="hide_menu">マスタ保守</h2>
<ul class="list-unstyled">
  <li><%= link_to '世帯マスタ保守', homes_path %></li>
  <li><%= link_to '作業者マスタ保守', workers_path %></li>
  <li><%= link_to '土地マスタ保守', lands_path %></li>
  <li><%= link_to '作業種別マスタ保守', work_kinds_path %></li>
  <li><%= link_to '機械種別マスタ保守', machine_types_path %></li>
  <li><%= link_to '機械マスタ保守', machines_path %></li>
  <li><%= link_to '薬剤種別マスタ保守', chemical_types_path %></li>
  <li><%= link_to '薬剤マスタ保守', chemicals_path %></li>
  <% if current_user.manageable? %>
  <li><%= link_to '作業分類マスタ保守', work_types_path %></li>
  <li><%= link_to '班マスタ保守', sections_path %></li>
  <% end %>
</ul>
<% end %>
<h2 class="hide_menu">管理</h2>
<ul class="list-unstyled">
  <% if current_user.admin? %><li><%= link_to '利用者マスタ保守', users_path %></li><% end %>
  <% if current_user.manageable? %>
  <li><%= link_to '対象年度変更', edit_term_menu_path(current_system) %></li>
  <li><%= link_to '管理情報変更', edit_organization_path(current_organization) %></li>
  <% end %>
  <li><%= link_to 'パスワード変更', edit_user_path(current_user) %></li>
  <li><%= link_to 'ログアウト', session_path(current_user.id), method: :delete %></li>
</ul>
<script>
$(function() {
  $(".hide_menu").on("click", function() {
    $(this).next("ul").slideToggle();
  });
  $(".hide_menu").next("ul").hide();
});
</script>