<div class="row">
  <div class="col-md-12">
    <h1 style="padding: 2rem 4rem;"><%= current_organization.name %>(<%= current_term_jp %>)</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <% if @schedules.present? || @minute.present? %>
            <%= render(partial: 'show_schedules') %>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if @tasks.present? %>
            <%= render(partial: 'show_tasks') %>
          <% end %>
        </div>
      </div>
      <% if @lands.present? %>
      <div class="row">
        <div class="col-md-12">
          <%= render(partial: 'show_lands') %>
        </div>
      </div>
      <% end %>
      <% if @user_topics.present? %>
      <div class="row">
        <div class="col-md-12" id="topics_content">
          <%= render(partial: 'show_topics') %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <% if @results.present? %>
    <%= render(partial: 'show_results') %>
    <% end %>
  </div>
</div>
