<!-- app/views/tasks/_task.html.erb -->
<tr id="<%= dom_id(task) %>">
  <td><%= link_to task.title, task %></td>
  <td><span class="badge text-bg-<%= task.priority_color %>"><%= task.priority_name %></span></td>
  <td><%= l(task.due_on) if task.due_on %></td>
  <td><span class="badge text-bg-<%= task.status_color %>"><%= task.status_name %></span></td>
  <td><span class="badge text-bg-light"><%= task.end_reason_name %></span></td>
  <td><%= task.assignee&.name %></td>
  <td></td>
</tr>
