<div class="d-flex align-items-center justify-content-between">
  <h1 class="mb-0">タスク詳細</h1>
  <div class="btn-toolbar">
  <%= turbo_frame_tag "task_watchers" do %>
    <%= render "tasks/watchers/show", task: task %>
  <% end %>
  <%= turbo_frame_tag "task_delete_button" do %>
    <%= render "tasks/statuses/delete_button", task: task %>
  <% end %>
  </div>
</div>

<div class="card shadow-sm mb-3 mt-2">
  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-8">
        <h4 class="mb-2"><%= I18n.t("activerecord.attributes.task.title") %>：
          <%= turbo_frame_tag "task_title" do %>
            <%= render "tasks/titles/show", task: task %>
          <% end %>
          <%= task.new_badge %>
          <%= turbo_frame_tag "task_priority" do %>
            <%= render "tasks/priorities/show", task: task %>
          <% end %>
          <%= turbo_frame_tag "task_status_badge" do %>
            <%= task.status_badge %>
          <% end %>
        </h4>
      </div>
      <div class="col-md-4 text-end">
        <%= turbo_frame_tag "task_status_controls" do %>
          <%= render "tasks/statuses/show", task: task %>
        <% end %>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-3 text-muted mb-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.creator_id") %>:</span>
        <%= task.creator_name %>
      </div>

      <div class="col-md-3 text-muted mb-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.assignee_id") %>:</span>
        <%= turbo_frame_tag "task_assignee" do %>
          <%= render "tasks/assignees/show", task: task %>
        <% end %>
      </div>

      <div class="col-md-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.due_on") %>:</span>
        <%= turbo_frame_tag "task_due_on" do %>
          <%= render "tasks/due_dates/show", task: task %>
        <% end %>
      </div>

      <div class="col-md-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.office_role") %>:</span>
        <%= turbo_frame_tag "task_office_role" do %>
          <%= render "tasks/office_roles/show", task: task %>
        <% end %>
      </div>
    </div>

    <%= turbo_frame_tag dom_id(@task, :status_date) do %>
      <%= render "tasks/statuses/date_row", task: task %>
    <% end %>

  </div>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-body p-0">
    <%= turbo_frame_tag "task_description" do %>
      <%= render "tasks/descriptions/show", task: @task %>
    <% end %>
  </div>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header d-flex align-items-center gap-2">
    <i class="bi bi-chat-dots"></i>
    <strong>やり取り / 更新履歴</strong>
    <div class="ms-auto">
      <%= turbo_frame_tag 'task_work_link' do %>
        <%= render "tasks/works/link", task: @task %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <%= turbo_frame_tag "task_events" do %>
      <%= render "tasks/events/list", task: @task, last_read_at: @last_read_at %>
    <% end %>
  </div>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-body">
    <%= turbo_frame_tag "new_comment" do %>
      <%= render "tasks/comments/new_form", task: @task, comment: @task.comments.build %>
    <% end %>
  </div>
</div>

<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', tasks_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>

<div class="modal fade"
     id="<%= dom_id(@task, :status_modal) %>"
     tabindex="-1" aria-hidden="true"
     data-controller="modal-reset"
     data-modal-reset-frame-id-value="<%= dom_id(@task, :status_modal_frame) %>"
     data-modal-reset-frame-src-value="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t("activerecord.attributes.task.status") %>変更</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag dom_id(@task, :status_modal_frame), loading: "lazy" %>
      </div>
    </div>
  </div>
</div>
