<div class="d-flex align-items-center justify-content-between">
  <h1 class="mb-0">タスク詳細</h1>
  <% if @task.deletable?(current_user) %>
    <div class="btn-group mr-2">
      <%= link_to '削除', @task, {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
    </div>
  <% end %>
</div>

<div class="card shadow-sm mb-3 mt-2">
  <div class="card-body">
    <h4 class="mb-2"><%= I18n.t("activerecord.attributes.task.title") %>：
      <%= turbo_frame_tag "task_title" do %>
        <%= render "tasks/titles/show", task: task %>
      <% end %>
      <%= turbo_frame_tag "task_priority" do %>
        <%= render "tasks/priorities/show", task: task %>
      <% end %>
      <%= task.status_badge %>
    </h4>

    <div class="row g-3">
      <div class="col-md-3 text-muted mb-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.creator_id") %>:</span> <%= task.creator_name %>
      </div>

      <div class="col-md-3 text-muted mb-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.assignee_id") %>:</span>
        <%= turbo_frame_tag "task_assignee" do %>
          <%= render "tasks/assignees/show", task: task %>
        <% end %>
      </div>

      <div class="col-md-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.due_on") %>:</span>
        <%= turbo_frame_tag "task_due_on" do %>
          <%= render "tasks/due_dates/show", task: task %>
        <% end %>
      </div>

      <div class="col-md-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.office_role") %>:</span>
        <%= turbo_frame_tag "task_office_role" do %>
          <%= render "tasks/office_roles/show", task: task %>
        <% end %>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.started_on") %>:</span>
        <%= task.started_on_display %>
      </div>

      <div class="col-md-3">
        <span class="h5"><%= I18n.t("activerecord.attributes.task.ended_on") %>:</span>
        <%= task.ended_on_display %>
      </div>

      <div class="col-md-3">
        <% if task.closed? %>
          <span class="h5"><%= I18n.t("activerecord.attributes.task.end_reason") %>:</span>
          <%= turbo_frame_tag "task_end_reason" do %>
            <%= render "tasks/end_reasons/show", task: task %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- 説明 -->
<div class="card shadow-sm mb-3">
  <div class="card-body p-0">
    <%= turbo_frame_tag "task_description" do %>
      <%= render "tasks/descriptions/show", task: @task %>
    <% end %>
  </div>
</div>

<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', tasks_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
