<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>コード</th>
              <th>名称</th>
              <th class="numeric">合計額</th>
              <% @work_types.each do |work_type| %>
                <th class="numeric"><%= work_type.name %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= account.code %></td>
                <td><%= account.name %></td>
                <td class="numeric"><%= number_to_currency(@journal_totals[account.code], {precision: 0, unit: ""}) %></td>
                <% @work_types.each do |work_type| %>
                  <td class="numeric"><%= number_to_currency(@account_totals[account.code][work_type.id], {precision: 0, unit: ""}) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="text-end mt-2">
        <%= link_to "CSV出力", sorimachi_totals_path(total_cost_type_id: @selected_total_cost_type_id, format: :csv), class: "btn btn-outline-success btn-sm" %>
      </div>
    </div>
  </div>
</div>
