<h2><%= chemical_name(@chemical_term.chemical) %></h2>
<table class="table table-sm table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>日付</th>
      <th>種別</th>
      <th class="numeric">入庫量</th>
      <th class="numeric">出庫量</th>
      <th class="numeric">増減量</th>
      <th class="numeric">在庫量</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.stock_on %></td>
        <td><%= stock.long_name %></td>
        <td class="numeric"><%= stock.stored_format %></td>
        <td class="numeric"><%= stock.shipping_format %></td>
        <td class="numeric"><%= stock.adjust_format %></td>
        <td class="numeric"><%= stock.stock_format %></td>
        <td>
          <div class="btn-group">
            <%= button_tag class: "btn btn-success btn-sm edit-button", disabled: !stock.editable?, type: :button,
              data: {path: edit_chemical_stock_path(chemical_id: @chemical_term.id, id: stock.id)} do %>
              修正
            <% end %>
            <%= link_to "日報",
              work_path(stock&.work_chemical&.work_id || 0),
              {target: :_blank, class: "btn btn-outline-success btn-sm #{stock.work_chemical_id.nil? ? "disabled" : ""}"} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= hidden_field_tag :new_path, new_chemical_stock_path(chemical_id: @chemical_term.id) %>
