<h1 data-controller="page-loader" data-page-loader-modules-value="pages/seedling-costs">育苗原価</h1>
<h2>単価</h2>
<%= form_with url: seedling_costs_path, method: :post do |f|  %>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="system_seedling_price" class="form-label">育苗費</label>
      <%= number_field_tag "system[seedling_price]", current_system.seedling_price, {required: true, class: "form-control", min: 0, max: 9999} %>
    </div>
  </div>
  <h2>育苗</h2>
  <div class="row">
    <table class="table table-sm" style="width:auto;">
      <thead>
        <tr>
          <th>種別</th>
          <th class="numeric">面積(α)</th>
          <th class="numeric">箱数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @work_types.each do |work_type| %>
          <% seedling = @seedlings.find {|sd| sd.work_type_id == work_type.id} %>
          <tr>
            <th><%= work_type.name %></th>
            <td class="numeric">
              <%= sprintf("%.1f", @lands[work_type.id] || 0) %>
              <%= hidden_field_tag nil, (@lands[work_type.id] || 0), {id: "land_#{work_type.id}"} %>
            </td>
            <td class="numeric">
              <%= seedling ? @seedling_quantities[seedling.id] || 0 : 0 %>
              <%= hidden_field_tag "seedlings[][work_type_id]", work_type.id, {id: nil} %>
              <%= hidden_field_tag "seedlings[][id]", seedling&.id, {id: nil} %>
              <%= hidden_field_tag "seedlings[][term]", current_term, {id: nil} %>
            </td>
            <td>
              <% if seedling %>
              <%= link_to "内訳", edit_seedling_cost_path(seedling_id: seedling.id), {class: "btn btn-success btn-sm"} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>合計</th>
          <td class="numeric"><%= sprintf("%.1f", @lands.values.inject(:+) || 0) %></td>
          <td>
            <%= number_field_tag nil, 0, {id: "seedling_quantity_sum", class: "form-control", min: 0, max: 99999, style: "width: 80px;"} %>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="btn_toolbar" class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
