<div class="d-inline" role="button"
     data-bs-toggle="modal"
     data-bs-target="#<%= dom_id(task, :priority_modal) %>">
  <%= task.priority_badge%>
</div>

<div class="modal fade"
  id="<%= dom_id(task, :priority_modal) %>"
  tabindex="-1" aria-hidden="true"
  data-controller="modal-reset"
  data-modal-reset-frame-id-value="<%= dom_id(task, :priority_modal_frame) %>"
  data-modal-reset-frame-src-value="<%= edit_task_priority_path(task) %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t("activerecord.attributes.task.priority") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag dom_id(task, :priority_modal_frame),
              src: edit_task_priority_path(task),
              loading: "lazy" %>
      </div>
    </div>
  </div>
</div>
