<h1>世帯別機械一覧</h1>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>所有世帯</th>
      <th>機械種別</th>
      <th>作業日</th>
      <th>作業種別</th>
      <th>作業内容</th>
      <th>単価</th>
      <th>作業量</th>
      <th>単位</th>
      <th>使用料</th>
    </tr>
  </thead>
  <tbody>
    <% old_owner_id = 0 %>
    <% @results.each do |result| %>
      <% if old_owner_id != result.owner.id %>
        <% old_owner_id = result.owner.id %>
        <tr class="tr-total1 table-row-primary-bg" data-code1="<%= old_owner_id %>">
          <td><%= result.owner.name %></td>
          <td colspan="6"></td>
          <td class="numeric"><%= @owner_totals[old_owner_id][:count] %></td>
          <td class="numeric"><%= number_to_currency(@owner_totals[old_owner_id][:amount], {precision: 0, unit: ""}) %></td>
        </tr>
      <% end %>
      <tr class="tr-detail" data-code1="<%= old_owner_id %>">
        <td></td>
        <td><%= result.machine.machine_type.name %></td>
        <td><%= result.worked_at %></td>
        <td><%= result.work_type_name %></td>
        <td><%= result.work_name %></td>
        <td class="numeric"><%= result.price %></td>
        <td class="numeric"><%= result.quantity %></td>
        <td><%= result.adjust.unit %></td>
        <td class="numeric"><%= result.amount %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", machine_results_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", (params[:fixed_at] ? fixes_path : menu_index_path), {class: "btn btn-outline-dark"} %>
  </div>
</div>
