<%= error_print(@land) %>
<%= form_with(model: @land, url: @land.new_record? ? lands_groups_path : lands_group_path(@land)) do |f| %>
<div class="row">
  <div class="field mb-3 col-md-2">
    <%= f.label :place, class: "col-form-label-lg form-label" %>
    <%= f.text_field :place, {maxlength: 15, size: 20, required: true, class: "form-control"} %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :land_place_id, class: "col-form-label-lg form-label" %>
    <%= f.select(:land_place_id, @places.map {|place| [place.name, place.id]}, {}, {class: "form-select"}) %>
  </div>
  <div class="col-md-8">
  <%= render(partial: "lands/map", :locals => {:f => f}) %>
  </div>
</div>
<div class="row">
  <div class="field mb-3 col-md-2">
    <%= f.label :display_order, class: "col-form-label-lg form-label" %>
    <%= f.number_field(:display_order, {maxlength: 4, size: 4, required: true, class: "form-control"}) %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :broccoli_mark, class: "col-form-label-lg form-label" %>
    <%= f.text_field :broccoli_mark, {maxlength: 1, class: "form-control"} %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :area, class: "col-form-label-lg form-label" %>
    <%= f.number_field(:area, {step: 0.01, max: 999.99, min: 0.01, size: 6, required: true, class: "form-control", id: :land_area}) %>
  </div>
  <div class="field mb-3 col-md-1">
    <input type="button" class="btn btn-primary" value="計算" id="re_calc" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table id="tbl_lands" class="table table-sm">
      <thead>
        <tr>
          <th>No.</th>
          <th>地番</th>
          <th>所有者</th>
          <th>面積</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id="tbody_lands">
        <% @land.members.each_with_index do |land, i| %>
          <tr id="land_<%= land.id %>">
            <td class="numeric"><%= i + 1 %></td>
            <td><%= land.place %></td>
            <td><%= land.owner&.name %></td>
            <td class="numeric"><%= land.area %></td>
            <td>
              <%= tag(:input, {type: :button, value: "削除", class: "btn btn-outline-dark btn-sm remove-land", data: {land: land.id}})%>
              <%= hidden_field_tag "members[][land_id]", land.id, {:id => nil} %>
              <%= hidden_field_tag "members[][display_order]", i + 1, {:id => nil} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="land_pos" class="lands_search col-md-6">
    <input type="text" size="30" class="form-control" id="land" value="" placeholder="地番を入力してください。" />
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= f.submit '登録', class: "btn btn-warning" %>
  </div>
  <% unless @land.new_record? %>
    <div class="btn-group mr-2">
      <%= link_to '削除', lands_group_path(@land), {data: {confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
    </div>
  <% end %>
  <div class="btn-group mr-2">
    <%= link_to "戻る",  lands_groups_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<% end %>
<%= hidden_field_tag "autocomplete_lands_groups_path", autocomplete_lands_groups_path %>
<%= javascript_pack_tag 'lands-groups', 'data-turbo-track': 'reload' %>
