<h1>燃料原価登録</h1>
<%= form_tag(action: :create) do  %>
<div class="row">
  <div class="col-md-4">
    <div class="form-inline">
      <label for="light_oil_price" class="col-form-label">標準単価</label>
      <%= number_field_tag :light_oil_price, current_system.light_oil_price, {class: "form-control", min: 0, max: 999, style: "width: 100px;"} %>
    </div>
  </div>
</div>
<div class="row">
  <div id="table_wrapper" class="wrapper small" style="overflow-y: scroll;">
    <table id="tbl_list" class="table table-sm">
      <thead style="background-color:white;">
        <tr>
          <th rowspan="2">日付</th>
          <% @machines.each do |machine| %>
            <th><%= machine.type_name %></th>
          <% end %>
        </tr>
        <tr>
          <% @machines.each do |machine| %>
            <th><%= machine.alias_name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="list">
        <% @works.each do |work| %>
        <tr>
          <th><%= work.worked_at_short %></th>
          <% @machines.each do |machine| %>
            <% machine_result = @machine_results.find {|mr| mr.machine_id == machine.id && mr.work_result.work_id == work.id} %>
            <% if machine_result %>
            <td>
              <%= number_field_tag "machine_results[#{machine_result.id}][fuel_usage]", machine_result.fuel_usage, {class: "form-control", min: 0, max: 999.9, step: 0.1, style: "width: 80px;"} %>
              <%= hidden_field_tag "machine_results[#{machine_result.id}][old_usage]", machine_result.fuel_usage %>
            </td>
            <% else %>
            <td></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<% end %>
<script>
$(function() {
    $("#tbl_list").floatThead({
        position: 'absolute',
        scrollContainer:true,
        zIndex: 999
    });
    $(window).resize(function() {
        setTableWrapperHeight();
    });
    setTableWrapperHeight();
});

function setTableWrapperHeight() {
    if($("#table_wrapper")[0]) {
        $("#table_wrapper").height($(window).height() - $("#table_wrapper").offset().top - $("#btn_toolbar").height() - 10);
    }
}

</script>
