<%= turbo_stream.update 'tab' do %>
  <div class="col-md-12">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>年度</th>
          <% @total_all.each do |ta| %>
            <th class="numeric"><%= ta[0] %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>作業時間</th>
          <% @total_all.each do |ta| %>
          <td class="numeric"><%= sprintf("%.1f", ta[1]) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <%= hidden_field_tag :tab1_color, default_color %>
  <%= hidden_field_tag :tab1_labels, labels(@total_all) %>
  <%= hidden_field_tag :tab1_data, tab1_data(@total_all) %>
<% end %>
