<%= turbo_stream.update 'tab' do %>
  <div class="col-md-12">
    <table class="table table-sm">
      <thead>
        <tr>
            <th>年度</th>
            <% @total_all.each do |ta| %>
            <th class="numeric"><%= ta[0] %></th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% t("statistics.age").each_with_index do |age, i| %>
          <tr>
            <th><%= age %></th>
            <% @total_all.each do |ta| %>
            <td class="numeric"><%= sprintf("%.1f", @total_age[[ta[0], i]] || 0) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= hidden_field_tag :tab3_labels, labels(@total_all) %>
  <%= hidden_field_tag :tab3_datasets, tab3_datasets(@total_all, @total_age) %>
<% end %>
