<h1>統計情報一覧</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link active" data-toggle="tab">全作業時間</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">作業種別別時間</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link" data-toggle="tab">世代別時間</a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <div class="row">
      <div class="col-md-12">
        <canvas id="chart1" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm">
          <tbody>
            <tr>
              <% @total_all.each do |ta| %>
                <td class="numeric"><%= sprintf("%.1f", ta[1]) %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="tab2" class="tab-pane">
    <div class="row">
      <div class="col-md-12">
        <canvas id="chart2" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>年度</th>
              <% @total_all.each do |ta| %>
                <th style="text-align:right;"><%= ta[0] %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% categories = WorkType.categories %>
            <% categories.each do |category| %>
            <tr>
              <th><%= category.name %></th>
              <% @total_all.each do |ta| %>
                <td class="numeric"><%= sprintf("%.1f", @total_genre[[category.genre, ta[0]]] || 0) %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="tab3" class="tab-pane">
    <div class="row">
      <div class="col-md-12">
        <canvas id="chart3" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>年度</th>
              <% @total_all.each do |ta| %>
                <th style="text-align:right;"><%= ta[0] %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% t("statistics.age").each_with_index do |age, i| %>
            <tr>
              <th><%= age %></th>
              <% @total_all.each do |ta| %>
                <td class="numeric"><%= sprintf("%.1f", @total_age[[ta[0], i]] || 0) %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + menu_index_path + "';"), class: "btn btn-outline-dark" %>
<script>
var colors = ['rgba(99, 200, 132, 1.0)', 'rgba(99, 132, 200, 1.0)', 'rgba(200, 200, 132, 1.0)', 'rgba(132, 132, 132, 1.0)', 'rgba(99, 200, 200, 1.0)', 'rgba(200, 132, 132, 1.0)'];
var ctx1 = document.getElementById("chart1").getContext('2d');
var chart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: <%= @total_all.map {|ta| ta[0] }.to_json.html_safe %>,
        datasets: [{
            label: "作業時間",
            data: <%= @total_all.map {|ta| ta[1] } %>,
            backgroundColor: colors[0],
            fill: false
        }]
    }
});

var ctx2 = document.getElementById("chart2").getContext('2d');
var chart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: <%= @total_all.map {|ta| ta[0] }.to_json.html_safe %>,
      datasets: [
            <% categories.each_with_index do |category, i| %>
            {
              label: <%= category.name.to_json.html_safe %>,
              data: <%= @total_all.map {|ta| @total_genre[[category.genre, ta[0]]] || 0 } %>,
              backgroundColor: colors[<%= i%>],
              fill: false
            },
            <% end %>
        ]
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true
        }],
        yAxes: [{
          stacked: true,
          ticks: {
              beginAtZero: true,
              min: 0
          }            
        }]
      }
    }
});

var ctx3 = document.getElementById("chart3").getContext('2d');
var chart3 = new Chart(ctx3, {
    type: 'bar',
    data: {
      labels: <%= @total_all.map {|ta| ta[0] }.to_json.html_safe %>,
      datasets: [
            <% t("statistics.age").each_with_index do |age, i| %>
            {
              label: <%= age.to_json.html_safe %>,
              data: <%= @total_all.map {|ta| @total_age[[ta[0], i]] || 0 } %>,
              backgroundColor: colors[<%= i%>],
              fill: false
            },
            <% end %>
        ]
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true
        }],
        yAxes: [{
          stacked: true,
          ticks: {
              beginAtZero: true,
              min: 0
          }            
        }]
      }
    }
});

</script>
