<div class="row" data-controller="page-loader" data-page-loader-modules-value="pages/work-form">
  <div class="col-md-4">
    <%= f.label :worked_at, '', class: "col-form-label-lg form-label" %>
    <%= f.date_field :worked_at, {required: true, class: "form-control", min: current_system.start_date, max: current_system.end_date} %>
  </div>
  <div class="col-md-2">
    <%= f.label :weather_id, '', class: "col-form-label-lg form-label" %>
    <%= f.select(:weather_id, enum_options_for(Work, :weather_id), {}, {required: true, class: "form-select"}) %>
  </div>
  <div class="col-md-2">
    <%= f.label :start_at, '', class: "col-form-label-lg form-label" %>
    <%= f.time_field :start_at, {step: 1800, required: true, class: "form-control", value: f.object.start_at&.strftime('%H:%M')} %>
  </div>
  <div class="col-md-2">
    <%= f.label :end_at, '', class: "col-form-label-lg form-label" %>
    <%= f.time_field :end_at, {step: 1800, required: true, class: "form-control", value: f.object.end_at&.strftime('%H:%M')} %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.label :work_type_id, '', class: "col-form-label-lg form-label" %>
  </div>
</div>
<div class="row"
  data-controller="dependent-select"
  data-dependent-select-url-value="<%= work_kinds_works_path %>"
  data-dependent-select-param-name-value="work_type_id"
  data-action="change->dependent-select#fetch">
  <% WorkCategory.usual.each do |category| %>
    <div class="col-md-2">
      <div class="form-check form-check-inline h5">
        <%= category.name %>
      </div>
    </div>
    <div class="col-md-10">
      <% WorkType.select_category(category).by_term(current_term).each do |work_type| %>
        <div class="form-check form-check-inline">
          <%= f.radio_button :work_type_id, work_type.id, {id: "work_type_#{work_type.id}", class: "form-check-input", required: true} %>
          <%= label_tag "work_type_#{work_type.id}", work_type.name, {class: "form-check-label form-label"} %>
        </div>        
      <% end %>
    </div>
  <% end %>    
</div>
<div class="row">
  <div class="col-md-4">
    <%= f.label :work_kind_id, '', class: "col-form-label-lg form-label" %>
    <%= f.collection_select(:work_kind_id, @work_kinds, :id, :name, {}, {class: "form-select", id: :work_kind_id, required: true}) %>
  </div>
  <div class="col-md-8">
    <%= f.label :name, '', class: "col-form-label-lg form-label" %>
    <%= f.text_field :name, {maxlength: 40, class: "form-control"} %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.label :remarks, '', class: "col-form-label-lg form-label" %>
    <%= f.text_area :remarks, {rows: 3, cols: 40, class: "form-control"} %>
  </div>
</div>
