<%= f.hidden_field :term %>

<h2>内容</h2>
<div class="row">
  <div class="col-md-3 h3"><%=h @work.worked_at %></div>
  <div class="col-md-3 h3"><%=h @work.work_time %></div>
  <div class="col-md-2 h3"><%=h @work.weather_name %></div>
</div>
<div class="row">
  <div class="col-md-4 h3"><%=h @work.category_name %></div>
  <div class="col-md-4 h3"><%=h @work.name %></div>
</div>
<div class="row">
  <div class="col-md-8 h5 border border-dark" style="height:100px; overflow:auto"><%=hbr @work.remarks %></div>
</div>

<%= f.hidden_field :weather_id %>
<%= f.hidden_field :worked_at %>
<%= f.hidden_field :start_at %>
<%= f.hidden_field :end_at %>
<%= f.hidden_field :work_type_id %>
<%= f.hidden_field :name %>
<%= f.hidden_field :remarks %>
