<div class="pagebreak"></div>
<div id="content_chemicals" class="content">
  <div class="sub_title">※使用薬剤</div>
  <table id="detail_chemicals">
    <thead>
    <tr>
      <th style="width:100px;">種別</th>
      <th style="width:320px;">名称</th>
      <th style="width:100px;">使用量</th>
      <th style="width:100px;">(10a当)</th>
      <th style="width:100px;">希釈</th>
    </tr>
    </thead>
    <tbody>
      <% [current_organization.chemicals_count, @chemicals.count].max.times do |i| %>
        <% if i < @chemicals.count %>
          <% chemical = @chemicals[i] %>
          <td class="chemical"><%= chemical.chemical_type.name %></td>
          <td class="chemical"><%= chemical.name %><%= chemical.unit_scale.zero? ? "(#{chemical.base_base_quantity}#{chemical.base_unit_name})" : '' %></td>
          <td class="chemical numeric"><%= chemical.total_quantity %><%= chemical.unit %></td>
          <td class="chemical numeric"><%= chemical_per_area(@work.sum_areas, chemical) %></td>
          <td class="chemical numeric"><%= chemical_dilution(@work.work_chemicals, chemical.id) %></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div id="cover_chemicals" class="cover" onclick="location.href='<%=raw new_work_use_chemical_path(work_id: @work) %>'"></div>
</div>
