<div id="show">
  <div class="title">作 業 日 報</div>
  <div class="title"><%= @work.worked_at_long %>&nbsp;天候(<%= @work.weather_name %>)</div>
  <div class="title">作業開始<%= @work.start_at %>&nbsp;作業終了<%= @work.end_at %></div>
</div>
<span id="work_id" style="font-family:sans-serif; font-size: 9pt;">No.<%= @work.id%></span>
<div id="content_work" class="content">
  <table id="detail_work">
    <% categories = WorkType.categories %>
    <% categories.each_with_index do |category, i| %>
    <tr>
        <% if i == 0 %>
        <th rowspan="<%= categories.count %>" style="vertical-align:middle;width:40px;">分<br /><br /><br />類</th>
        <% end %>
        <th style="width:120px;letter-spacing:12px;"><%= @work.select_work_type(category) %></th>
        <td style="width:560px;">
        <% WorkType.for_work(category, @work).each do |work_type| %>
        <span class="genre"><%= @work.select_work_type(work_type) %></span>
        <% end %>
        </td>
    </tr>
    <% end %>
  </table>
  <table id="detail_remark">
    <tr style="height:80px;">
        <th style="width:40px;">内<br />容</th>
        <td style="width:320px;"><%=h @work.name %></td>
        <th style="width:40px;">詳<br />細</th>
        <td style="width:320px; overflow:hidden;"><%=hbr @work.remarks %></td>
    </tr>
  </table>
  <div id="cover_work" class="cover" onclick="location.href='<%=raw edit_work_path(@work) %>'"></div>
</div>
