<% worker_count = [current_organization.workers_count, @results.count].max %>
<div id="content_workers" class="content">
  <table id="detail_workers">
    <thead>
    <tr>
      <th style="width:40px;">&nbsp;</th>
      <th style="width:230px;">作業者名</th>
      <th style="width:80px;">時間</th>
      <th style="width:40px;">体調</th>
      <th colspan="2">備 考</th>
    </tr>
    </thead>
    <tbody>
      <% worker_count.times do |i| %>
      <tr>
        <td class="numeric"><%= i + 1 %></td>
        <td><%=raw @results[i] ? @results[i].worker_name(current_organization) : "" %></td>
        <td class="numeric"><%=raw @results[i] ? @results[i].hours : "" %></td>
        <td class="center"><%= @results[i] ? @results[i].health&.code : "" %></td>
        <td style="width:240px;"><%= @results[i] ? @results[i].remarks : "" %></td>
        <% if i.zero? %>
        <td class="remarks" rowspan="<%= worker_count%>" style="width:90px;">
        体調欄に該当する番号を記入する<br/><br/>
        <% Health.usual.each do |health| %>
        <%= health.code %>:<%= health.name %><br />
        <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div id="cover_workers" class="cover" onclick="location.href='<%=raw new_work_worker_path(work_id: @work) %>'"></div>
</div>
