<h1>作業日報／作業田登録</h1>
<script type="text/javascript">
<!--
window.onload = function() {
    calc_total_area();
}
  // -->
</script>
<%= javascript_include_tag 'work-lands.js' %>
<%= render(partial: "error") %>

<%= form_for(@work.model, url: {action: :update }, html: {method: :put}) do |f| %>
  <%= render(partial: 'show_work', :locals => {:f => f}) %>

<h2>作業田</h2>
 <div style="float:left;">
  <table id="tbl_lands">
    <thead style="display:block;">
    <tr>
      <th style="width:20px;">No.</th>
      <th style="width:150px;">地番</th>
      <th style="width:60px;">面積</th>
      <th style="width:50px;">&nbsp;</th>
    </tr>
    </thead>
    <tbody id="tbody_lands" style="display:block; height: 400px; overflow-y:scroll;">
    <% @work_lands.each_with_index do |work_land, i| %>
      <tr id="land_<%= work_land.land_id %>">
        <td class="numeric" style="width:20px;"><%= i+1 %></td>
        <td style="width:150px;"><%= work_land.place_name %></td>
        <td class="numeric" style="width:60px;"><%= work_land.area %></td>
        <td style="width:50px;">
            <input type="button" value="削除" onclick="remove_land(<%= work_land.land_id %>)" />
            <%= hidden_field_tag "work_lands[][land_id]", work_land.land_id, {:id => nil} %>
            <%= hidden_field_tag "work_lands[][display_order]", i + 1, {:id => nil} %>
        </td>
      </tr>
     <% end %>
    </tbody>
    <tfoot style="display:block;">
      <tr style="background-color:lightcyan;">
        <td style="width:20px;">&nbsp;</td>
        <td style="text-align: center;width:150px;">合計</td>
        <td id="total_area" class="numeric" style="width:60px;"></td>
        <td style="width:50px;">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
 </div>
<div class="lands_search" style="float:right;">
  <%= autocomplete_field_tag :land, '', autocomplete_for_land_place_works_path, {placeholder: "地番または面積(α)を入力してください。", size: 30}  %>
</div>
<div style="clear:both; margin-top:20px;">
  <%= f.submit '登録', :name => 'regist_lands' %>
  <%= f.submit '戻る', :name => 'cancel' %>
</div<
<% end %>
