<h1>作業日報(WCS)登録</h1>
<%= error_print(@work) %>
<%= form_for(@work, url: {action: :update }, html: {method: :put}) do |f| %>
  <div class="row">
    <div class="col-md-4 form-inline">
      <label for="whole_crop_weight">重量</label>
      <%= number_field_tag "whole_crop[weight]", @whole_crop&.rolls, {max: 999, min: 0, step: 1, required: true, class: "form-control form-control-sm", style: "width: 100px;"} %><span>kg</span>
    </div>
    <div class="col-md-4 form-inline">
      <label for="whole_crop_weight">本数</label>
      <%= number_field_tag "whole_crop[rolls]", @whole_crop&.rolls, {max: 9999, min: 0, step: 1, required: true, class: "form-control form-control-sm", style: "width: 100px;"} %><span>本</span>
    </div>
  </div>
  <div class="row">
    <div class="btn-toolbar">
      <div class="btn-group mr-2">
        <%= f.submit '登録', :name => 'regist_whole_crop', class: "btn btn-warning" %>
      </div>
      <div class="btn-group mr-2">
        <%= link_to '戻る', work_path(@work.model), {class: "btn btn-outline-dark"} %>
      </div>
    </div>
  </div>
<% end %>
