<h1>作業日報(薬剤)登録</h1>
<%= error_print(@work) %>

<%= form_for(@work.model, url: {action: :update }, html: {method: :put}) do |f| %>
  <%= render(:partial => 'show_work', :locals => {:f => f}) %>
  <% group_count = [@work.work_chemicals.maximum(:chemical_group_no).to_i, current_organization.chemical_group_count].max %>
  <div class="row">
    <div class="col-md-2">総面積</div>
    <div class="col-md-2"><%= @work.sum_areas %>a</div>
    <div class="col-md-8 form-group">
      <% group_count.times do |index| %>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="col-group" id="col-group<%= index%>" value="<%= index%>">
          <label class="form-check-label" for="col-group<%= index%>"><%= index + 1%>グループ</label>
        </div>
      <% end %>
    </div>
  </div>
  <h2>薬剤</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>種別</th>
            <th>名称</th>
            <% group_count.times do |index| %>
            <th class="col-data<%= index%>">10a当</th>
            <th class="col-data<%= index%>">希釈</th>
            <th class="col-data<%= index%>">希釈倍率</th>
            <th class="col-data<%= index%>">使用量</th>
            <th class="col-data<%= index%>"></th>
            <th class="col-data<%= index%>">備考</th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @chemicals.each do |chemical| %>
        <tr>
          <td><%= chemical.name %></td>
          <td><%= chemical.chemical_type.name %></td>
          <% group_count.times do |index| %>
            <% work_chemical = @work.work_chemicals.find_by(chemical_id: chemical.id, chemical_group_no: index + 1) %>
            <td class="col-data<%= index%>">
              <%= check_box_tag "chemicals[#{chemical.id}][#{index + 1}][area_flag]", true, false, {class: "form-control form-control-sm"} %>
            </td>
            <td class="col-data<%= index%>">
              <%= check_box_tag "chemicals[#{chemical.id}][#{index + 1}][aqueous_flag]", true, false, {class: "form-control form-control-sm"} %>
            </td>
            <td class="col-data<%= index%>">
              <%= number_field_tag "chemicals[#{chemical.id}][#{index + 1}][magnification]", work_chemical&.magnification, {min: 0, max: 9999.9, step: 0.1, class: "form-control form-control-sm"} %>
            </td>
            <td class="col-data<%= index%>">
              <%= number_field_tag "chemicals[#{chemical.id}][#{index + 1}][quantity]", work_chemical&.quantity, {min: 0, max: 9999.9, step: 0.1, class: "form-control form-control-sm"} %>
            </td>
            <td class="col-data<%= index%>"><%= chemical.unit %></td>
            <td class="col-data<%= index%>">
            <%= text_field_tag "chemicals[#{chemical.id}][#{index + 1}][remarks]", work_chemical&.remarks, class: "form-control form-control-sm" %>
            </td>
          <% end %>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', :name => 'regist_chemicals', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '戻る', work_path(@work.model), {class: "btn btn-outline-dark"} %>
    </div>
  </div>
<% end %>
<script>
window.addEventListener("load", (event) => {
  document.querySelectorAll(".col-data1").forEach((element) => {
    element.style.display = "none";
  });
});
</script>