<h1>作業日報(薬剤)登録</h1>
<%= error_print(@work) %>

<%= form_for(@work.model, url: {action: :update }, html: {method: :put}) do |f| %>
  <%= render(:partial => 'show_work', :locals => {:f => f}) %>

  <h2>薬剤</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-sm">
        <tr>
          <th>種別</th>
          <th>名称</th>
          <th>数量</th>
          <th>&nbsp;</th>
        </tr>
        <% @chemicals.each do |chemical| %>
        <tr>
          <td><%=h chemical.name %></td>
          <td><%=h chemical.chemical_type.name %></td>
          <td>
            <% work_chemicals = @work.work_chemicals.where(chemical_id: chemical.id) %>
            <%= number_field_tag "chemicals[#{chemical.id}]", work_chemicals.exists? ? work_chemicals.first.quantity : 0, {min: 0, max: 999, step: 1, class: "form-control form-control-sm"} %>
          </td>
          <td><%=h chemical.unit %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', :name => 'regist_chemicals', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= f.submit '戻る', :name => 'cancel', class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
