<h1>作業日報(薬剤)登録</h1>
<%= error_print(@work) %>

<%= form_for(@work.model, url: {action: :update }, html: {method: :put}) do |f| %>
  <%= render(:partial => 'show_work', :locals => {:f => f}) %>
  <% group_count = [@work.work_chemicals.maximum(:chemical_group_no).to_i, current_organization.chemical_group_count].max %>
  <h2>薬剤</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-sm">
        <tr>
          <th>種別</th>
          <th>名称</th>
          <th colspan="<%= group_count %>">数量</th>
          <th>&nbsp;</th>
        </tr>
        <% @chemicals.each do |chemical| %>
        <tr>
          <td><%= chemical.name %></td>
          <td><%= chemical.chemical_type.name %></td>
          <% group_count.times do |index| %>
          <td>
            <%= number_field_tag "chemicals[#{chemical.id}][#{index + 1}]", @work.work_chemicals.find_by(chemical_id: chemical.id, chemical_group_no: index + 1)&.quantity, {min: 0, max: 9999.9, step: 0.1, class: "form-control form-control-sm"} %>
          </td>
          <% end %>
          <td><%= chemical.unit %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', :name => 'regist_chemicals', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + work_path(@work.model) + "';"), class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
