<h1>作業日報(作業者)登録</h1>
<%= javascript_include_tag 'work-workers.js' %>
<%= error_print(@work) %>

<%= form_for(@work.model, url: {action: :update }, html: {method: :put}) do |f| %>
  <%= render(:partial => 'show_work', :locals => {:f => f}) %>

  <h2>作業者</h2>
  <div style="float:left;">
  <table id="tbl_workers" class="table table-sm">
    <thead>
    <tr>
      <th style="width:20px;">No.</th>
      <th style="width:120px;">作業者名</th>
      <th style="width:80px;">時間</th>
      <th style="width:40px;">&nbsp;</th>
    </tr>
    </thead>
    <tbody id="tbody_workers">
    <% @results.each_with_index do |result, i| %>
      <tr id="worker_<%= result.worker_id %>">
        <td class="numeric"><%= i + 1 %></td>
        <td><%= result.worker.name %></td>
        <td><%= number_field_tag "results[][hours]", result.hours, {id: nil, max: 99, min: 0, step: 0.5, required: true} %></td>
        <td>
            <input type="button" value="削除" class="btn btn-outline-dark btn-sm" onclick="remove_worker(<%= result.worker_id %>)" />
            <%= hidden_field_tag "results[][worker_id]", result.worker_id, {:id => nil} %>
            <%= hidden_field_tag "results[][display_order]", i + 1, {:id => nil} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
  <div style="float:left;margin-left: 40px; margin-top: 25px;">
    <%= select_tag(:section, options_for_select(@sections), {:onChange => "change_section(this);", class: "form-control"}) %>
    <div style="height:300px; overflow:auto; border-style:double;overflow-x:hidden;">
    <table id="master_workers">
      <tbody>
        <% Worker.usual.each do |worker| %>
        <tr id="master_worker_<%= worker.id %>">
          <td><input id="add_button_<%= worker.id %>" type="button" class="btn btn-outline-dark btn-sm" value="←追加" onclick="add_worker(<%= worker.id %>, '<%= worker.name %>')" /></td>
          <td style="width:80px;"><%= worker.home.name %></td>
          <td style="width:120px;"><%= worker.name %></td>
          <td style="display: none;"><%= worker.home.section_id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <div class="btn-toolbar" style="clear:left;">
    <div class="btn-group mr-2">
      <%= f.submit '登録', :name => 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= f.submit '戻る', :name => 'cancel', class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
