<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>下出来洲営農組合</Author>
  <Version>11.9999</Version>
 </DocumentProperties>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>13905</WindowHeight>
  <WindowWidth>24795</WindowWidth>
  <WindowTopX>480</WindowTopX>
  <WindowTopY>30</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Center"/>
   <Borders/>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m41617812">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s21">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s26">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="MS UI Gothic" x:CharSet="128" x:Family="Modern" ss:Size="11"/>
  </Style>
  <Style ss:ID="s33">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <NumberFormat ss:Format="0_ "/>
  </Style>
  <Style ss:ID="s34">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s37">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ ゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"/>
   <NumberFormat ss:Format="yyyy\-mm\-dd\(ddd\)"/>
  </Style>
  <Style ss:ID="s38">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ ゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"/>
   <NumberFormat ss:Format="hh:mm"/>
  </Style>
  <Style ss:ID="s40">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ ゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"/>
   <NumberFormat ss:Format="0.0_);[Red]\(0.0\)"/>
  </Style>
  <Style ss:ID="s42">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ ゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"/>
   <NumberFormat ss:Format="0.0_ "/>
  </Style>
 </Styles>
 <Worksheet ss:Name="作業一覧">
  <Names>
   <NamedRange ss:Name="Print_Titles" ss:RefersTo="=作業一覧!R1"/>
  </Names>
  <Table ss:ExpandedColumnCount="10" ss:ExpandedRowCount="<%= @works.count + 1 %>" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="54" ss:DefaultRowHeight="13.5">
   <Column ss:Width="96.75"/>
   <Column ss:Width="39"/>
   <Column ss:Width="21"/>
   <Column ss:Width="39"/>
   <Column ss:Width="33"/>
   <Column ss:Width="40"/>
   <Column ss:Width="40"/>
   <Column ss:AutoFitWidth="0" ss:Width="157.5"/>
   <Column ss:Width="31.5"/>
   <Column ss:Width="36"/>
   <Row>
    <Cell ss:StyleID="s21"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">サギョウビ</PhoneticText><Data
      ss:Type="String">作業日</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeAcross="2" ss:StyleID="m41617812"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ジコク</PhoneticText><Data
      ss:Type="String">時刻</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s34"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ジカン</PhoneticText><Data
      ss:Type="String">時間</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s21"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ブンルイ</PhoneticText><Data
      ss:Type="String">分類</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s21"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">シュベツ</PhoneticText><Data
      ss:Type="String">種別</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s21"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">サギョウナイヨウ</PhoneticText><Data
      ss:Type="String">作業内容</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s21"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ニンズウ</PhoneticText><Data
      ss:Type="String">人数</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s21"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">コウスウ</PhoneticText><Data
      ss:Type="String">工数</Data><NamedCell ss:Name="Print_Titles"/></Cell>
   </Row>
<% @works.each do |work| %>
   <% worked_at = work.worked_at.strftime('%Y-%m-%d') %>
   <Row>
    <Cell ss:StyleID="s37"><Data ss:Type="DateTime"><%=h worked_at%>T00:00:00.000</Data></Cell>
    <Cell ss:StyleID="s38"><Data ss:Type="DateTime"><%=h worked_at%>T<%=h work.start_at_format %>:00.000</Data></Cell>
    <Cell ss:StyleID="s38"><Data ss:Type="String">～</Data></Cell>
    <Cell ss:StyleID="s38"><Data ss:Type="DateTime"><%=h worked_at%>T<%=h work.end_at_format %>:00.000</Data></Cell>
    <Cell ss:StyleID="s40"
     ss:Formula="=IF((HOUR(RC[-1])&gt;=13) * (HOUR(RC[-3])&lt;=12), (RC[-1]-RC[-3])*24 -1,(RC[-1]-RC[-3])*24)"><Data
      ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s26"><Data ss:Type="String"><%=h work.work_type.genre_name %></Data></Cell>
    <Cell ss:StyleID="s26"><Data ss:Type="String"><%=h work.work_type.name %></Data></Cell>
    <Cell ss:StyleID="s26"><Data ss:Type="String"><%=h work.name_format %></Data></Cell>
    <Cell ss:StyleID="s33"><Data ss:Type="Number"><%=h work.workers.count %></Data></Cell>
    <Cell ss:StyleID="s42"><Data ss:Type="Number"><%=h work.sum_hours %></Data></Cell>
   </Row>
 <% end %>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.51181102362204722" x:Data="&amp;R&amp;D &amp;T"/>
    <Footer x:Margin="0.51181102362204722" x:Data="&amp;C&amp;P/&amp;N"/>
    <PageMargins x:Bottom="0.59055118110236227" x:Left="0.78740157480314965"
     x:Right="0.59055118110236227" x:Top="0.78740157480314965"/>
   </PageSetup>
   <FitToPage/>
   <Print>
    <FitHeight>0</FitHeight>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <VerticalResolution>0</VerticalResolution>
   </Print>
   <Selected/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>2</ActiveRow>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>
