<h1>作業一覧</h1>
<%= form_tag works_path, {method: :get} do %>
<div class="row">
  <div class="col-md-3">
    <div class="form-inline">
      <label for="month" class="h5">年月</label>
      <%= select_tag(:month, options_for_select(@months, @month), {class: "form-control"}) %>
    </div>
  </div>
  <div class="col-md-2">
    <%= button_tag "検索", type: :submit, name: "search", class: "btn btn-primary" %>
  </div>
</div>
<input type="hidden" name="page" value="1" />
<% end %>
<hr />
<% if @works.count > 0 %>
<div id="list">
  <%= render partial: "list" %>
</div>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to 'CSV出力', works_path(format: :csv), class: "btn btn-primary" %>
  </div>
  <div class="btn-group mr-2">
    <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + menu_index_path + "';"), class: "btn btn-outline-dark" %>
  </div>
</div>
