<%= form_with url: works_path, method: :get, data: {turbo_frame: :list}, id: :search_form do |f| %>
<div class="row">
  <div class="col-md-3">
     <h1>作業一覧</h1>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <label for="term" class="h5 form-label">年度</label>
      <%= select_tag(:term, options_for_select(@terms, selected: @term),
        {
          class: "form-select",
          data: {
            controller: "dependent-select",
            action: "change->dependent-select#fetch",
            dependent_select_url_value: work_types_works_path,
            dependent_select_param_name_value: "term"
          }
        }
      ) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <label for="month" class="h5 form-label">作業日</label>
      <%= date_field_tag :worked_at1, @worked_at1, {class: "form-control"} %>
      <span class="input-group-text">～</span>
      <%= date_field_tag :worked_at2, @worked_at2, {class: "form-control"} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="input-group">
      <label for="work_type_id" class="h5 form-label">分類</label>
      <%= select_tag(:work_type_id, options_from_collection_for_select(@work_types, :id, :name, @work_type_id),
        {
          include_blank: true,
          class: "form-select",
          data: {
            controller: "dependent-select",
            action: "change->dependent-select#fetch",
            dependent_select_url_value: work_kinds_works_path,
            dependent_select_param_name_value: "work_type_id"
          }
        }) %>
      <label class="form-check-label form-label"><%= check_box_tag(:except, true, false, {class: "form-check-input"}) %>除外</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <label for="work_kind_id" class="h5 form-label">種別</label>
      <%= select_tag(:work_kind_id, options_from_collection_for_select(@work_kinds, :id, :name, @work_kind_id), {include_blank: true, class: "form-select"}) %>
    </div>
  </div>
  <div class="col-md-2">
    <%= button_tag "検索", type: :submit, name: "search", class: "btn btn-primary" %>
  </div>
</div>
<input type="hidden" name="page" value="1" />
<% end %>
<hr />
<%= turbo_frame_tag 'list' do %>
  <%= render partial: "list" %>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to 'CSV出力', works_path(format: :csv), class: "btn btn-primary" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
