<%= form_tag works_path, {method: :get, id: :search_form} do %>
<div class="row">
  <div class="col-md-3">
     <h1>作業一覧</h1>
  </div>
  <div class="col-md-3">
    <div class="form-inline">
      <label for="term" class="h5">年度</label>
      <%= select_tag(:term, options_for_select(@terms, selected: @term), {class: "form-select"}) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-inline">
      <label for="month" class="h5">作業日</label>
      <%= date_field_tag :worked_at1, @worked_at1, {class: "form-control"} %>
      ～
      <%= date_field_tag :worked_at2, @worked_at2, {class: "form-control"} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="form-inline">
      <label for="work_type_id" class="h5">分類</label>
      <%= select_tag(:work_type_id, options_from_collection_for_select(@work_types, :id, :name, @work_type_id), {include_blank: true, class: "form-select"}) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-inline">
      <label for="work_work_kind_id" class="h5">種別</label>
      <%= select_tag(:work_kind_id, options_from_collection_for_select(@work_kinds, :id, :name, @work_kind_id), {id: "work_work_kind_id", include_blank: true, class: "form-select"}) %>
    </div>
  </div>
  <div class="col-md-2">
    <%= button_tag "検索", type: :submit, name: "search", class: "btn btn-primary" %>
  </div>
</div>
<input type="hidden" name="page" value="1" />
<% end %>
<hr />
<% if @works.count > 0 %>
<div id="list">
  <%= render partial: "list" %>
</div>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to 'CSV出力', works_path(format: :csv), class: "btn btn-primary" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<script type="text/javascript">
$(function() {
    $('#work_type_id').change(function(){
        $.get("<%= work_type_select_works_path %>", {work_type_id: $(this).val()}, function() {
            $("#work_work_kind_id").prepend("<option value='' />")
            $("#work_work_kind_id").val("");
        });
    });
});
</script>
