<h1>作業地図</h1>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="ratio ratio-16x9"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-11">
    <h3 id="land_info"></h3>
  </div>
  <div class="col-md-1">
    <h3>&nbsp;</h3>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', work_path(@work), class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<%= hidden_field_tag :organization_name, current_organization.name %>
<% @work.lands.regionable.each do |land| %>
  <%= hidden_field_tag :regions, land.region, {id: "land_#{land.id}", data: {id: land.id, place: land.place, area: land.area, owner: land.owner.name}} %>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"]%>" async defer></script>
<%= javascript_pack_tag 'work-map' %>
