<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"]%>" defer="defer" async="async" data-turbolinks-eval="false"></script>
  <%= javascript_pack_tag 'work-map', 'data-turbo-track': 'reload' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
   const language = "<%= I18n.locale %>";
   I18n.translations = <%== I18n::JS.filtered_translations.to_json %>;
  </script>
</head>
<body>
<h1>作業地図</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="map" class="ratio ratio-16x9"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 id="land_info"></h2>
    </div>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<%= hidden_field_tag :organization_name, current_organization.name %>
<% @work.lands.regionable.each do |land| %>
  <%= hidden_field_tag :regions, land.region, {id: "land_#{land.id}", data: {id: land.id, place: land.place, area: land.area, owner: land.owner.name}} %>
<% end %>
</body>
</html>
