<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"]%>" defer="defer" data-turbolinks-eval="false"></script>
</head>
<body data-controller="page-loader" data-page-loader-modules-value="pages/work-map">
<h1>作業地図</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="map" class="ratio ratio-16x9"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 id="land_info"></h2>
    </div>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<%= hidden_field_tag :organization_name, current_organization.name %>
<% @work.lands.regionable.each do |land| %>
  <%= land_region_hidden_field(land) %>
<% end %>
</body>
</html>
