<h1>作業地図</h1>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="embed-responsive embed-responsive-16by9"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 id="land_info"></h3>
    </div>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', work_path(@work), class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<% @work.lands.regionable.each do |land| %>
  <%= hidden_field_tag :regions, land.region, {id: "land_#{land.id}", data: {id: land.id, place: land.place, area: land.area, owner: land.owner.name}} %>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"]%>&callback=initMap" async defer></script>
<script>
function initMap(){
  const org = JSON.parse(document.getElementById("location").value);
  const pos = new google.maps.LatLng(org[0], org[1]);

  const map = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  const marker = new google.maps.Marker({
    position: pos,
    title : "<%= current_organization.name %>",
    map: map
  });

  let landRegions = {};
  document.getElementsByName("regions").forEach(function(land) {
    let paths = [];
    JSON.parse(land.value.replace(/\(/g, "[").replace(/\)/g, "]")).forEach(function(rg) {
      paths.push({lat: rg[0], lng: rg[1]});
    });
    landRegions[land.dataset.id] = new google.maps.Polygon({
      paths: paths,
      strokeColor: "#339933",
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: "#339933",
      fillOpacity: 0.35,
      landId: land.dataset.id,
      map: map
    });

    landRegions[land.dataset.id].addListener("mouseover", function(arg) {
      const land = document.getElementById("land_" + this.landId);
      document.getElementById("land_info").innerText = `${land.dataset.place}(${land.dataset.owner}):${land.dataset.area}a`;
    });

    landRegions[land.dataset.id].addListener("mouseout", function(arg) {
      document.getElementById("land_info").innerText = "";
    });
  });
}
</script>
