<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= Rails.application.credentials.dig(:google_maps, :api_key) %>",
    v: "weekly",
  });
  </script>
  <%= stylesheet_link_tag 'application' %>
</head>
<body data-controller="page-loader" data-page-loader-modules-value="pages/work-map">
<h1>作業地図</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="map" class="ratio ratio-16x9"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 id="land_info"></h2>
    </div>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<%= hidden_field_tag :organization_name, current_organization.name %>
<% @work.lands.regionable.each do |land| %>
  <%= land_region_hidden_field(land) %>
<% end %>
</body>
</html>
