<h1 class="page-header">作業日報入力</h1>
<%= error_print(@work) %>

<%= form_for(@work, :url => {:action => :create }, :html => {:method => :post}) do |f| %>
  <%= render(:partial => 'form', locals: {:f => f}) %>
  <br />
  <%= f.submit '登録', :name => 'regist', class: "btn btn-danger" %>
  <%= button_tag "戻る",  type: :button, onclick: raw("javascript:location.href = '" + root_path + "';"), class: "btn btn-default" %>
<% end %>
