<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= javascript_pack_tag    'application' %>
  <%= javascript_pack_tag    'pc-common' %>
  <%= stylesheet_pack_tag 'pc-common' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
   I18n.defaultLocale = "<%= I18n.default_locale %>";
   I18n.locale = "<%= I18n.locale %>";
  </script>
  <%= javascript_pack_tag 'work-show'%>
  <%= stylesheet_pack_tag 'work-show', :media => 'all' %>
</head>
<body>

<%= render partial: "show_base" %>
<% if @whole_crop || current_organization.whole_crop_work_kind_id == @work.work_kind_id %>
<%= render partial: "show_whole_crop" %>
<% end %>
<%= render partial: "show_workers" %>
<% if (@work_lands.count > 0 || @work.work_kind.land_flag) && current_organization.lands_count > 0 %>
  <%= render partial: "show_lands" %>
<% end %>
<% if (@machines.count > 0 || @work.work_kind.machine_kinds.count > 0) && current_organization.machines_count > 0 %>
  <%= render partial: "show_machines" %>
<% end %>
<% if (@chemicals.count > 0 || @work.work_kind.chemical_kinds.count > 0) && current_organization.chemicals_count > 0 %>
  <%= render partial: "show_chemicals" %>
<% end %>
<% if @broccoli && false %>
  <%= render partial: "show_broccoli" %>
<% end %>
<% if @work.fixed_at.nil? && updatable_work(current_user, @work) %>
<%= link_to '削除',raw(work_path(id: @work)), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除してもよろしいですか?"} %>
<% end %>
<% if !current_user.visitor? && @work.term == current_term %><%= button_tag "新規登録",  type: :button, class: "btn btn-success", onclick: raw("location.href = '" + new_work_path + "';") %><% end %>
<% if updatable_work(current_user, @work) %>
<%= button_tag "印刷", type: :button, class: "btn btn-success", onclick: raw("execPrint('" + work_print_index_path(work_id: @work.id) + "');") %>
<%= button_tag "印刷情報削除", type: :button, class: "btn btn-danger", onclick: raw("cancelPrint('" + work_print_path(work_id: @work.id, id: 0) + "');") %>
<% end %>
<% if @work.lands.regionable.exists? %>
<%= link_to "地図", map_work_path(@work), {class: "btn btn-info"} %>
<% end %>
<%= button_tag "戻る",  type: :button, class: "btn btn-default", :onclick => raw("location.href = '" + (session[:work_referer] ? session[:work_referer] : works_path) + "';") %>
<%= render partial: "show_stamp"%>
<% if @work.fixed_at.nil? && updatable_work(current_user, @work) %>
<script type="text/javascript">
$(function() {
  $("#cover_work").height($("#content_work").height()).width($("#content_work").width());
  $("#cover_workers").height($("#content_workers").height()).width($("#content_workers").width());
  $("#cover_lands").height($("#content_lands").height()).width($("#content_lands").width());
  $("#cover_machines").height($("#content_machines").height()).width($("#content_machines").width());
  $("#cover_chemicals").height($("#content_chemicals").height()).width($("#content_chemicals").width());
});
</script>
<% end %>
<%= render 'application/popup' %>
</body>
</html>
