<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'pages/pc-common', 'data-turbo-track': 'reload', type: :module %>
  <%= stylesheet_link_tag 'pc-common' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'pages/work-show', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'work-show', :media => 'all' %>
  <% if @work.fixed_at.nil? && updatable_work(current_user, @work) %>
      <script type="text/javascript" data-turbo-track="reload">
      window.addEventListener('turbo:load', () => {
          layCover("work");
          layCover("workers");
          layCover("lands");
          layCover("machines");
          layCover("chemicals");
          layCover("whole_crops");
      });

      function layCover(coverName)
      {
          const coverElm = document.getElementById(`cover_${coverName}`);
          const conteElm = document.getElementById(`content_${coverName}`);
          if ((coverElm != null) && (conteElm != null)) {
              coverElm.style.height = `${conteElm.clientHeight}px`;
              coverElm.style.width  = `${conteElm.clientWidth}px`;
          }
      }
      </script>
  <% end %>
</head>
<body>
<%= render partial: "show_base" %>
<%= render partial: "show_workers" %>
<% if (@work_lands.count > 0 || @work.work_kind.land_flag) && current_organization.lands_count > 0 %>
  <%= render partial: "show_lands" %>
<% end %>
<% if (@machines.count > 0 || @work.work_kind.machine_kinds.count > 0) && current_organization.machines_count > 0 %>
  <%= render partial: "show_machines" %>
<% end %>
<span style="break-after: always;"></span>
<% if (@chemicals.count > 0 || @work.work_kind.chemical_kinds.count > 0) && current_organization.chemicals_count > 0 %>
  <%= render partial: "show_chemicals" %>
<% end %>
<% if @work.work_kind_id == current_organization.rice_planting_id %>
  <%= render partial: "show_seedlings" %>
<% end %>
<% if @whole_crop || current_organization.whole_crop_work_kind_id == @work.work_kind_id %>
  <%= render partial: "show_whole_crops" %>
<% end %>

<% if @work.fixed_at.nil? && updatable_work(current_user, @work) %>
<%= link_to '削除',raw(work_path(id: @work)), class: "btn btn-danger", data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete} %>
<% end %>
<% if !current_user.visitor? && @work.term == current_term %><%= link_to "新規登録", new_work_path, class: "btn btn-success" %><% end %>
<% if updatable_work(current_user, @work) %>
<%= button_tag "印刷", type: :button, class: "btn btn-success", onclick: raw("execPrint('" + work_print_index_path(work_id: @work.id) + "');") %>
<%= button_tag "印刷情報削除", type: :button, class: "btn btn-danger", onclick: raw("cancelPrint('" + work_print_path(work_id: @work.id, id: 0) + "');") %>
<% end %>
<% if @work.lands.regionable.exists? %>
<%= link_to "地図", map_work_path(@work), {class: "btn btn-info", target: "_blank", rel: "noopener noreferrer"} %>
<% end %>
<% unless params[:target] == 'blank' %>
<%= link_to "戻る", session[:work_referer] || works_path, class: "btn btn-default" %>
<% end %>
<%= render partial: "show_stamp" %>
<%= render 'application/popup' %>
</body>
</html>
