<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>作業日報管理システム(V2)</title>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
   I18n.defaultLocale = "<%= I18n.default_locale %>";
   I18n.locale = "<%= I18n.locale %>";
  </script>
<%= stylesheet_link_tag 'work-show', :media => 'all' %>
</head>
<body>

<%= render partial: "show_base" %>
<%= render partial: "show_workers" %>
<% if (@work_lands.count > 0 or @work.work_kind.land_flag) and @organization.lands_count > 0 %>
  <%= render partial: "show_lands" %>
<% end %>
<% if (@machines.count > 0 or @work.work_kind.machine_kinds.count > 0) and @organization.machines_count > 0 %>
  <%= render partial: "show_machines" %>
<% end %>
<% if (@chemicals.count > 0 or @work.work_kind.chemical_kinds.count > 0) and @organization.chemicals_count > 0 %>
  <%= render partial: "show_chemicals" %>
<% end %>
<% unless @work.fixed_at %>
<%= link_to '削除',raw(work_path(id: @work, page: params[:page], month: params[:month])), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除してもよろしいですか?"} %>
<% end %>
<%= button_tag "新規登録",  type: :button, class: "btn btn-success", onclick: raw("location.href = '" + new_work_path + "';") %>
<%= button_tag "印刷", type: :button, class: "btn btn-success", onclick: raw("execPrint('" + print_work_path(@work.id) + "');") %>
<%= button_tag "戻る",  type: :button, class: "btn btn-default", :onclick => raw("location.href = '" + (session[:work_referer] ? session[:work_referer] : works_path(page: params[:page], month: params[:month])) + "';") %>
<%= render partial: "show_stamp"%>
<script type="text/javascript">
<% unless @work.fixed_at %>
$(function() {
  $("#cover_work").height($("#content_work").height()).width($("#content_work").width());
  $("#cover_workers").height($("#content_workers").height()).width($("#content_workers").width());
  $("#cover_lands").height($("#content_lands").height()).width($("#content_lands").width());
  $("#cover_machines").height($("#content_machines").height()).width($("#content_machines").width());
  $("#cover_chemicals").height($("#content_chemicals").height()).width($("#content_chemicals").width());
});
<% end %>
function execPrint(url) {
    $.ajax({
        url: url,
        type: "PATCH",
        dataType: "html"
    }).done(function(html) {
        $("#print_stamp").html(html);
        window.print();
    });
}
</script>
</body>
</html>
