<%= error_print(@bank) %>
<%= form_for(@bank) do |f| %>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code, {size: 5, maxlength: 4, pattern: "^[0-9]{4}$", required: true} %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, {size: 20, maxlength: 40, required: true}  %>
  </div>
  <div class="field">
    <%= f.label :phonetic %><br>
    <%= f.text_field :phonetic, {size: 20, maxlength: 40, required: true}  %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit '登録' %>
    <%= button_tag "戻る", type: :button, :onclick => raw("javascript:location.href = '" + banks_path + "';") %>
  </div>
<% end %>
