<h1>原価種別マスタ一覧</h1>
<% if @cost_types.count > 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>名称</th>
      <th></th>
      <th>作業種別</th>
    </tr>
  </thead>
  <tbody>
    <% @cost_types.each do |cost_type| %>
      <tr>
        <td><%= cost_type.name %></td>
        <td><%= link_to '修正', edit_cost_type_path(cost_type), {class: "btn btn-success btn-sm"} %></td>
        <td><%= cost_type.work_kinds.order(:phonetic).pluck(:name).join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '新規登録', new_cost_type_path, class: "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
