<h1>経費種別マスタ一覧</h1>
<% if @expense_types.count > 0 %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>名称</th>
        <th>薬品</th>
        <th>その他</th>
        <th>売上</th>
        <th colspan="2">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @expense_types.each do |expense_type| %>
        <tr>
          <td><%= expense_type.name %></td>
          <td><%= expense_type.chemical_flag ? "○" : "" %></td>
          <td><%= expense_type.other_flag ? "○" : "" %></td>
          <td><%= expense_type.sales_flag ? "○" : "" %></td>
          <td><%= link_to '修正', edit_expense_type_path(expense_type), {class: "btn btn-success btn-sm"} %></td>
          <td><%= link_to '削除', expense_type, {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger btn-sm"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "新規登録", new_expense_type_path, {class: "btn btn-success"}%>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
