<%= error_print(@land) %>
<h1>作付履歴</h1>
<div class="row">
  <div class="col-md-2">
    <div class="input-group">
      <label class="form-label">地番：</label>
      <label class="form-label"><%= @land.place %></label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group">
      <label class="form-label">面積(α)：</label>
      <label class="form-label"><%= @land.area %></label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group">
      <label class="form-label">所有者：</label>
      <label class="form-label"><%= @land.owner_name %></label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group">
      <label class="form-label">管理者：</label>
      <label class="form-label"><%= @land.manager_name %></label>
    </div>
  </div>
</div>
<%= form_with(model: @land, url: {controller: :land_costs, action: :update}) do |lf| %>
  <div class="row">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>削除</th>
          <th>日付</th>
          <th>作付</th>
        </tr>
      </thead>
      <tbody>
        <%= lf.fields_for :land_costs do |lcf| %>
        <tr>
          <td><%= lcf.check_box :_destroy %></td>
          <td><%= lcf.date_field :activated_on, {class: "form-control"} %></td>
          <td>
            <%= turbo_frame_tag 'work_types' do %>
              <%= render partial: 'edit_work_types', locals: {lcf: lcf} %>
            <% end %>
          </td>
          <td>
            <%= lcf.hidden_field :id %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="btn_toolbar" class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '戻る', land_costs_path(land_place_id: @land.land_place), class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
<%= hidden_field_tag :work_colors, @work_types.map {|work_type| [work_type.id, work_type.bg_color] }.to_h.to_json %>
<% content_for :head do %>
<script>
window.addEventListener('turbo:load', () => {
    const colors = JSON.parse(document.getElementById("work_colors").value);
    document.querySelectorAll("input[type='radio'][id^='work_type']:checked").forEach((element) => {
        element.closest("tr").style.backgroundColor = colors[element.value];
    });
});
</script>
<% end %>
