<h1>土地原価登録</h1>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="embed-responsive embed-responsive-16by9"></div>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', land_costs_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<% @costs.each do |cost| %>
  <%= hidden_field_tag :regions, cost.land.region, {id: nil, data: {place: cost.land.place, area: cost.land.area, color: cost.work_type.bg_color}} %>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"]%>&callback=initMap&libraries=drawing" async defer></script>
<script>
function initMap(){
  const org = JSON.parse(document.getElementById("location").value);
  const pos = new google.maps.LatLng(org[0], org[1]);

  const map = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  });

  const marker = new google.maps.Marker({
    position: pos,
    title : "<%= current_organization.name %>",
    map: map
  });

  let landRegions = [];
  document.getElementsByName("regions").forEach(function(region) {
    let paths = [];
    JSON.parse(region.value.replace(/\(/g, "[").replace(/\)/g, "]")).forEach(function(rg) {
      paths.push({lat: rg[0], lng: rg[1]});
    });
    landRegions.push(new google.maps.Polygon({
      paths: paths,
      strokeColor: region.dataset.color,
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: region.dataset.color,
      fillOpacity: 0.35,
      map: map
    }));
  });
}
</script>
