<div class="row" data-controller="page-loader" data-page-loader-modules-value="pages/lands-maps">
  <div class="col-md-8">
    <h1>作付地図</h1>
  </div>
  <div class="col-md-2">
    <%= date_field_tag :target, @target, {class: "form-control", data: {url: map_land_costs_path}} %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="ratio ratio-16x9"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 id="land_info">&nbsp;</h3>
  </div>
</div>
<div class="row">
  <% @work_types.each_with_index do |work_type, i| %>
    <div class="col" style="background-color: <%= work_type.bg_color_date(current_organization, @target) %>; color: <%= work_type.fg_color_date(current_organization, @target) %>;">
      <div id="work_type_<%= work_type.id %>"><%= work_type.name %></div>
      <div id="land_area_<%= work_type.id %>" class="label text-right area-sum">0.0</div>
    </div>
  <% end %>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', land_costs_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<%= hidden_field_tag :organization_name, current_organization.name %>
<% @costs.each do |cost| %>
  <%= land_region_hidden_field(cost.land, color: cost.work_type.bg_color_date(current_organization, @target), work_type_id: cost.work_type_id) %>
<% end %>
