<% if @tasks.present? %>
  <h1 class="h2">タスク</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li class="mb-1">
        <%= link_to task.title, 
          personal_information_task_path(personal_information_token: params[:personal_information_token], id: task.model.id),
          data: { turbo_prefetch: false } %>
          <%= task.new_badge %>
          <%= task.due_badge %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @schedules.present? %>
  <h1 class="h2">作業予定</h1>
  <ul>
    <% @schedules.each do |schedule| %>
    <li><%= schedule.worked_at %>から、<%= schedule.name %>の予定です。</li>
    <% end %>
  </ul>
<% end %>
<% if @minute.present? %>
  <h1 class="h2">議事録</h1>
  <ul>
    <li><%= @minute.schedule.worked_at %>に<%= @minute.schedule.name %>がありました(<%= link_to '議事録', personal_information_minute_path(@minute.id, personal_information_token: @worker.user.token), {target: :_blank, data: {turbolinks: false}} %>)</li>
  </ul>
<% end %>
