<% quantlty = chemical_work_type&.quantity || 0 %>
<% work_type = chemical_work_type.work_type %>
<td id="td_<%= chemical_work_type.chemical_term_id %>_<%= chemical_work_type.work_type_id%>" 
  class="numeric" 
  style="<%= quantlty.zero? ? "" : "background-color: #{ work_type.bg_color_term(current_term)}; color: #{work_type.fg_color_term(current_term)};" %>">
    <span data-url="<%= 
        quantlty.zero? ? 
          new_chemical_cost_path(chemical_term_id: chemical_work_type.chemical_term_id, work_type_id: chemical_work_type.work_type_id) :
          edit_chemical_cost_path(chemical_work_type)
        %>" class="chemical-cost-value" role="button"
        data-action="click->pages--chemical-costs#open">
      <%= chemical_work_type.quantity.zero? ? "-" : sprintf("%.1f", chemical_work_type.quantity) %>
    </span>
</td>
