<h1>薬剤原価登録</h1>
<div class="row">
  <div id="table_wrapper" class="wrapper small float-head-wrapper" style="height: calc(100vh - 200px)">
    <div id="tbl_list" class="d-table table table-sm table-hover float-head">
      <div class="d-table-row fix-head">
        <div class="d-table-cell fw-bold">種別</div>
        <div class="d-table-cell fw-bold">名称</div>
        <% @work_types.each do |work_type| %>
          <div class="d-table-cell fw-bold numeric" style="background-color: <%= work_type.bg_color_term(current_term)%>; color: <%= work_type.fg_color_term(current_term)%>%"><%= work_type.name %></div>
        <% end %>
        <div class="d-table-cell"></div>
        <div class="d-table-cell"></div>
      </div>
      <% @chemical_terms.each do |chemical_term| %>
        <%= turbo_frame_tag "chemical_#{chemical_term.id}", class: "d-table-row row-hover" do %>
          <%= render partial: "show", locals: {chemical_term: chemical_term} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<% content_for :head do %>
<script data-turbo-track="reload">
document.addEventListener('turbo:load', () => {
    Array.from(document.getElementsByClassName("zero-gray")).forEach((element) => {
        element.addEventListener("change", (event) => {
            if(parseInt(event.target.value) == 0) {
                event.target.style.color = "gainsboro";
                event.target.style.backgroundColor = "white";
            } else {
                event.target.style.color = "black";
                event.target.style.backgroundColor = "yellow";
            }
        });
    });
});
</script>
<% end %>
