<h1 data-controller="page-loader" data-page-loader-modules-value="pages/chemical-costs">薬剤原価登録</h1>
<div class="row">
  <div id="table_wrapper" class="wrapper small float-head-wrapper" style="height: calc(100vh - 200px)">
    <table class="table table-sm table-hover float-head">
      <colgroup>
        <col style="width: 100px;">
        <col style="width: 220px;">
        <% @work_types.count.times do %>
          <col style="width: calc(calc(100% - 320px) / <%= @work_types.count%>);">
        <% end %>
      </colgroup>
      <thead class="fix-head">
        <tr>
          <th>種別</th>
          <th style="width: 220px;">名称</th>
          <% @work_types.each do |work_type| %>
            <th class="numeric" style="background-color: <%= work_type.bg_color_term(current_term)%>; color: <%= work_type.fg_color_term(current_term)%>;"><%= work_type.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @chemical_terms.each do |chemical_term| %>
          <tr>
            <td><%= chemical_term.chemical.chemical_type.name %></td>
            <td><%= chemical_name(chemical_term.chemical) %>(<%= chemical_term.chemical.base_base_quantity %><%= chemical_term.chemical.base_unit_name %>)</td>
            <% @work_types.each do |work_type| %>
              <% chemical_work_type = @chemical_work_types.find{|ct| ct.chemical_term_id == chemical_term.id && ct.work_type_id == work_type.id} || ChemicalWorkType.new(chemical_term_id: chemical_term.id, work_type_id: work_type.id, quantity: 0)%>
              <%= render partial: 'show', locals: {chemical_work_type: chemical_work_type} %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
