<h1>薬剤原価登録</h1>
<%= form_with url: chemical_costs_path, method: :post, id: :chemical_cost_form do |f|  %>
<div class="row">
  <div id="table_wrapper" class="wrapper small float-head-wrapper" style="height: calc(100vh - 200px)">
    <table id="tbl_list" class="table table-sm float-head">
      <thead>
        <tr>
          <th rowspan="2">種別</th>
          <th rowspan="2">名称</th>
          <% @work_types.each do |work_type| %>
            <th><%= work_type.genre_name %></th>
          <% end %>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <% @work_types.each do |work_type| %>
            <th><%= work_type.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="list">
        <% @chemical_terms.each do |chemical_term| %>
        <tr>
          <%= render partial: "show", locals: {chemical_term: chemical_term} %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_tag '取込', name: 'import', class: "btn btn-success", id: "import", type: :button, onclick: "execImport();" %>
  </div>
  <div class="btn-group mr-2">
    <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :import_url, import_chemical_costs_path %>
<% end %>
<% content_for :head do %>
<script data-turbo-track="reload">
document.addEventListener('turbo:load', () => {
    Array.from(document.getElementsByClassName("zero-gray")).forEach((element) => {
        element.addEventListener("change", (event) => {
            if(parseInt(event.target.value) == 0) {
                event.target.style.color = "gainsboro";
                event.target.style.backgroundColor = "white";
            } else {
                event.target.style.color = "black";
                event.target.style.backgroundColor = "yellow";
            }
        });
    });

    document.getElementById("chemical_cost_form").addEventListener("submit", (event) => {
        loadingStart("更新中");
    });
});

function execImport() {
    if(popupConfirm("単価を上書きしてもよろしいですか？", function(result) {
        if(result) {
            fetch(document.getElementById("import_url").value)
            .then((res) => {
                res.json();
            })
            .then((json) => {
                for(chemicalId in data) {
                  document.querySelector(`[data-chemical=${chemicalId}]`).value = data[chemicalId];
                }
            });
        }
    }));
}
</script>
<% end %>
