<% @works.each do |work| %>
  <% land_count = work.work_lands.count %>
  <% if land_count.zero? %>
    <tr>
      <td></td>
      <td><%= work.worked_at %></td>
      <td><%= work.name %></td>
      <td class="numeric"><%= hhmm(@sum_hours[work.id]) %></td>
      <td class="numeric"><%= @count_workers[work.id] || 0 %></td>
      <td><%= work.machine_names %></td>
      <td><%= work.remarks %></td>
      <td><%= link_to "作業日報", work_path(work), {class: "btn btn-outline-success btn-sm"} %></td>
    </tr>
  <% else %>
    <% work.lands.order(:broccoli_mark).each do |land| %>
      <tr>
        <td><%= land.broccoli_mark %></td>
        <td><%= work.worked_at %></td>
        <td><%= work.name %></td>
        <td class="numeric"><%= hhmm(@sum_hours[work.id], land_count) %></td>
        <td class="numeric"><%= @count_workers[work.id] || 0 %></td>
        <td><%= work.machine_names %></td>
        <td><%= work.remarks %></td>
        <td><%= link_to "作業日報", work_path(work), {class: "btn btn-outline-success btn-sm"} %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
