<h1>ガントチャート</h1>
<div class="container my-4"
   data-controller="pages--gantt"
   data-pages--gantt-update-url-value="<%= tasks_gantts_path %>"
   data-pages--gantt-csrf-token-value="<%= form_authenticity_token %>">

  <div class="d-flex gap-2 mb-3">
    <%= link_to "タスク一覧へ", tasks_path, class: "btn btn-sm btn-outline-secondary" %>
    <%= link_to "カンバンへ", tasks_kanbans_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0 text-body-secondary small">
      表示期間: <%= @start_date %> 〜 <%= @end_date %>
    </p>
  </div>

  <div class="table-responsive" style="max-height: 70vh;">
    <table class="table table-sm table-bordered gantt-table mb-0">
      <thead class="table-header-adaptive sticky-top">
        <tr>
          <th style="min-width: 220px;" rowspan="2">タスク</th>
          <% @dates.collect {|date| date.month }.uniq.each do |month| %>
            <th class="text-center align-middle small" colspan="<%= @dates.count { |date| date.month == month } %>">
              <%= month %>月
            </th>
          <% end %>
        </tr>
        <tr>
          <% @dates.each do |date| %>
            <% classes = []%>
            <% classes << "gantt-holiday" if date.saturday? || date.sunday? || HolidayJp.holiday?(date) %>
            <% classes << "gantt-sunday" if date.sunday? || HolidayJp.holiday?(date) %>
            <% classes << "gantt-saturday" if date.saturday? %>
            <% classes << "gantt-today" if date == Date.current %>
            <th class="text-center align-middle small <%= classes.join(" ") %>" data-pages--gantt-target="headerCell">
              <%= date.day %><br>
              <span><%= "(#{I18n.t('date.abbr_day_names')[date.wday]})" %></span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <%= render "tasks/gantts/row", task: task, dates: @dates %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% content_for :head do %>
<%= stylesheet_link_tag 'gantt', media: 'all' %>
<% end %>
