<h1>保有米単価マスタ一覧(<%= current_term %>年度)</h1>
<table class="table table-sm" style="width:auto;">
  <thead>
    <tr>
      <th>作業名</th>
      <th>品種名(略名)</th>
      <th class="numeric">並び順</th>
      <th class="numeric">単価</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @work_types.each do |work_type| %>
    <% owned_rice_price = @owned_rice_prices.find {|o| o.work_type_id == work_type.id} %>
      <tr>
        <td><%= work_type.name %></td>
        <td><%= owned_rice_price&.name %>(<%= owned_rice_price&.short_name %>)</td>
        <td class="numeric"><%= owned_rice_price&.display_order %></td>
        <td class="numeric"><%= owned_rice_price&.owned_price&.to_s(:delimited) %></td>
        <td><%= link_to '修正', edit_owned_rice_price_path(id: work_type.id), {class: "btn btn-success btn-sm"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
