<h1 class="page-header">作業予定修正</h1>
<%= error_print(@schedule) %>

<%= form_for(@schedule.model, :url => {action: :update }, html: {method: :put}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', :name => 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '削除', schedule_path(id: @schedule), class: "btn btn-danger", data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete} %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to "戻る", schedules_path, {class: "btn btn-outline-dark"}%>
    </div>
  </div>
<% end %>
