<h1>作業予定一覧</h1>
<table id="schedule_list" class="table table-sm">
  <thead>
  <tr>
    <th>作業予定日</th>
    <th>内容</th>
    <th class="text-nowrap">LINE</th>
    <th class="text-nowrap">議事録</th>
    <th>作業予定者</th>
    <% if current_user.manageable? %>
    <th>&nbsp;</th>
    <% end %>
    <% if current_user.checkable? %>
    <th>&nbsp;</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr class="<%= schedule.farming_flag ? 'table-row-normal' : 'table-row-low' %>">
        <td class="text-nowrap"><%= schedule.worked_at %></td>
        <td class="text-nowrap"><%= schedule.name %></td>
        <td class="text-center"><%= schedule.line_flag %></td>
        <td class="text-center"><%= schedule.minutes_flag %></td>
        <td class="text-wrap"><%= schedule.worker_names %></td>
        <td><%= link_to '修正', edit_schedule_path(schedule), {class: "btn btn-success btn-sm", style: "min-width: 40px;"} %></td>
        <td><%= link_to '予定者', new_schedule_worker_path(schedule_id: schedule), {class: "btn btn-success btn-sm", style: "min-width: 60px;"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@schedules) %>
<div class="btn-toolbar">
  <% if current_user.manageable? %>
    <div class="btn-group mr-2">
      <%= link_to "新規登録", new_schedule_path, {class: "btn btn-success"}%>
    </div>
  <% end %>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
