<%= error_print(@accident) %>
<%= form_with model: @accident, url: @accident.new_record? ? gaps_accidents_path : gaps_accident_path(@accident), data: {controller: "page-loader", page_loader_modules_value: "pages/gap-accidents"} do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :investigator_id, class: "col-form-label-lg form-label" %>
      <%= f.select :investigator_id, options_from_collection_for_select(Worker.usual.where(position_id: :director) , :id, :name, f.object.investigator_id), {}, {class: "form-select"} %>
    </div>
    <div class="col-md-3">
      <%= f.label :investigated_on, class: "col-form-label-lg form-label" %>
      <%= f.date_field :investigated_on, {class: "form-control", min: current_system.start_date, required: true} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :worked_at, class: "col-form-label-lg form-label" %>
      <%= date_field_tag :worked_at, @accident.work&.worked_at, {class: "form-control", min: current_system.start_date, max: current_system.end_date} %>
    </div>
    <div class="col-md-3">
      <%= f.label :work_id, class: "col-form-label-lg form-label" %>
      <%= f.select :work_id, 
        @accident.new_record? ? [] : options_from_collection_for_select(@works, :id, :type_and_kind_name, @accident.work_id) ,
        {include_blank: true}, {required: true, class: "form-select"} %>
    </div>
    <div class="col-md-3">
      <%= f.label :audience_id, class: "col-form-label-lg form-label" %>
      <%= f.select :audience_id, @accident.new_record? ? [] : options_from_collection_for_select(@workers, :id, :name, @accident.audience_id),
      {include_blank: true}, {required: true, class: "form-select"} %>
    </div>
    <div class="col-md-3">
      <%= f.label :accident_type_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_radio_buttons :accident_type_id, Accident.accident_type_ids.keys, :to_s, ->(key) { I18n.t("activerecord.enums.accident.accident_types.#{key}") } do |c| %>
        <div class="form-radio">
          <%= c.label class: "form-check-label" do %>
            <%= c.radio_button class: "form-check-input" %>
            <%= c.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :location, class: "col-form-label-lg form-label" %>
      <%= f.text_field :location_name, {maxlength: 40, class: "form-control"}  %>
    </div>
    <div class="col-md-3">
      <%= f.label :informant_name, class: "col-form-label-lg form-label" %>
      <%= f.text_field :informant_name, {maxlength: 40, class: "form-control"}  %>
    </div>
    <div class="col-md-6">
      <div id="map" class="ratio ratio-4x3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :content, class: "col-form-label-lg form-label" %>
      <%= f.text_area :content, {rows: 2, class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :problem, class: "col-form-label-lg form-label" %>
      <%= f.text_area :problem, {rows: 2, class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :solving, class: "col-form-label-lg form-label" %>
      <%= f.text_area :solving, {rows: 2, class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :result, class: "col-form-label-lg form-label" %>
      <%= f.text_area :result, {rows: 2, class: "form-control"} %>
    </div>
  </div>
  <%= hidden_field_tag :works_gaps_accident_path, works_gaps_accident_path(id: params[:id] || 0, worked_at: ':worked_at') %>
  <%= hidden_field_tag :audiences_gaps_accident_path, audiences_gaps_accident_path(id: params[:id] || 0, work_id: ':work_id') %>
  <%= f.hidden_field :location, {value: home_location(@accident)} %>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', class: "btn btn-warning" %>
    </div>
    <% unless @accident.new_record? %>
      <div class="btn-group mr-2">
        <%= link_to '削除', gaps_accident_path(@accident), {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
      </div>
    <% end %>
    <div class="btn-group mr-2">
      <%= link_to "戻る", gaps_accidents_path, {class: "btn btn-outline-dark"}%>
    </div>
  </div>
<% end %>
