<h1 data-controller="page-loader" data-page-loader-modules-value="pages/gap-accidents">ヒヤリハット調査票照会</h1>
<div class="row">
  <div class="col-md-3">
    <%= label_tag :investigator_id, Accident.human_attribute_name(:investigator_id), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= @accident.investigator.name %></div>
  </div>
  <div class="col-md-3">
    <%= label_tag :investigated_on, Accident.human_attribute_name(:investigated_on), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= @accident.investigated_on %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= label_tag :worked_at, Accident.human_attribute_name(:worked_at), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= @accident.work.worked_at %></div>
  </div>
  <div class="col-md-3">
    <%= label_tag :work_id, Accident.human_attribute_name(:work_id), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= "#{@accident.work.work_type.name}／#{@accident.work.name}" %></div>
  </div>
  <div class="col-md-3">
    <%= label_tag :audience_id, Accident.human_attribute_name(:audience_id), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= @accident.audience.name %></div>
  </div>
  <div class="col-md-3">
    <%= label_tag :accident_type_id, Accident.human_attribute_name(:accident_type_id), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= @accident.accident_type_name %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= label_tag :location, Accident.human_attribute_name(:location), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= @accident.location_name %></div>
  </div>
  <div class="col-md-3">
    <%= label_tag :informant_name, Accident.human_attribute_name(:informant_name), class: "col-form-label-lg form-label" %>
    <div class="h5"><%= @accident.informant_name %></div>
  </div>
  <div class="col-md-6">
    <div id="map" class="ratio ratio-4x3"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= label_tag :content, Accident.human_attribute_name(:content), class: "col-form-label-lg form-label" %>
    <div><%= hbr @accident.content %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= label_tag :problem, Accident.human_attribute_name(:problem), class: "col-form-label-lg form-label" %>
    <div><%= hbr @accident.problem %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= label_tag :solving, Accident.human_attribute_name(:solving), class: "col-form-label-lg form-label" %>
    <div><%= hbr @accident.solving %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= label_tag :result, Accident.human_attribute_name(:result), class: "col-form-label-lg form-label" %>
    <div><%= hbr @accident.result %></div>
  </div>
</div>
<%= hidden_field_tag :accident_location, home_location(@accident) %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '編集', edit_gaps_accident_path(@accident), class: "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '削除', gaps_accident_path(@accident), {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", gaps_accidents_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
