<%= form_with url: gaps_monthly_reports_path, method: :get, data: {turbo_frame: :list, controller: "page-loader", page_loader_modules_value: "pages/gaps-monthly-reports"}, id: :search_form do |f| %>
  <div class="row">
    <div class="col-md-4">
      <h1>作業月毎記録表</h1>
    </div>
    <div class="col-md-3">
      <div class="form-inline">
        <label for="worked_at" class="h5 form-label">作業</label>
        <%= select_tag(:work_type_id, options_from_collection_for_select(WorkType.land, :id, :name), include_blank: true, class: "form-select") %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-inline">
        <label for="worked_at" class="h5 form-label">年月</label>
        <%= select_tag(:worked_at,nil, class: "form-select") %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <%= turbo_frame_tag 'list' do %>
      <%= render partial: "list" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>記号</th>
          <th>作業内容</th>
        </tr>
      </thead>
      <tbody>
        <% WorkKind.gaps.each do |work_kind| %>
          <tr>
            <td><%= work_kind.broccoli_mark %></td>
            <td><%= work_kind.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>記号</th>
          <th>作業者</th>
        </tr>
      </thead>
      <tbody>
        <% Worker.gaps.each do |worker| %>
          <tr>
            <td><%= worker.broccoli_mark %></td>
            <td><%= worker.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :monthly_report_path, months_gaps_monthly_report_path(":work_type_id") %>
