<%= form_with model: task, url: task_end_reason_path(task), method: :patch do |f| %>
  <%= error_print(f.object) %>

  <div class="mb-3">
    <%= f.label :end_reason %>
    <%= f.select(:end_reason, enum_options_for(Task, :end_reason, :unset), {}, class: "form-select") %>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <%= f.submit "登録", class: "btn btn-primary" %>
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">キャンセル</button>
  </div>
<% end %>
