<h2>作業予定者</h2>
<div class="clearfix">
  <div class="float-start">
    <table id="tbl_workers" class="table table-sm">
      <thead>
        <tr>
          <th style="width:20px;">No.</th>
          <th style="width:120px;">作業者名</th>
          <th style="width:60px;">&nbsp;</th>
        </tr>
      </thead>
      <tbody id="tbody_workers">
        <% @schedule_workers.each_with_index do |schedule_worker, i| %>
        <tr id="worker_<%= schedule_worker.worker_id %>">
          <td class="numeric"><%= i + 1 %></td>
          <td><%= schedule_worker.worker.name %></td>
          <td>
            <%= tag(:input, {type: :button, value: "削除", class: "btn btn-outline-dark btn-sm remove-worker", data: {worker: schedule_worker.worker_id}})%>
            <%= hidden_field_tag "schedule_workers[][worker_id]", schedule_worker.worker_id, {id: nil} %>
            <%= hidden_field_tag "schedule_workers[][display_order]", i + 1, {id: nil} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="float-start ms-5">
  <div class="row">
    <div class="md-col-5">
      <% @sections.each do |section| %>
        <div class="form-check form-check-inline ps-2">
          <%= radio_button_tag :section, section[1], {class: "form-check-input"} %>
          <%= label_tag "section_#{section[1]}", section[0], {class: "form-check-label"} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="width: 350px; height:300px; overflow:auto; border-style:double;overflow-x:hidden;">
    <table id="master_workers" class="table table-sm">
      <tbody>
        <% Worker.usual.each do |worker| %>
        <tr id="master_worker_<%= worker.id %>">
          <td>
            <%= tag(:input, {id: "add_button_#{worker.id}", type: :button, value: "←追加", class: "btn btn-outline-dark btn-sm add-worker", data: {worker: worker.id}})%>
          </td>
          <td style="width:80px;"><%= worker.home.name %></td>
          <td style="width:120px;"><%= worker.name %></td>
          <td style="display: none;"><%= worker.home.section_id %></td>
          <td style="display: none;"><%= worker.position_id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="btn-group" role="group">
      <% @sections.each do |section| %>
        <% if section[1] != 0 %>
          <%= tag(:input, {type: :button, value: "←#{section[0]}", class: "btn btn-outline-dark add-section", data: {section: section[1]}})%>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="btn-group" role="group">
      <%= tag(:input, {type: :button, id: "add_director", value: "←理事", class: "btn btn-outline-dark add-members", data: {positions: ["director"]}})%>
      <%= tag(:input, {type: :button, id: "add_leader", value: "←役員", class: "btn btn-outline-dark add-members", data: {positions: ["director","leader"]}})%>
      <%= tag(:input, {type: :button, id: "add_member", value: "←全組合員", class: "btn btn-outline-dark add-members", data: {positions: ["director","leader","member"]}})%>
    </div>
  </div>
</div>
