<h1 class="page-header" data-controller="page-loader" data-page-loader-modules-value="pages/schedule-workers">作業予定者設定</h1>
<%= error_print(@schedule) %>

<%= form_with url: schedule_workers_path(schedule_id: @schedule.model), method: :post do |f| %>
  <%= render(:partial => 'schedule') %>
  <hr />
  <%= render(:partial => 'form') %>

  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= submit_tag '登録', :name => 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to "戻る", schedules_path, {class: "btn btn-outline-dark"}%>
    </div>
  </div>
<% end %>
