<div class="row" data-controller="page-loader" data-page-loader-modules-value="pages/plan-lands">
  <div class="col-md-6 h1">
    作付計画(<%= params[:mode] == Plans::LandsController::TERM_MODES[:next] ? next_term_jp : current_term_jp %>度)
  </div>
  <div class="col-md-6 btn-toolbar">
    <div class="btn-group mb-2 ms-2 mt-2">
      <%= link_to '今年度', new_plans_land_path(mode: Plans::LandsController::TERM_MODES[:current]), class: "btn btn-primary" %>
    </div>
    <div class="btn-group mb-2 ms-2 mt-2">
      <%= link_to '来年度', new_plans_land_path(mode: Plans::LandsController::TERM_MODES[:next]), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="ratio ratio-21x9"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="work_type_name" style="background-color: black;">&nbsp;</h3>
  </div>
  <div class="col-md-6">
    <h3 id="land_info"></h3>
  </div>
</div>
<% @work_types.each_with_index do |work_type, i| %>
  <div class="btn-group">
    <%= tag(:input, {type: :button, value: work_type.name, class: "btn work-type", style: "background-color: #{work_type.bg_color_term(@plan_term)}; color: #{work_type.fg_color_term(@plan_term)}; width:100px;", data: {id: work_type.id}}) %>
    <span id="land_area_<%= work_type.id %>" class="label text-right area-sum" style="width: 50px;">0.0</span>
  </div>
<% end %>
<div id="land_area_sum" class="label text-right font-weight-bold" style="width: 150px;">0.0</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<%= hidden_field_tag :organization_name, current_organization.name %>
<%= form_with url: plans_lands_path(mode: params[:mode]), method: :post do |f| %>
  <div id="lands">
    <% @lands.each do |land| %>
      <%= hidden_field_tag "land[#{land.id}]", land.work_type_id, {data: {id: land.id, place: land.place, area: land.area, region: land.region, owner: land.owner.name}} %>
    <% end %>
  </div>
  <div id="work_types">
    <% @work_types.each do |work_type| %>
      <%= hidden_field_tag "work_type_#{work_type.id}", work_type.name, {name: nil, data: {id: work_type.id, bg_color: work_type.bg_color_term(current_term), fg_color: work_type.fg_color_term(current_term)}} %>
    <% end %>
  </div>
  <div id="btn_toolbar" class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= button_tag "印刷", type: :button, class: "btn btn-success", onclick: "window.print();" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to 'Z-GIS出力', plans_lands_path(mode: params[:mode]), class: "btn btn-primary" %>
    </div>
    <div class="btn-group mr-2">
      <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '初期化', plans_land_path(id: 0, mode: params[:mode]), {data: {turbo_confirm: "本当に初期化してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
<% content_for :head do %>
<style data-turbo-track="reload">
@media print {
  html, body {
    width: 420mm;
    height: 297mm;
  }
  h1 {display: none;}
  #map div > img {
    position: absolute;
  }
  .btn-toolbar {display: none;}
}
</style>
<% end %>
