<h1>作付計画</h1>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="embed-responsive embed-responsive-16by9"></div>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<div id="lands">
  <% @lands.each do |land| %>
    <%= hidden_field_tag "land[#{land.id}]", land&.plan_land&.work_type_id, {data: {id: land.id, place: land.place, area: land.area, region: land.region}} %>
  <% end %>
</div>
<div id="work_types">
  <% @work_types.each do |work_type| %>
    <%= hidden_field_tag "work_type_#{work_type.id}", work_type.name, {name: nil, data: {id: work_type.id, color: work_type.bg_color}} %>
  <% end %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"]%>&callback=initMap" async defer></script>
<script>
function initMap(){
  const org = JSON.parse(document.getElementById("location").value);
  const pos = new google.maps.LatLng(org[0], org[1]);
  const DEFAULT_COLOR = "#000000";

  const map = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  });

  const marker = new google.maps.Marker({
    position: pos,
    title : "<%= current_organization.name %>",
    map: map
  });

  const workTypes = {};
  [].forEach.call(document.getElementById("work_types").getElementsByTagName("input"), function(workType) {
    workTypes[workType.dataset.id] = workType.dataset.bg_color;
  });

  const landRegions = {};
  [].forEach.call(document.getElementById("lands").getElementsByTagName("input"), function(land) {
    const paths = [];
    JSON.parse(land.dataset.region.replace(/\(/g, "[").replace(/\)/g, "]")).forEach(function(rg) {
      paths.push({lat: rg[0], lng: rg[1]});
    });
    const workType = workTypes[land.value];
    landRegions[land.dataset.id] = new google.maps.Polygon({
      paths: paths,
      strokeColor: workType == null ? DEFAULT_COLOR : workType.dataset.color,
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: workType == null ? DEFAULT_COLOR : workType.dataset.color,
      fillOpacity: 0.35,
      map: map
    });
  });
}
</script>
