<h1>作付計画</h1>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="embed-responsive embed-responsive-16by9"></div>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<% @lands.each do |land| %>
  <%= hidden_field_tag :lands, land.region, {id: "land_#{land.id}", data: {id: land.id, place: land.place, area: land.area, work_type: land&.plan_land&.work_type_id}} %>
<% end %>
<% @work_types.each do |work_type| %>
  <%= hidden_field_tag :work_types, work_type.name, {id: "work_type_#{work_type.id}", data: {id: work_type.id, color: work_type.bg_color}} %>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"]%>&callback=initMap" async defer></script>
<script>
function initMap(){
  const org = JSON.parse(document.getElementById("location").value);
  const pos = new google.maps.LatLng(org[0], org[1]);

  const map = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  });

  const marker = new google.maps.Marker({
    position: pos,
    title : "<%= current_organization.name %>",
    map: map
  });

  let landRegions = [];
  document.getElementsByName("lands").forEach(function(land) {
    let paths = [];
    JSON.parse(land.value.replace(/\(/g, "[").replace(/\)/g, "]")).forEach(function(rg) {
      paths.push({lat: rg[0], lng: rg[1]});
    });
    const work_type = document.getElementById("work_type_" + land.dataset.work_type)
    landRegions.push(new google.maps.Polygon({
      paths: paths,
      strokeColor: work_type == null ? "#000000" : work_type.dataset.color,
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: work_type == null ? "#000000" : work_type.dataset.color,
      fillOpacity: 0.35,
      map: map
    }));
  });
}
</script>
