<h1>土地カルテ</h1>
<div class="row">
  <div class="col-md-12">
    <div id="map" class="ratio ratio-21x9"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="land_info"></h3>
  </div>
  <div class="col-md-6">
    <h3>&nbsp;</h3>
  </div>
</div>
<%= hidden_field_tag :location, "[#{current_location}]" %>
<%= hidden_field_tag :organization_name, current_organization.name %>
<%= hidden_field_tag :show_path, lands_card_path(land_id: 0) %>
<% @costs.each do |cost| %>
  <%= hidden_field_tag :regions, cost.land.region, {id: "land_#{cost.land.id}", data: {id: cost.land.id, place: cost.land.place, area: cost.land.area, owner: cost.land.owner.name, color: cost.work_type.bg_color}} %>
<% end %>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<% content_for :head do %>
<%= javascript_include_tag 'controllers/lands-cards', 'data-turbo-track': 'reload', defer: true, type: :module  %>
<% end %>
