<h1><%= @bank.name %>支店マスタ一覧</h1>
<% if @branches.count > 0 %>
<table class="list">
  <thead>
    <tr>
      <th>コード</th>
      <th>名称</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.code %></td>
        <td><%= branch.name %></td>
        <td><%= link_to '修正', edit_bank_branch_path(bank_code: @bank.code, code: branch.code) %></td>
        <td><%= link_to '削除', bank_branch_path(bank_code: @bank.code, code: branch.code), data: { turbo_confirm: '本当に削除してもよろしいですか?', turbo_method: :delete } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to "新規登録", new_bank_branch_path(bank_code: @bank.code), {class: "btn btn-success"}%>
<%= link_to "戻る", banks_path, {class: "btn btn-outline-dark"}%>
