<h1 data-controller="page-loader" data-page-loader-modules-value="pages/chemicals-inventories">棚卸情報更新</h1>
<%= error_print(@inventory) %>
<% chemical_types = ChemicalType.usual %>
<% stock_system = System.get_system(@inventory.checked_on, current_organization) %>
<%= form_with model: @inventory, url: chemicals_inventory_path(@inventory) do |f| %>
 <div class="row">
    <div class="field mb-3 col-md-3">
      <%= f.label :checked_on, class: "col-form-label-lg form-label" %>
      <%= f.date_field :checked_on, {
          required: true, min: stock_system.start_date, max: stock_system.end_date, class: "form-control"}
    %>
    </div>
    <div class="field mb-3 col-md-6">
      <%= f.label :name, class: "col-form-label-lg form-label" %>
      <%= f.text_field :name, {required: true, maxlength: 20, class: "form-control"} %>
    </div>
  </div>
  <h2>薬剤</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>薬品種別</th>
            <th>薬品</th>
            <th>在庫量</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :stocks do |fs| %>
          <tr>
            <td>
              <%= select_tag(
                "chemical_type#{fs.index}",
                options_from_collection_for_select(chemical_types, :id, :name, fs.object&.chemical&.chemical_type_id),
                {class: "form-select chemical_types", data: {index: fs.index}}
                )
              %>
            </td>
            <td>
              <%= fs.select :chemical_id, 
                options_from_collection_for_select(
                  ChemicalDecorator.decorate_collection(Chemical.for_stock(stock_system.term).by_type(fs.object&.chemical&.chemical_type_id || chemical_types.first.id)),
                  :id, :stock_name, fs.object&.chemical_id), {},
                class: "form-select chemical", data: {index: fs.index}
              %>
            </td>
            <td>
              <%= fs.number_field :inventory, {min: 0, max: 999999.9, step: 0.1, required: true, class: "form-control"} %>
            </td>
            <td>
              <%= fs.hidden_field :id %>
              <%= fs.check_box :_destroy %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="btn-toolbar">
      <div class="btn-group mr-2">
        <%= f.submit '登録', class: "btn btn-warning" %>
      </div>
      <div class="btn-group mr-2">
        <%= link_to '削除', chemicals_inventory_path(@inventory), {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
      </div>
      <div class="btn-group mr-2">
        <%= link_to "戻る", chemicals_inventories_path, {class: "btn btn-outline-dark"}%>
      </div>
    </div>
  </div>
<% end %>
<% ChemicalDecorator.decorate_collection(Chemical.for_stock(stock_system.term)).each do |chemical| %>
<%= hidden_field_tag nil, chemical.stock_name,
  data: {chemical_type: chemical.chemical_type_id, id: chemical.id} %>
<% end %>
