<h1 class="page-header">ブロッコリー収量</h1>
<%= error_print(@broccoli) %>

<%= form_with(model: @broccoli.model, :url => {action: :update}, html: {method: :put}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', :name => 'regist', class: "btn btn-warning" %>
    </div>
    <% unless @broccoli.new_record? %>
    <div class="btn-group mr-2">
      <%= link_to '削除',raw(broccoli_path(work_id: @broccoli.work_id, page: params[:page], month: params[:month])), class: "btn btn-danger", data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete} %>
    </div>
    <% end %>
    <div class="btn-group mr-2">
      <%= link_to "戻る", work_path(id: params[:work_id]), {class: "btn btn-outline-dark"}%>
    </div>
  </div>
<% end %>
