<% if @lands.count > 0 %>
  <style>
    .manage {color: blue;}
  </style>
  <table class="table table-sm">
  <thead>
  <tr>
    <th>地番</th>
    <th>面積</th>
    <th>品種</th>
    <th>日付</th>
    <th>内容</th>
  </tr>
  </thead>
  <tbody>
  <% land_id = 0 %>
  <% @lands.each do |land, results| %>
    <% land_cost = @land_costs.find{|land_cost| land_cost.land_id == land.id} %>
    <tr class="<%= land.manager_id == land.owner_id ? "" : "manage" %>">
      <td rowspan="<% results.count %>"><%= land.place %></td>
      <td rowspan="<% results.count %>" style="text-align: right;"><%= sprintf("%.1f", land.area) %></td>
      <td rowspan="<% results.count %>"><%= land_cost&.work_type&.name %></td>
      <% results.each_with_index do |result, i| %>
      <td><%= result.worked_at_short%></td>
      <td><%= result.work_kind_name %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>
