<h1>カレンダー</h1>
<style>
@page {size: A3 landscape}
th.wday-6 {color: Blue;}
th.wday-0 {color: Red;}
th.holiday {color: Red !important; }
<% @calendar_work_kinds.each do |calendar_work_kind| %>
div.kind-<%= calendar_work_kind.work_kind_id %> {color: <%= calendar_work_kind.text_color %> !important;}
div.kind-<%= calendar_work_kind.work_kind_id %> a {color: <%= calendar_work_kind.text_color %> !important;}
<% end %>
@media screen {
  #calendar-wrapper {overflow: scroll;}
  #calendar-base {width: 2550px;}
  .calendar-month {width:200px; margin-left:10px; }
  .calendar-table tbody th {width:65px;}
}
@media print {
  #calendar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 10;
    width: 100vw;
  }
  h1 {display: none;}
  #calendar-base {width: 100%;}
  .calendar-month {margin-left:0.1vw;}
  .calendar-year {width: 2.0vw; font-size: 0.6vw;}
  .calendar-content {width: 5.1vw; font-size: 0.8vw;}
  .btn-toolbar {display: none;}
  .calendar-table {line-height: 1.2;}
  .calendar-table th, .calendar-table td {padding: 0; border: 1px solid black !important;} 
  .calendar-table td div {font-size: 0.6vw;}
  .calendar-day {font-size: 0.75vw; display: block; margin: 0;}
  .calendar-wday {font-size: 0.75vw; display: block; margin: 0;}
  .calendar-kind a {text-decoration:none;}
}
</style>
<div class="row">
  <div id="calendar-wrapper">
    <div id="calendar-base">
        <% 12.times do |month|%>
          <div class="float-left calendar-month">
            <table class="table table-bordered table-sm calendar-table">
              <thead>
                <tr>
                    <th class="calendar-year"><%= @year %></th>
                    <th class="calendar-content"><%= month + 1 %>月</th>
                </tr>
              </thead>
              <tbody>
                <% today = Date.new(@year, month + 1, 1) %>
                <% last = today >> 1 %>
                <% while today < last %>
                <tr>
                    <th class="numeric wday-<%= today.wday%> <%= HolidayJp.holiday?(today) ? "holiday" : "" %>">
                      <span class="calendar-day"><%= today.day %></span>
                      <span class="calendar-wday">(<%= I18n.t('date.abbr_day_names')[today.wday]%>)</span>
                    </th>
                    <td>
                      <% @schedules.each do |schedule| %>
                        <% if schedule.worked_at == today %>
                          <div class="kind-<%= schedule.work_kind_id %> calendar-kind">
                            <% if schedule.minute %>
                            <%= link_to schedule.work_kind.name, minute_path(schedule.minute.id), {target: :_blank} %>
                            <% else %>
                            <%= schedule.work_kind.name %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                      <% @works.each do |work| %>
                        <% if work.worked_at == today %>
                          <div class="kind-<%= work.work_kind_id %> calendar-kind">
                            <%= link_to  work.work_kind.name + "(#{work.work_type.name})", work_path(id: work) %>
                          </div>
                        <% end %>
                      <% end %>
                    </td>
                </tr>
                <% today += 1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_tag "印刷", type: :button, class: "btn btn-success", onclick: "window.print();" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '制御', calendar_work_kinds_path, class: "btn btn-warning" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<script>
$(function() {
    $(window).on("resize", function() {
        init_size();
    });

    init_size();
});

function init_size() {
    const off = $("#calendar-wrapper").offset();

    $("#calendar-wrapper").height($(window).height() - off.top - $("#btn_toolbar").height());
    $("#calendar-wrapper").width($(window).width() - off.left);
}
</script>
