<% content_for :head do %>
<%= stylesheet_link_tag 'calendar', media: 'all' %>
<% end %>
<h1 data-controller="page-loader" data-page-loader-modules-value="pages/calendar">カレンダー</h1>
<style>
<% @calendar_work_kinds.each do |calendar_work_kind| %>
div.kind-<%= calendar_work_kind.work_kind_id %> {color: <%= calendar_work_kind.text_color %> !important;}
div.kind-<%= calendar_work_kind.work_kind_id %> a {color: <%= calendar_work_kind.text_color %> !important;}
<% end %>
</style>
<div class="btn-toolbar">
  <div class="form-check form-check-inline">
    <input class="form-check-input check-weather" type="checkbox" id="check_temprature" data-css="div.temprature" />
    <label class="form-check-label form-label" for="check_temprature">気温</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input check-weather" type="checkbox" id="check_water" data-css="div.water" />
    <label class="form-check-label form-label" for="check_water">日照時間(降水量)</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input check-weather" type="checkbox" id="check_wind" data-css="div.wind" />
    <label class="form-check-label form-label" for="check_wind">風</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input check-weather" type="checkbox" id="check_other" data-css="div.other" />
    <label class="form-check-label form-label" for="check_other">その他</label>
  </div>
</div>
<div class="row">
  <div class="col-lg-12" id="calendar-wrapper" style="height: calc(100vh - 200px);">
    <div id="calendar-base">
        <% 12.times do |month|%>
          <div class="float-start calendar-month">
            <table class="table table-bordered table-sm calendar-table">
              <thead>
                <tr>
                    <th class="calendar-year"><%= @year %></th>
                    <th class="calendar-content"><%= month + 1 %>月</th>
                </tr>
              </thead>
              <tbody>
                <% today = Date.new(@year, month + 1, 1) %>
                <% last = today >> 1 %>
                <% while today < last %>
                <tr>
                  <% weather = @weathers.find {|w| w.target_date == today} %>
                    <th class="numeric wday-<%= today.wday %> <%= HolidayJp.holiday?(today) ? "holiday" : "" %>">
                      <span class="calendar-day"><%= today.day %></span>
                      <span class="calendar-wday">(<%= I18n.t('date.abbr_day_names')[today.wday]%>)</span>
                    </th>
                    <td>
                      <% @schedules.each do |schedule| %>
                        <% if schedule.worked_at == today %>
                          <div class="kind-<%= schedule.work_kind_id %> calendar-kind">
                            <% if schedule.minute %>
                            <%= link_to schedule.work_kind.name, minute_path(schedule.minute.id), {target: :_blank} %>
                            <% else %>
                            <%= schedule.work_kind.name %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                      <% @works.each do |work| %>
                        <% if work.model.worked_at == today %>
                          <div class="kind-<%= work.model.work_kind_id %> calendar-kind">
                            <%= link_to work.work_kind.name + "(#{work.exact_work_type_name})", work_path(work, back_url: false), {target: :_blank} %>
                          </div>
                        <% end %>
                      <% end %>
                      <% if weather %>
                        <div class="weather">
                          <div class="temprature"><span class="height"><%= weather.height %>℃</span> <span class="lowest"><%= weather.lowest %>℃</span></div>
                          <div class="water"><span class="sunshine"><%= weather.sunshine %>H</span> <span class="rain"><%= weather.rain %>mm</span></div>
                          <div class="wind"><span class="speed"><%= weather.wind_speed%>m/s</span><span class="direction">(<%= weather.wind_direction %>)</span></div>
                          <div class="other"><span class="pressure"><%= weather.pressure %>hPa</span><span class="humidity">(<%= weather.humidity %>%)</span></div>
                        </div>
                      <% end%>
                    </td>
                </tr>
                <% today += 1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_tag "印刷", type: :button, class: "btn btn-success", disabled: "disabled", onclick: "window.print();" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to 'Excel出力(年間)', calendars_excels_path(months: 12), class: "btn btn-success" %>
    <%= link_to 'Excel出力(半年)', calendars_excels_path(months: 6), class: "btn btn-success" %>
    <%= link_to 'Excel出力(3ヶ月)', calendars_excels_path(months: 3), class: "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '制御', calendar_work_kinds_path, class: "btn btn-warning" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
