<h1>世帯別日当一覧(<%= current_term %>)</h1>
<% old_worker_id = 0 %>
<% old_home_id = 0 %>
<table class="table table-sm table-bordered" data-controller="grouped-rows">
  <thead class="thead-dark">
    <tr>
      <th>世帯</th>
      <th>作業者</th>
      <th>作業日</th>
      <th>作業種別</th>
      <th>作業内容</th>
      <th>作業時間</th>
      <th>単価</th>
      <th>日当</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |result| %>
    <% if result.worker.home_id != old_home_id %>
      <% old_home_id = result.worker.home_id %>
      <tr class="tr-total1 table-row-primary-bg" data-code1="<%= old_home_id %>" data-action="click->grouped-rows#toggleTotal1 keydown->grouped-rows#onKeydown">
        <td><%= result.home_name %></td>
        <td colspan="3"></td>
        <td class="numeric"><%= @home_totals[old_home_id][:count] %></td>
        <td class="numeric"><%= @home_totals[old_home_id][:hours] %></td>
        <td></td>
        <td class="numeric"><%= number_to_currency(@home_totals[old_home_id][:amount], {precision: 0, unit: ""}) %></td>
      </tr>
    <% end %>
    <% if result.worker.id != old_worker_id %>
      <% old_worker_id = result.worker.id %>
      <tr class="tr-total2 table-row-low" data-code1="<%= old_home_id %>" data-code2="<%= old_worker_id %>" data-action="click->grouped-rows#toggleTotal2 keydown->grouped-rows#onKeydown">
        <td></td>
        <td><%= result.worker_name(current_organization) %></td>
        <td colspan="2"></td>
        <td class="numeric"><%= @worker_totals[old_worker_id][:count] %></td>
        <td class="numeric"><%= @worker_totals[old_worker_id][:hours] %></td>
        <td></td>
        <td class="numeric"><%= number_to_currency(@worker_totals[old_worker_id][:amount], {precision: 0, unit: ""}) %></td>
      </tr>
    <% end %>
    <tr class="tr-detail" data-code1="<%= old_home_id %>" data-code2="<%= old_worker_id %>">
      <td></td>
      <td></td>
      <td><%= result.worked_at %></td>
      <td><%= result.work_type_name %></td>
      <td style="overflow:hidden;"><%= result.work_name %></td>
      <td class="numeric"><%= result.hours %></td>
      <td class="numeric"><%= result.price %></td>
      <td class="numeric"><%= result.amount %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", work_results_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", (params[:fixed_at] ? fixes_path : menu_index_path), {class: "btn btn-outline-dark"} %>
  </div>
</div>

