<div class="row">
  <div class="col-md-4">
    <h1>整備記録表</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>日付</th>
          <th>機械</th>
          <th>機械NO</th>
          <th>担当</th>
          <th>実施内容</th>
        </tr>
      </thead>
      <tbody>
        <% @works.each do |work| %>
          <tr>
            <td class="text-right"><%= work.worked_at %></td>
            <td><%= work.machine_type_names %></td>
            <td><%= work.machine_numbers %></td>
            <td><%= work.worker_names %></td>
            <td><%= work.maintenances.join('、') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>