<h1 data-controller="page-loader" data-page-loader-modules-value="pages/sorimachi">ソリマチ農業簿記(<%= current_term %>)</h1>
<% if @error %>
<div class="alert alert-danger" role="alert"><%= @error %></div>
<% end %>
<% if @journals && @journals.count > 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th class="numeric">番号</th>
      <th>日付</th>
      <th></th>
      <th>借方科目</th>
      <th class="numeric">借方金額</th>
      <th></th>
      <th>貸方科目</th>
      <th class="numeric">貸方金額</th>
      <th>備考</th>
      <th></th>
      <th>内訳</th>
    </tr>
  </thead>
  <tbody>
  <% @journals.each do |journal| %>
    <% details = @details.select {|detail| detail.line == journal.line} %>
    <tr id="tr_<%= journal.id %>">
      <%= render(:partial => 'detail', locals: {detail: journal}) %>
    </tr>
    <% details.each do |detail| %>
      <tr data-detail-line="<%= detail.line %>" style="display:none;" class="bg-light" id="tr_<%= detail.id %>">
        <%= render(:partial => 'detail', locals: {detail: detail}) %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= paginate(@journals) %>
<% end %>
<%= form_with(url: sorimachi_imports_path, data: {turbo_confirm: "取り込みを実行してもよろしいですか？"}, html: {multipart: true}) do |f| %>
  <div class="row">
    <div class="col-md-4 form-group">
      <%= file_field_tag :import_file, {class: "form-control-file custom-file-input", data: {buttonText: "ファイル選択"}} %>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
      <%= submit_tag 'インポート', class: "btn btn-danger", data: {wait: true} %>
      <%= link_to "科目初期化", new_sorimachi_account_path, {class: "btn btn-warning", data: {confirm: "勘定科目を初期化してもよろしいですか？", wait: true}} %>
      <%= button_tag "簡易集計", type: :button, id: :total_button, class: "btn btn-info", data: {url: sorimachi_totals_path } %>
    </div>
    <div class="btn-group mr-2" role="group">
      <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
    </div>
  </div>
<% end %>
<!-- Modal -->
<div class="modal fade" id="kamoku_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">内訳登録</h5>
      </div>
      <div class="modal-body" id="kamoku_body">
      </div>
      <div class="modal-footer">
        <button id="kamoku_update" type="button" class="btn btn-primary">登録</button>
        <button id="kamoku_reset" type="button" class="btn btn-warning">リセット</button>
        <button id="kamoku_delete" type="button" class="btn btn-danger" data-url="<%= sorimachi_import_path("@") %>">削除</button>
        <button id="kamoku_close" type="button" class="btn btn-secondary">閉じる</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="total_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">科目別簡易集計</h5>
      </div>
      <div class="modal-body" id="total_body">
      </div>
      <div class="modal-footer">
        <button id="total_close" type="button" class="btn btn-secondary">閉じる</button>
      </div>
    </div>
  </div>
</div>
