<h1>ソリマチ勘定科目(<%= current_term %>)</h1>
<div class="wrapper small float-head-wrapper" style="height: calc(100vh - 200px)">
  <table class="table float-head">
    <thead>
      <tr>
        <th class="numeric">コード</th>
        <th>種別名</th>
        <th>名称</th>
        <th class="numeric">借方合計金額</th>
        <th class="numeric">貸方合計金額</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @journal_rows.each do |row| %>
        <tr>
          <td class="numeric"><%= row[:code] %></td>
          <td><%= row[:account]&.total_cost_type&.name %></td>
          <td><%= row[:account]&.name %></td>
          <td class="numeric"><%= number_to_currency(row[:amount][0], {precision: 0, unit: ""}) %></td>
          <td class="numeric"><%= number_to_currency(row[:amount][1], {precision: 0, unit: ""}) %></td>
          <td>
            <%= link_to '編集', edit_sorimachi_account_path(code: row[:code]), {class: "btn btn-success btn-sm"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="wrapper small mt-2">
  <table id="total-cost-type-summary" class="table table-sm">
    <thead>
      <tr>
        <th>種別名</th>
        <th class="numeric">金額</th>
      </tr>
    </thead>
    <tbody>
      <% @total_cost_type_rows.each do |row| %>
        <tr>
          <td><%= row[:total_cost_type_name] %></td>
          <td class="numeric"><%= number_to_currency(row[:amount_total], {precision: 0, unit: ""}) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group mr-2" role="group">
    <%= form_with url: sorimachi_accounts_path, data: {turbo_confirm: "取り込みを実行してもよろしいですか？"} do %>
      <%= submit_tag 'インポート', class: "btn btn-danger" %>
    <% end %>
  </div>
  <div class="btn-group mr-2" role="group">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
