<div class="row" data-controller="page-loader" data-page-loader-modules-value="pages/personal_informations/statistics">
  <div class="col-md-12">
    <canvas id="chart1" />
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <canvas id="chart2" />
  </div>
</div>
<%= hidden_field_tag :chart1_labels, @total_worker.map {|ta| ta[0] - 2000 }.to_json.html_safe %>
<%= hidden_field_tag :chart1_data1, @total_worker.map {|ta| ta[1].to_f}.to_json.html_safe %>
<%= hidden_field_tag :chart1_data2, @total_home.map {|ta| ta[1].to_f}.to_json.html_safe %>
<%= hidden_field_tag :chart2_data1, @total_month1.map {|ta| ta.to_f}.to_json.html_safe %>
<%= hidden_field_tag :chart2_data2, @total_month2.map {|ta| ta.to_f}.to_json.html_safe %>
