<h1>世帯マスタ一覧</h1>
<div class="new_data">
<%= link_to '世帯マスタ新規登録', new_home_path %>
</div>
<% if @homes.count > 0 %>
<table class="list">
  <tr>
    <th>世帯名</th>
    <th>世帯主</th>
    <th>電話番号</th>
    <th>班</th>
    <th colspan="2">&nbsp;</th>
  </tr>

<% @homes.each do |home| %>
  <tr>
    <td><%=h home.name %></td>
    <td><%=h home.holder_name %></td>
    <td><%=h home.telephone %></td>
    <td><%=h home.section.name %></td>
    <td><%= link_to '修正', edit_home_path(home) %></td>
    <td><%= link_to '削除', home, method: :delete, data: {confirm: "本当に削除してもよろしいですか?"} %></td>
  </tr>
<% end %>
</table>
<%= paginate(@homes) %>
<% end %>
<%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + root_path + "';") %>
