<h1>世帯マスタ一覧</h1>
<% if @homes.count > 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>世帯名</th>
      <th>代表</th>
      <th>電話番号</th>
      <th>班</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.name %></td>
        <td><%= home.holder_name %></td>
        <td><%= home.telephone %></td>
        <td><%= home.section.name %></td>
        <td><%= link_to '修正', edit_home_path(home), {class: "btn btn-success btn-sm"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@homes) %>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_tag "新規登録",  type: :button, onclick: raw("javascript:location.href = '" + new_home_path + "';"), class: "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= button_tag "戻る",  type: :button, onclick: raw("javascript:location.href = '" + menu_index_path + "';"), class: "btn btn-outline-dark" %>
  </div>
</div>
