<div class="row" data-controller="page-loader" data-page-loader-modules-value="pages/gap-trainings">
  <div class="col-md-12">
    <h1>研修実績登録</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>研修情報</h2>
  </div>
</div>
<%= render partial: "work" %>
<hr />
<%= form_with model: @training, url: gaps_training_path(@work), method: :put do |f| %>
<%= error_print(@training) %>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :training_types, class: "col-form-label-lg form-label" %>
      <br>
      <div class="form-check-inline">
        <%= f.collection_check_boxes :training_type_ids, TrainingType.usual, :id, :name do |b| %>
          <%= b.check_box class: "form-check-input" %>
          <%= b.label class: "form-check-label" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :content, class: "col-form-label-lg form-label" %>
      <%= f.text_field :content, {maxlength: 20, required: false, class: "form-control"} %>
    </div>
    <div class="col-md-3">
      <%= f.label :training_place, class: "col-form-label-lg form-label" %>
      <%= f.text_field :training_place, {maxlength: 20, required: false, class: "form-control"} %>
    </div>
    <div class="col-md-6">
      <%= f.label :document, class: "col-form-label-lg form-label" %>
      <%= f.text_field :document, {maxlength: 40, required: false, class: "form-control"} %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h2>勉強会情報<%= check_box_tag :study, true, @training.studied? %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= hidden_field_tag "training[studying_place]", nil %>
      <%= f.label :studying_place, class: "col-form-label-lg form-label" %>
      <%= f.text_field :studying_place, {maxlength: 20, required: false, class: "form-control studies", disabled: !@training.studied?} %>
    </div>
    <div class="col-md-3">
      <%= hidden_field_tag "training[worker_id]", nil %>
      <%= f.label :worker_id, class: "col-form-label-lg form-label" %>
      <%= f.select(:worker_id, options_from_collection_for_select(@work.workers, :id, :name, f.object&.worker_id), {}, class: "form-select studies", disabled: !@training.studied?) %>
    </div>
    <div class="col-md-6">
      <%= hidden_field_tag "training[schedule_id]", nil %>
      <%= f.label :schedule_id, class: "col-form-label-lg form-label" %>
      <%= f.select(:schedule_id, options_for_select(Schedule.for_training(@work.model).map {|schedule| ["#{schedule.worked_at} #{schedule.work_kind.name} #{schedule.schedule_workers.count}名", schedule.id]}, f.object&.schedule_id),
       {}, class: "form-select studies", disabled: !@training.studied?) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= hidden_field_tag "training[remarks]", nil %>
      <%= f.label :remarks, class: "col-form-label-lg form-label" %>
      <%= f.text_area :remarks, {rows: 3, class: "form-control studies", disabled: !@training.studied?} %>
    </div>
  </div>
  <hr />
  <div id="btn_toolbar" class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', class: "btn btn-warning" %>
    </div>
    <% unless @training.new_record? %>
      <div class="btn-group mr-2">
        <%= link_to '削除', gaps_training_path(@work.id), {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
      </div>
    <% end %>
    <div class="btn-group mr-2">
      <%= link_to '戻る', gaps_trainings_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
