<h1>作付予定(<%= next_term_jp %>)</h1>
<%= form_with url: plans_work_types_path, method: :post do |f| %>
  <div class="row">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>品種</th>
          <th>作付有無</th>
          <th>配色</th>
        </tr>
      </thead>
      <tbody>
      <% @work_types.each do |work_type| %>
        <tr style="<%= work_type.exists_term?(next_term) ? "background-color: #{work_type.bg_color_term(next_term)}; color: #{work_type.fg_color_term(next_term)};" : "" %>">
          <td><%= work_type.name %></td>
          <td><%= check_box_tag "work_types[#{work_type.id}][term_flag]", true, work_type.exists_term?(next_term) %></td>
          <td>
            <%= color_field_tag "work_types[#{work_type.id}][bg_color]", work_type.bg_color_term(next_term) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="btn_toolbar" class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
