<ul class="list-group">
  <% @user_topics.each do |user_topic| %>
    <li class="list-group-item">
      <span class='badge bg-primary me-1'><%= user_topic.word %></span>
      <span class='badge bg-secondary me-1'><%= user_topic.topic&.topic_type&.name %></span>
      <a href="<%= user_topic.topic.url %>" target="_blank" rel="noopener noreferrer">
        <%= user_topic.topic.title %>
      </a>
      <small class="text-muted">(<%= user_topic.topic.posted_on.strftime("%Y-%m-%d") %>)</small>
      <% unless user_topic.read_flag %>
        <span class="badge bg-warning text-dark">未読</span>
      <% end %>
    </li>
  <% end %>
</ul>
