<%= error_print(@work_type) %>
<%= form_for(@work_type) do |f| %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, {maxlength: 10, size: 15, required: true} %>
</div>
<div class="field">
  <%= f.label :display_order %><br />
  <%= f.number_field(:display_order, {maxlength: 4, size: 4, required: true}) %>
</div>
<div class="field">
  <%= f.label :genre %><br />
  <%= f.select(:genre, @categories.map {|category| [category.name, category.genre]}) %>
</div>
<br />
<div class="actions">
  <%= f.submit '登録' %>
  <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + work_types_path + "';") %>
</div>
<% end %>
