<h1>作業分類マスタ一覧</h1>
<% if @work_types.count > 0 %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th></th>
        <th>カテゴリー</th>
        <th>名称</th>
        <th>今年度</th>
        <th colspan="2">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @work_types.each do |work_type| %>
        <tr>
          <td><%= work_type_icon_tag(work_type) %></td>
          <td style="background-color: <%= work_type.bg_color %>; color:<%= work_type.fg_color %>;"><%= work_type.category_name %></td>
          <td style="background-color: <%= work_type.bg_color %>; color:<%= work_type.fg_color %>;"><%= work_type.name %></td>
          <td><%= @work_type_terms.include?(work_type.id) ? '●' : '' %></td>
          <td><%= link_to '修正', edit_work_type_path(work_type), {class: "btn btn-success btn-sm"} %></td>
          <td><%= link_to '削除', work_type, {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger btn-sm"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "新規登録", new_work_type_path, {class: "btn btn-success"}%>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
