<!-- app/views/ip_lists/edit.html.erb -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>作業日報管理システム(V2)</title>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center my-4">番号確認</h1>
        <%= form_with url: ip_list_path, class: "needs-validation", method: :patch do |form| %>
          <div class="mb-3">
            <%= form.text_field :token, class: "form-control form-control-lg", pattern: '\d{6}', title: "6桁の数字を入力してください", placeholder: "123456", size: 6, maxlength: 6, required: true %>
          </div>
          <div class="d-grid">
            <%= form.submit "送信", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
