<%= error_print(@machine_price) %>
<% work_kinds = @machine_price.work_kinds %>
<%= form_for(@machine_price) do |f| %>
  <div class="field form-group">
    <%= f.label :validated_at, class: "col-form-label-lg form-label" %>
    <%= f.date_field(:validated_at, {required: true, class: "form-control"}) %><br />
  </div>
  <table class="list">
    <thead>
      <tr>
        <th>設定モード</th>
        <% work_kinds.each do |work_kind| %>
          <th colspan="2" style="text-align:center;"><%=h work_kind.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% Lease.all.each do |lease| %>
        <tr>
          <th><%=h lease.name %></th>
          <% work_kinds.each do |work_kind| %>
            <td><%= select_tag("details_form[#{lease.id}][#{work_kind.id}][adjust_id]", options_from_collection_for_select(@adjusts, :id, :name, @machine_price.details_form[lease.id][work_kind.id][:adjust_id]), {class: "form-select"}) %></td>
            <td><%= number_field_tag("details_form[#{lease.id}][#{work_kind.id}][price]", @machine_price.details_form[lease.id][work_kind.id][:price], {min: 0, max: 99999, required: true, step: 1, class: "form-control"}) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.hidden_field(:machine_id) %>
  <%= f.hidden_field(:machine_type_id) %>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', class: "btn btn-warning" %>
    </div>
    <% if controller.action_name == "edit" %>
      <div class="btn-group mr-2">
        <%= link_to '履歴', machine_price_headers_path(id: @machine_price.id), class: "btn btn-success" %>
      </div>
      <div class="btn-group mr-2">
        <%= link_to '削除', @machine_price, {method: :delete, data: {confirm: "本当に削除してもよろしいですか?"}, class: "btn btn-danger"} %>
      </div>
    <% end %>
    <% if @machine_price.machine_id == 0 %>
      <div class="btn-group mr-2">
        <%= link_to '戻る', edit_machine_type_path(@machine_price.machine_type_id), class: "btn btn-outline-dark" %>
      </div>
    <% else %>
      <div class="btn-group mr-2">
        <%= link_to '戻る', edit_machine_path(@machine_price.machine_id), class: "btn btn-outline-dark" %>
      </div>
    <% end %>
  </div>
<% end %>
