<%= error_print(@machine_price) %>
<% work_kinds = @machine_price.work_kinds %>
<%= form_for(@machine_price) do |f| %>
 <div class="field">
    <%= f.label :validated_at %>
    <%= f.date_field(:validated_at) %><br />
 </div>
<table class="list">
  <tr>
    <th>設定モード</th>
    <% work_kinds.each do |work_kind| %>
    <th colspan="2"><%=h work_kind.name %></th>
    <% end %>
  </tr>
  <tbody>
<% Lease.all.each do |lease| %>
  <tr>
    <th><%=h lease.name %></th>
    <% work_kinds.each do |work_kind| %>
    <td><%= select_tag("details_form[#{lease.id}][#{work_kind.id}][adjust_id]", options_from_collection_for_select(@adjusts, :id, :name, @machine_price.details_form[lease.id][work_kind.id][:adjust_id])) %></td>
    <td><%= number_field_tag("details_form[#{lease.id}][#{work_kind.id}][price]", @machine_price.details_form[lease.id][work_kind.id][:price], {min: 0, max: 99999, required: true, step: 1}) %></td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>
<%= f.hidden_field(:machine_id) %>
<%= f.hidden_field(:machine_type_id) %>
<div class="actions">
<%= f.submit '登録' %>
<% if controller.action_name == "edit" %>
<%= button_tag "履歴", type: :button, :onclick => raw("location.href = '" + machine_price_headers_path(id: @machine_price.id) + "';") %>
<%= link_to '削除', @machine_price, method: :delete, class: :button, data: {confirm: "本当に削除してもよろしいですか?"} %>
<% end %>
    <% if @machine_price.machine_id == 0 %>
    <%= button_tag "戻る", type: :button, :onclick => raw("location.href = '" + edit_machine_type_path(@machine_price.machine_type_id) + "';") %>
    <% else %>
    <%= button_tag "戻る", type: :button, :onclick => raw("location.href = '" + edit_machine_path(@machine_price.machine_id) + "';") %>
    <% end %>
<% end %>
</div>
