<% if @machine_price.count > 0 %>
<h2><%= @machine_price.validated_at.strftime("%Y年%m月%d日") %>以降</h2>
<table class="list">
  <tr>
    <th>設定モード</th>
    <th colspan="2">標準</th>
    <% @work_kinds.each do |work_kind| %>
    <th colspan="2"><%=h work_kind.name %></th>
    <% end %>
  </tr>

<% Lease.all.each do |lease| %>
  <tr>
    <th><%=h lease.name %></th>
    <td><%=h @machine_price.details_form[lease.id][0].adjust.name %></td>
    <td class="numeric"><%=h number_with_delimiter(@machine_price.details_form[lease.id][0].price) %></td>
    <% @work_kinds.each do |work_kind| %>
    <td><%=h @machine_price.details_form[lease.id][work_kind.id].adjust.name %></td>
    <td class="numeric"><%=h number_with_delimiter(@machine_price.details_form[lease.id][work_kind.id].price) %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
