<h1><%= @machine_type.name %>料金一覧</h1>
<div class="new_data">
<%= link_to '料金新規登録', new_machine_price_header_path(machine_type_id: @machine_type), class: "btn btn-success" %>
</div>
<%= render(:partial => "show") %>
<div class="btn-toolbar">
  <% if @machine_price %>
    <div class="btn-group mr-2">
      <%= link_to '戻る', edit_machine_price_header_path(@machine_price), class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="btn-group mr-2">
    <%= link_to '戻る', machine_types_path, class: "btn btn-outline-dark" %>
  </div>
</div>
