<h1 data-controller="page-loader" data-page-loader-modules-value="pages/dryings-edit">乾燥／調整登録</h1>
<%= form_with(model: @drying.model, url: {controller: :dryings, action: :update}) do |fd| %>
  <div class="row">
    <div class="col-md-5">
      <div class="input-group">
        <div class="form-check">
          <%= fd.radio_button :drying_type_id, :country, {class: "form-check-input", id: "drying_type_country"} %>
          <label for="drying_type_country" class="form-check-label h3 form-label"><%= I18n.t("activerecord.enums.drying.drying_type_ids.country") %></label>
        </div>
        <div class="form-check ms-2">
          <%= fd.radio_button :drying_type_id, :another, {class: "form-check-input", id: "drying_type_another"} %>
          <label for="drying_type_another" class="form-check-label h3 form-label"><%= I18n.t("activerecord.enums.drying.drying_type_ids.another") %></label>
        </div>
        <div class="form-check ms-2">
          <%= fd.radio_button :drying_type_id, :self, {class: "form-check-input", id: "drying_type_self"} %>
          <label for="drying_type_self" class="form-check-label h3 form-label"><%= I18n.t("activerecord.enums.drying.drying_type_ids.self") %></label>
        </div>
      </div>
    </div>
    <div class="col-md-3 field">
      <div class="input-group">
        <label class="col-form-label-lg form-label">品種</label>
        <%= fd.select(:work_type_id, @work_types.map {|w| [w.name, w.id]}, {}, {class: "form-select dry-input"}) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5" style="border: medium solid lightpink">
      <h2>乾燥</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <label class="form-label">乾燥担当：<%= @drying.home.name %></label>
            <%= fd.hidden_field :home_id %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 input-group field mb-3">
            <label class="form-label">搬入日：</label>
            <label class="form-label"><%= @drying.carried_on %></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 input-group field mb-3">
            <label class="form-label">出荷日：</label>
            <%= fd.date_field :shipped_on, {min: @drying.model.carried_on, required: true, class: "form-control dry-input dry-country dry-self dry-another"} %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 input-group field mb-3">
            <label class="form-label">水分：</label>
            <%= fd.number_field :water_content, {min: 10, max: 20, step: 0.1, required: false, class: "form-control dry-input dry-self dry-another", style: "width: 100px;"} %>
            <label class="form-label">%</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table id="drying-moths" class="table talbe-sm">
              <thead>
                <tr>
                  <th>回数</th>
                  <th>No.</th>
                  <th>籾(kg)</th>
                  <th>玄米(kg)</th>
                  <th>水分(%)</th>
                </tr>
              </thead>
              <tbody>
                <%= fd.fields_for :drying_moths do |fm| %>
                <tr>
                  <td class="numeric">
                    <%= fm.object.moth_count %>
                    <%= fm.hidden_field :moth_count %>
                  </td>
                  <td>
                    <%= fm.number_field :moth_no, {class: "form-control form-control-sm dry-input dry-country", min: 0, max: 9999, style: "width: 80px;"} %>
                  </td>
                  <td>
                    <%= fm.number_field :moth_weight, {class: "form-control form-control-sm dry-input dry-country", min: 0, max: 9999.9, step: 0.1, style: "width: 80px;"} %>
                  </td>
                  <td>
                    <%= fm.number_field :rice_weight, {class: "form-control form-control-sm dry-input dry-country", min: 0, max: 9999.9, step: 0.1, style: "width: 80px;"} %>
                  </td>
                  <td>
                    <%= fm.number_field :water_content, {class: "form-control form-control-sm dry-input dry-country", min: 10, max: 20, step: 0.1, style: "width: 80px;"} %>
                    <%= fm.hidden_field :id %>
                  </td>
                </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="2">合計</th>
                  <td class="numeric" id="sum_moth_weight"></td>
                  <td class="numeric" id="sum_rice_weight"></td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5" style="border: medium solid lightskyblue">
      <h2>調整</h2>
      <div class="container">
        <%= fd.fields_for :adjustment do |fa| %>
          <div class="row">
            <div class="col-md-12 input-group field mb-3">
              <label class="form-label">調整担当：</label>
              <%= fa.select(:home_id, @homes.map {|h| [h.owner_name, h.id]}, {include_blank: true}, {class: "form-select dry-input dry-another"}) %>
              <%= fa.hidden_field :id %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 input-group field mb-3">
              <label class="form-label">出荷日：</label>
              <%= fa.date_field :shipped_on, {min: @drying.model.carried_on, class: "form-control dry-input dry-another"} %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 input-group field mb-3">
              <label class="form-label">調整 出荷：</label>
              <%= fa.number_field :rice_bag, {min: 0, max: 999, step: 1, required: false, class: "form-control dry-input dry-self dry-another", style: "width: 100px;"} %>
              <label class="form-label">袋</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 input-group field mb-3">
              <label class="form-label">調整 半端：</label>
              <%= fa.number_field :half_weight, {min: 0, max: 99.9, step: 0.1, required: false, class: "form-control dry-input dry-self dry-another", style: "width: 100px;"} %>
              <label class="form-label">kg</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 field mb-3">
              <div class="input-group">
                <label class="form-label">くず米：</label>
                <%= fa.number_field :waste_weight, {min: 0, max: 2475, step: 1, required: false, class: "form-control dry-input dry-self dry-another", style: "width: 100px;"} %>
                <label class="form-label">kg</label>
              </div>
            </div>
            <div class="col-md-6 field mb-3">
              <div class="input-group">
                <%= number_field_tag :waste_weight_bag, 0, {min: 0, max: 99, step: 1, required: false, class: "form-control dry-input dry-self dry-another", style: "width: 100px;", name: nil} %>
                <label class="form-label">袋</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 field mb-3">
              <div class="input-group">
                <label class="form-label">くず米出荷：</label>
                <%= fa.date_field :waste_date, {min: @drying.model.carried_on, class: "form-control dry-input dry-self dry-another"} %>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4 field mb-3">
              <div class="form-check">
                <label class="form-check-label" for="drying_adjustment_attributes_container_flag" class="form-check-input">フレコン</label>
                <%= fa.check_box :container_flag, {class: "form-check-input dry-input dry-self dry-another"}, true, false %>
              </div>
            </div>
            <div class="col-md-8 field mb-3">
              <%= number_field_tag :contaier_weight, fa.object.container_weight, {min: 0, max: 9999, step: 1, class: "form-control dry-input dry-self dry-another"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2" style="border: medium solid lightgreen">
      <h2>水田</h2>
      <div class="container">
        <%= fd.fields_for :drying_lands do |fl| %>
          <div class="row">
            <div class="col-md-12 field mb-3">
              <div class="input-group">
                <%= fl.select(:land_id, @lands.map {|l| [l.place, l.id]}, {include_blank: true}, {class: "form-select dry-input"}) %>
                <%= fl.hidden_field :id %>
                <%= fl.hidden_field :display_order %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= fd.submit '登録', class: "btn btn-warning dry-input" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '削除', @drying, {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '複写', copy_drying_path(@drying), {action: :copy, method: :post, data: {turbo_confirm: "表示しているデータを複写しますか?"}, class: "btn btn-warning"} %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '戻る', drying_path(@drying.home), class: "btn btn-outline-dark" %>
    </div>
    <input type="hidden" id="adjustment_home_sql" value="">
  </div>
<% end %>
<%= hidden_field_tag "kg_per_bag_waste", Drying::KG_PER_BAG_WASTE %>
<%= hidden_field_tag "kg_per_bag_rice", Drying::KG_PER_BAG_RICE %>
<%= hidden_field_tag "carried_on", @drying.model.carried_on %>
<% content_for :head do %>
<style>
#drying-moths td, #drying-moths th {padding: 0.25rem;}
td#sum_moth_weight, td#sum_rice_weight {padding-right: 2.5rem;}
</style>
<% end %>
