<h1 data-controller="page-loader" data-page-loader-modules-value="pages/dryings-index">乾燥／調整一覧</h1>
<table class="table talbe-sm table-bordered drying-list">
  <thead>
    <tr>
      <th>世帯</th>
      <% @works.each do |work| %>
        <th><%= work.worked_at_short %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
    <tr>
      <th><%= link_to home.name, drying_path(home), {class: "btn btn-outline-success btn-sm", style: "width: 60px;"} %></th>
      <% @works.each do |work| %>
        <% drying = @dryings.find {|d| d.carried_on == work.model.worked_at && d.home_id == home.id } %>
        <% if drying %>
          <% if drying.unset? %>
            <td>
              <%= link_to '○', drying, {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}} %>
            </td>
          <% else %>
            <td>●</td>
          <% end %>
        <% else %>
          <td class="drying-data" data-home="<%= home.id %>" data-worked_at="<%= work.model.worked_at %>"></td>
        <% end%>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= form_with model: @new_drying, id: :new_drying do |f| %>
  <%= f.hidden_field(:term) %>
  <%= f.hidden_field(:home_id) %>
  <%= f.hidden_field(:carried_on) %>
<% end %>
<% content_for :head do %>
<style>
.drying-data {cursor: pointer;}
.drying-data:hover {background-color: green; opacity: 0.4;}
.drying-list {width:auto;}
.drying-list tbody tr th, .drying-list tbody tr td {text-align: center; padding: 5px;}
</style>
<% end %>
