<style>
.drying-data {cursor: pointer;}
.drying-list {width:auto;}
.drying-list tbody tr th, .drying-list tbody tr td {text-align: center; padding: 5px;}
</style>
<h1>乾燥調整一覧</h1>
<table class="table talbe-sm drying-list">
  <thead>
    <tr>
      <th>世帯</th>
      <% @works.each do |work| %>
        <th><%= work.worked_at_short %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
    <tr>
      <th><%= link_to home.name, edit_drying_path(home), {class: "btn btn-outline-success btn-sm", style: "width: 60px;"} %></th>
      <% @works.each do |work| %>
        <% drying = @dryings.find {|d| d.carried_on == work.model.worked_at && d.home_id == home.id } %>
        <% if drying %>
          <% if drying.drying_type_id == 0 %>
            <td>
              <%= link_to '○', drying, {method: :delete, data: {confirm: "本当に削除してもよろしいですか?"}} %>
            </td>
          <% else %>
            <td>●</td>
          <% end %>
        <% else %>
          <td class="drying-data" data-home="<%= home.id %>" data-worked_at="<%= work.model.worked_at %>"></td>
        <% end%>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= form_for(@new_drying) do |f| %>
  <%= f.hidden_field(:term) %>
  <%= f.hidden_field(:home_id) %>
  <%= f.hidden_field(:carried_on) %>
<% end %>
<script>
$(function() {
    $(".drying-data").click(function() {
        createData($(this));
    });
});

function createData(ctl) {
    if(bootbox.confirm("指定データを作成しますか？", function(result) {
        if(result) {
            $("#drying_home_id").val(ctl.data("home"));
            $("#drying_carried_on").val(ctl.data("worked_at"));
            $("#new_drying").submit();
        }
    }));
}
</script>