<h1 data-controller="page-loader" data-page-loader-modules-value="pages/dryings-show">乾燥／調整管理表(<%= @home.name %>)</h1>
<% content_for :head do %>
<style>
#drying-detail {
  overflow: hidden;
  display:inline-block;
}
#drying-detail td {
  position: relative;
  cursor: pointer;
}
#drying-detail td.highlight {
  background-color: rgba(0, 123, 255, 0.15); /* Bootstrap風の薄い青 */
}
</style>
<% end %>
<div class="row">
  <table id="drying-detail" class="table table-bordered table-sm" style="width:auto;">
    <tbody>
      <tr>
        <th>品種</th>
        <% @dryings.each do |drying| %>
          <td data-drying="<%= edit_drying_path(drying) %>"><%= drying.work_type_name %></td>
        <% end %>
      </tr>
      <tr>
        <th>搬入日</th>
        <% @dryings.each do |drying| %>
          <td data-drying="<%= edit_drying_path(drying) %>"><%= drying.carried_on %></td>
        <% end %>
      </tr>
      <tr>
        <th>出荷日</th>
        <% @dryings.each do |drying| %>
          <td data-drying="<%= edit_drying_path(drying) %>"><%= drying.shipped_on %></td>
        <% end %>
      </tr>
      <tr>
        <th>種別</th>
        <% @dryings.each do |drying| %>
          <td data-drying="<%= edit_drying_path(drying) %>"><%= drying.drying_type_name(@home.id) %></td>
        <% end %>
      </tr>
      <tr>
        <th>乾籾出荷</th>
        <% @dryings.each do |drying| %>
          <td class="numeric" data-drying="<%= edit_drying_path(drying) %>"><%= drying.dry_rice_weight %>kg</td>
        <% end %>
      </tr>
      <tr>
        <th>調整出荷</th>
        <% @dryings.each do |drying| %>
          <td class="numeric" data-drying="<%= edit_drying_path(drying) %>"><%= drying.adjust_rice_bag %>袋</td>
        <% end %>
      </tr>
      <tr>
        <th>調整残</th>
        <% @dryings.each do |drying| %>
          <td class="numeric" data-drying="<%= edit_drying_path(drying) %>"><%= drying.adjust_half_weight %>kg</td>
        <% end %>
      </tr>
      <tr>
        <th>くず米</th>
        <% @dryings.each do |drying| %>
          <td class="numeric" data-drying="<%= edit_drying_path(drying) %>"><%= drying.adjust_waste_bag %>袋</td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<h2>合計</h2>
<div class="row">
  <table id="drying-total" class="table table-bordered table-sm" style="width:auto;">
    <thead>
      <tr>
        <th>種類</th>
        <th>合計(kg)</th>
        <th>合計(袋)</th>
        <th>単価(円)</th>
        <th>金額(円)</th>
      </tr>
    </thead>
    <% total_amount = 0 %>
    <tbody>
      <tr>
        <th>乾籾出荷</th>
        <td class="numeric"><%= format_weight(@total_dryings[:country]) %></td>
        <td class="numeric"><%= format_bag(@shipped_totals[:country]) %></td>
        <td class="numeric"><%= number_to_currency(current_system.dry_price, {precision: 0, unit: ""}) %></td>
        <td class="numeric"><%= format_amount(@shipped_totals[:country], current_system.dry_price) %></td>
        <% total_amount += calc_amount(@total_dryings[:country], current_system.dry_price) %>
      </tr>
      <tr>
        <th>調整出荷</th>
        <td class="numeric"><%= format_weight(@total_dryings[:self]) %></td>
        <td class="numeric"><%= format_bag(@shipped_totals[:self]) %></td>
        <td class="numeric"><%= number_to_currency(current_system.dry_adjust_price, {precision: 0, unit: ""}) %></td>
        <td class="numeric"><%= format_amount(@shipped_totals[:self], current_system.dry_adjust_price) %></td>
        <% total_amount += calc_amount(@shipped_totals[:self], current_system.dry_adjust_price) %>
      </tr>
      <tr>
        <th>調整のみ</th>
        <td class="numeric"><%= format_weight(@total_dryings[:adjust]) %></td>
        <td class="numeric"><%= format_bag(@shipped_totals[:adjust]) %></td>
        <td class="numeric"><%= number_to_currency(current_system.adjust_price, {precision: 0, unit: ""}) %></td>
        <td class="numeric"><%= format_amount(@shipped_totals[:adjust], current_system.adjust_price) %></td>
        <% total_amount += calc_amount(@shipped_totals[:adjust], current_system.adjust_price) %>
      </tr>
      <tr>
        <th>くず米(乾燥調整)</th>
        <td class="numeric"><%= format_weight(@waste_totals[:self]) %></td>
        <td class="numeric"><%= format_waste_bag(@waste_totals[:self]) %></td>
        <td class="numeric"><%= number_to_currency(current_system.waste_price, {precision: 0, unit: ""}) %></td>
        <td class="numeric"><%= format_waste_amount(@waste_totals[:self], current_system.waste_price) %></td>
        <% total_amount += calc_waste_amount(@waste_totals[:self], current_system.waste_price) %>
      </tr>
      <tr>
        <th>くず米(乾燥のみ)</th>
        <td class="numeric"><%= format_weight(@waste_totals[:another]) %></td>
        <td class="numeric"><%= format_waste_bag(@waste_totals[:another]) %></td>
        <td class="numeric"><%= number_to_currency(current_system.waste_drying_price, {precision: 0, unit: ""}) %></td>
        <td class="numeric"><%= format_waste_amount(@waste_totals[:another], current_system.waste_drying_price) %></td>
        <% total_amount += calc_waste_amount(@waste_totals[:another], current_system.waste_drying_price) %>
      </tr>
      <tr>
        <th>くず米(調整のみ)</th>
        <td class="numeric"><%= format_weight(@waste_totals[:adjust]) %></td>
        <td class="numeric"><%= format_waste_bag(@waste_totals[:adjust]) %></td>
        <td class="numeric"><%= number_to_currency(current_system.waste_adjust_price, {precision: 0, unit: ""}) %></td>
        <td class="numeric"><%= format_waste_amount(@waste_totals[:adjust], current_system.waste_adjust_price) %></td>
        <% total_amount += calc_waste_amount(@waste_totals[:adjust], current_system.waste_adjust_price) %>
      </tr>
      <tr>
        <th>合 計</th>
        <td class="text-center">-</td>
        <td class="text-center">-</td>
        <td class="text-center">-</td>
        <td class="numeric"><%= number_to_currency(total_amount, {precision: 0, unit: ""}) %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', dryings_path, class: "btn btn-outline-dark" %>
  </div>
</div>
