<h1>乾燥／調整管理表(<%= @home.name %>)</h1>
<div class="row">
  <div id="dry-wrapper">
    <div id="dry-base">
      <table class="table table-bordered table-sm" style="width:auto;">
        <tbody>
          <tr>
            <th>品種</th>
            <% @dryings.each do |drying| %>
              <td><%= drying.work_type_name %></td>
            <% end %>
          </tr>
          <tr>
            <th>搬入日</th>
            <% @dryings.each do |drying| %>
              <td><%= drying.carried_on %></td>
            <% end %>
          </tr>
          <tr>
            <th>出荷日</th>
            <% @dryings.each do |drying| %>
              <td><%= drying.shipped_on %></td>
            <% end %>
          </tr>
          <tr>
            <th>水分</th>
            <% @dryings.each do |drying| %>
              <td class="numeric"><%= drying.water_content %>%</td>
            <% end %>
          </tr>
          <tr>
            <th>乾籾出荷</th>
            <% @dryings.each do |drying| %>
              <td class="numeric"><%= drying.dry_rice_weight %>kg</td>
            <% end %>
          </tr>
          <tr>
            <th>調整出荷</th>
            <% @dryings.each do |drying| %>
              <td class="numeric"><%= drying.adjust_rice_weight %>kg</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', dryings_path, class: "btn btn-outline-dark" %>
  </div>
</div>
