<h1 data-controller="page-loader" data-page-loader-modules-value="pages/land-fees">土地原価修正(<%= @home.name %>)</h1>
<%= form_with url: lands_fee_path, method: :put, id: @home.id do |f| %>
<table class="table table-sm">
  <thead>
    <th>番地</th>
    <th class="numeric">登記面積</th>
    <th class="numeric">耕作面積</th>
    <th></th>
    <th class="numeric">管理料(単価)</th>
    <th class="numeric">管理料</th>
    <th class="numeric">小作料(単価)</th>
    <th class="numeric">小作料</th>
  </thead>
  <% sum_area = 0 %>
  <% sum_reg_area = 0 %>
  <% sum_manage_fee = 0 %>
  <% sum_peasant_fee = 0 %>
  <tbody>
    <% @home.owned_lands.usual.each do |land| %>
    <% land_fee = land.land_fee(current_term) %>
    <tr>
      <td><%= land.place %></td>
      <td class="numeric" id="area_<%= land.id %>"><%= number_with_precision(land.reg_area, precision: 2) %></td>
      <td class="numeric"><%= number_with_precision(land.area, precision: 1) %></td>
      <td><%= link_to 'マスタ', edit_land_path(land), {class: "btn btn-success btn-sm"} %></td>
      <td><%= number_field_tag "land_fees[#{land.id}][manage_price]", number_with_precision(land_fee&.manage_fee.to_f / land.reg_area * 10, precision: 0),
        {class: "form-control", min: 0, max: 999999, step: 1, onchange: "changeManagePrice(this)", id: "manage_price_#{land.id}", data: {id: land.id}} %></td>
      <td><%= number_field_tag "land_fees[#{land.id}][manage_fee]", number_with_precision(land_fee&.manage_fee.to_f, precision: 0), 
        {class: "form-control", min: 0, max: 999999, step: 1, onchange: "changeManageFee(this)", id: "manage_fee_#{land.id}", data: {id: land.id}} %></td>
      <td><%= number_field_tag "land_fees[#{land.id}][peasant_price]", number_with_precision(land_fee&.peasant_fee.to_f / land.reg_area * 10, precision: 0),
        {class: "form-control", min: 0, max: 999999, step: 1, onchange: "changePeasantPrice(this)", id: "peasant_price_#{land.id}", data: {id: land.id}} %></td>
      <td>
        <%= number_field_tag "land_fees[#{land.id}][peasant_fee]", number_with_precision(land_fee&.peasant_fee.to_f, precision: 0),
          {class: "form-control", min: 0, max: 999999, step: 1, onchange: "changePeasantFee(this)", id: "peasant_fee_#{land.id}", data: {id: land.id}} %>
        <%= hidden_field_tag "land_fees[#{land.id}][term]", current_term %>
        <%= hidden_field_tag "land_fees[#{land.id}][id]", land_fee&.id %>
        <%= hidden_field_tag "land_fees[#{land.id}][land_id]", land.id %>
      </td>
    </tr>
    <% sum_area += land.area.to_f %>
    <% sum_reg_area += land.reg_area.to_f %>
    <% sum_manage_fee += land_fee&.manage_fee.to_f %>
    <% sum_peasant_fee += land_fee&.peasant_fee.to_f %>
    <% end %>
  </tbody>
  <tfoot>
    <th>合計</th>
    <th class="numeric"><%= number_with_precision(sum_reg_area, precision: 2) %></th>
    <th class="numeric"><%= number_with_precision(sum_area, precision: 1) %></th>
    <td></td>
    <td></td>
    <td id="sum_manage_fee" class="numeric"><%= number_with_precision(sum_manage_fee, precision: 0, delimiter: ',') %></td>
    <td></td>
    <td id="sum_peasant_fee" class="numeric"><%= number_with_precision(sum_peasant_fee, precision: 0, delimiter: ',') %></td>
  </tfoot>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', lands_fees_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
<% end %>
