<div class="row">
  <div class="col-md-8">
    <h1>保有米一覧(<%= current_term %>年度)</h1>
  </div>
</div>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>世帯</th>
      <% @owned_prices.each do |owned_price| %>
        <th><%= owned_price.name %></th>
      <% end %>
      <th>合計</th>
      <th>うち縁故米</th>
    </tr>
  </thead>
  <tbody>
    <% total_owned_count = {} %>
    <% total_relative_count = {} %>
    <% @homes.each do |home| %>
      <tr>
        <th><%= home.name %></th>
        <% total_count = 0 %>
        <% @owned_prices.each do |owned_price| %>
          <% owned_rice = @owned_rices.find {|o| o.home_id == home.id && o.owned_rice_price_id == owned_price.id} %>
          <td class="numeric"><%= owned_rice&.owned_count || 0 %></td>
          <% total_count += (owned_rice&.owned_count || 0) %>
          <% total_owned_count[owned_price.id] = (total_owned_count[owned_price.id] ? total_owned_count[owned_price.id] : 0) + (owned_rice&.owned_count || 0) %>
        <% end %>
        <td class="numeric"><%= total_count %></td>
        <td class="numeric"><%= total_count > home.owned_rice_limit ? total_count - home.owned_rice_limit : "" %></td>
        <td><%= link_to '修正', edit_owned_rice_path(id: home.id), {class: "btn btn-success btn-sm"} %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot style="background-color: mistyrose">
    <tr>
      <th>合計</th>
      <% total_count = 0 %>
      <% @owned_prices.each do |owned_price| %>
        <td class="numeric"><%= total_owned_count[owned_price.id] %></td>
        <% total_count += total_owned_count[owned_price.id] %>
      <% end %>
      <td class="numeric"><%= total_count %></td>
      <td></td>
    </tr>
  </tfoot>
</table>
