<%= error_print(@worker) %>
<%= form_for(@worker) do |f| %>
<div class="field form-group">
  <%= f.label :family_phonetic, class: "col-form-label-lg" %>
  <%= f.text_field :family_phonetic, {:maxlength => 10, :size => 20, required: true, class: "form-control"} %>
</div>
<div class="field form-group">
  <%= f.label :family_name, class: "col-form-label-lg" %>
  <%= f.text_field :family_name, {:maxlength => 10, :size => 20, required: true, class: "form-control"} %>
</div>
<div class="field form-group">
  <%= f.label :first_phonetic, class: "col-form-label-lg" %>
  <%= f.text_field :first_phonetic, {:maxlength => 10, :size => 20, required: true, class: "form-control"} %>
</div>
<div class="field form-group">
  <%= f.label :first_name, class: "col-form-label-lg" %>
  <%= f.text_field :first_name, {:maxlength => 10, :size => 20, required: true, class: "form-control"} %>
</div>
<div class="field form-group">
  <%= f.label :home_id, class: "col-form-label-lg" %>
  <%= f.select(:home_id, @homes.map {|home| [home.name, home.id]}, {}, class: "form-control") %>
  <div class="form-check">
    <%= check_box_tag :holder, true, @worker.home ? (@worker.id == @worker.home.worker_id) : false, {class: "form-check-input"} %>
    <%= label_tag :holder, '代表', class: "form-check-label"%>
  </div>
</div>
<div class="field form-group">
  <%= f.label :gender_id, class: "col-form-label-lg" %>
  <%= f.select(:gender_id, @genders.map {|gender| [gender.name, gender.id]}, {}, class: "form-control") %>
</div>
<div class="field form-group">
  <%= f.label :birthday, class: "col-form-label-lg" %>
  <%= f.date_field :birthday, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :mobile, class: "col-form-label-lg" %>
  <%= f.telephone_field :mobile, {:maxlength => 15, :size => 20, class: "form-control"} %>
</div>
<div class="field form-group">
  <%= f.label :display_order, class: "col-form-label-lg" %>
  <%= f.number_field :display_order, {maxlength: 4, size: 4, min: 0, max: 9999, step: 1, required: true, class: "form-control"} %>
</div>
<% if @worker.token.present? %>
<div id="token_info" class="form-group">
  <%= f.label :token, class: "col-form-label-lg" %>
  <div class="row">
    <div class="col-md-4">
      <%= text_field_tag :worker_token, @worker.token, {readonly: :readonly, class: "form-control"} %>
    </div>
    <%= image_tag qrcode_tag personal_information_path(@worker.token) %>
  </div>
</div>
<script>
$(function() {
  $("#token_info").slideToggle();
});
</script>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= f.submit '登録', class: "btn btn-warning" %>
  </div>
  <% if action_name == "edit" && @worker.user.nil? %>
    <div class="btn-group mr-2">
      <%= link_to 'アカウント登録', new_user_path(worker_id: @worker), {class: "btn btn-success"} %>
    </div>
  <% end %>
  <% if @worker.token.present? && current_organization.try(:url).present? %>
  <div class="btn-group mr-2">
    <input type="button" class="btn btn-success" value="トークンを見る" onclick="$('#token_info').slideToggle();">
  </div>
  <% end %>
  <div class="btn-group mr-2">
    <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + workers_path + "';"), class: "btn btn-outline-dark" %>
  </div>
</div>
<% end %>
