<%= error_print(@worker) %>
<%= form_with(model: @worker) do |f| %>
<div class="row">
  <div class="field mb-3 col-md-3">
    <%= f.label :family_phonetic, class: "col-form-label-lg form-label" %>
    <%= f.text_field :family_phonetic, {maxlength: 10, required: true, class: "form-control"} %>
  </div>
  <div class="field mb-3 col-md-3">
    <%= f.label :first_phonetic, class: "col-form-label-lg form-label" %>
    <%= f.text_field :first_phonetic, {maxlength: 10, required: true, class: "form-control"} %>
  </div>
</div>
<div class="row">
  <div class="field mb-3 col-md-3">
    <%= f.label :family_name, class: "col-form-label-lg form-label" %>
    <%= f.text_field :family_name, {maxlength: 10, required: true, class: "form-control"} %>
  </div>
  <div class="field mb-3 col-md-3">
    <%= f.label :first_name, class: "col-form-label-lg form-label" %>
    <%= f.text_field :first_name, {maxlength: 10, required: true, class: "form-control"} %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :home_id, class: "col-form-label-lg form-label" %>
    <%= f.select(:home_id, @homes.map {|home| [home.name, home.id]}, {}, class: "form-select") %>
    <div class="form-check">
      <%= check_box_tag :holder, true, @worker.home ? (@worker.id == @worker.home.worker_id) : false, {class: "form-check-input"} %>
      <%= label_tag :holder, '代表', class: "form-check-label"%>
    </div>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :gender_id, class: "col-form-label-lg form-label" %>
    <%= f.select(:gender_id, enum_options_for(Worker, :gender_id), {}, class: "form-select") %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :display_order, class: "col-form-label-lg form-label" %>
    <%= f.number_field :display_order, {maxlength: 4, size: 4, min: 0, max: 9999, step: 1, required: true, class: "form-control"} %>
  </div>
</div>
<div class="row">
  <div class="field mb-3 col-md-3">
    <%= f.label :birthday, class: "col-form-label-lg form-label" %>
    <%= f.date_field :birthday, class: "form-control" %>
  </div>
  <div class="field mb-3 col-md-3">
    <%= f.label :mobile, class: "col-form-label-lg form-label" %>
    <%= f.telephone_field :mobile, {maxlength: 15, class: "form-control"} %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :position_id, class: "col-form-label-lg form-label" %>
    <%= f.select(:position_id, enum_options_for(Worker, :position_id), {}, class: "form-select") %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :office_role, class: "col-form-label-lg form-label" %>
    <%= f.select(:office_role, enum_options_for(Worker, :office_role), {}, class: "form-select") %>
  </div>
  <div class="field mb-3 col-md-2">
    <%= f.label :broccoli_mark, class: "col-form-label-lg form-label" %>
    <%= f.text_field :broccoli_mark, {maxlength: 1, class: "form-control"} %>
  </div>
</div>
<div class="row">
  <div class="field mb-6 col-md-6">
    <%= f.label :pc_mail, class: "col-form-label-lg form-label" %>
    <%= f.text_field :pc_mail, {maxlength: 50, class: "form-control"} %>
  </div>
</div>
<hr />
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= f.submit '登録', class: "btn btn-warning" %>
  </div>
  <% unless @worker.new_record? %>
    <div class="btn-group mr-2">
      <%= link_to '削除', @worker, {data: {turbo_confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
    </div>
  <% end %>
  <div class="btn-group mr-2">
    <%= link_to '戻る', workers_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
<% end %>
