<h1>作業者マスタ一覧</h1>
<% if @workers.count > 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>氏名</th>
      <th>世帯</th>
      <th>役職</th>
      <th>携帯番号</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.disp_name %></td>
        <td><%= worker.home.name %></td>
        <td><%= worker.position.name %></td>
        <td><%= worker.mobile %></td>
        <td><%= link_to '修正', edit_worker_path(worker), {class: "btn btn-success btn-sm"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@workers) %>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_tag "新規登録",  type: :button, :onclick => raw("javascript:location.href = '" + new_worker_path + "';"), class: "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
