<h1>育苗集計</h1>
<% if @seedling_homes.count > 0 %>
<table class="table table-sm" style="width:auto;">
  <thead>
    <tr>
      <th>世帯</th>
      <th>品種</th>
      <th class="numeric">契約数</th>
      <th class="numeric">使用数</th>
      <th>状態</th>
      <th>単価</th>
      <th>価格</th>
    </tr>
  </thead>
  <tbody>
    <% @seedling_homes.each do |seedling_home| %>
      <tr>
        <td><%= seedling_home.home_name %></td>
        <td><%= seedling_home.work_type_name %></td>
        <td class="numeric"><%= seedling_home.quantity %></td>
        <td class="numeric"><%= sprintf("%d", @seedling_result_quantities[seedling_home.id] || 0) %></td>
        <td><%= seedling_status(seedling_home) %></td>
        <td class="numeric"><%= sprintf("%d", @seedling_price) %></td>
        <td class="numeric"><%= sprintf("%d", seedling_amount(seedling_home)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", total_seedlings_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
