<% @works.each do |work| %>
  <tr>
    <td><%= work.worked_at %></td>
    <td><%= work.broccoli_worker_names %></td>
    <td><%= work.broccoli_land_places %></td>
    <td><%= work.broccoli_work_kind_name %></td>
    <td class="numeric"><%= @sum_hours[work.id] || 0 %></td>
    <td><%= link_to "作業日報", work_path(work), {class: "btn btn-outline-success btn-sm"} %></td>
  </tr>
<% end %>
