<%= error_print(@chemical_type) %>
<%= form_for(@chemical_type) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, {maxlength: 20, size: 20} %>
  </div>
  <div class="field">
    <%= f.label :display_order %><br />
    <%= f.number_field(:display_order, {maxlength: 4, size: 4}) %>
  </div>
 <br />
 <div class="field">
 <fieldset>
    <legend>対応作業</legend>
  <% @work_kinds.each do |work_kind| %>
    <span class="check_group">
      <%= check_box_tag "work_kinds[]", work_kind.id, @chemical_type.work_kinds.include?(work_kind), {:id => nil} %><!--
    --><%=h work_kind.name %>
    </span>
  <% end %>
  </fieldset>
  </div>
 <br />
 <div class="actions">
    <%= f.submit '登録' %>
    <%= button_tag "戻る", type: :button, :onclick => raw("javascript:location.href = '" + chemical_types_path + "';") %>
  </div>
<% end %>
