<h1>薬剤種別マスタ一覧</h1>
<div class="new_data">
<%= link_to '薬剤種別マスタ新規登録', new_chemical_type_path %>
</div>
<% if @chemical_types.count > 0 %>
<table class="list">
  <tr>
    <th>薬剤種別名</th>
    <th colspan="2">&nbsp;</th>
  </tr>

<% @chemical_types.each do |chemical_type| %>
  <tr>
    <td><%=h chemical_type.name %></td>
    <td><%= link_to '修正', edit_chemical_type_path(chemical_type) %></td>
    <% if chemical_type.chemicals.count == 0 %>
    <td><%= link_to '削除', chemical_type, method: :delete, data: {confirm: "本当に削除してもよろしいですか?"} %></td>
    <% else %>
    <td>&nbsp;</td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
<%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + root_path + "';") %>
