<h1 data-controller="page-loader" data-page-loader-modules-value="pages/organizations">管理情報変更</h1>
<%= error_print(@organization) %>
<%= form_with(model: @organization) do |f| %>
  <div class="row">
    <div class="field mb-3 col-md-3">
        <%= f.label :name, class: "col-form-label-lg form-label" %>
        <%= f.text_field :name, {maxlength: 20, size: 20, required: true, class: "form-control"} %>
    </div>
    <div class="col-md-9">
      <div id="map" class="ratio ratio-21x9"></div>
    </div>
  </div>
  <div class="row">
    <div class="field mb-3 col-md-3">
      <%= f.label :workers_count, class: "col-form-label-lg form-label" %>
      <%= f.number_field :workers_count, {min: 2, max: 50, step: 1, required: true, class: "form-control"} %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :lands_count, class: "col-form-label-lg form-label" %>
      <%= f.number_field :lands_count, {min: 0, max: 99, step: 1, required: true, class: "form-control"} %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :machines_count, class: "col-form-label-lg form-label" %>
      <%= f.number_field :machines_count, {min: 0, max: 50, step: 1, required: true, class: "form-control"} %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :chemicals_count, class: "col-form-label-lg form-label" %>
      <%= f.number_field :chemicals_count, {min: 0, max: 50, step: 1, required: true, class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="field mb-3 col-md-3">
        <%= f.label :daily_worker, class: "col-form-label-lg form-label" %>
        <%= f.select :daily_worker, @organization.localed_daily_workers, {}, {class: "form-select"} %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :chemical_group_count, class: "col-form-label-lg form-label" %>
      <%= f.number_field :chemical_group_count, {min: 0, max: 5, step: 1, required: true, class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="field mb-3 col-md-6">
        <%= f.label :url, class: "col-form-label-lg form-label" %>
        <%= f.url_field :url, {maxlength: 255, class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="field mb-3 col-md-3">
      <%= f.label :broccoli_work_type_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:broccoli_work_type_id, @work_types, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :broccoli_work_kind_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:broccoli_work_kind_id, @work_kinds, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :rice_planting_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:rice_planting_id, @work_kinds, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :whole_crop_work_kind_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:whole_crop_work_kind_id, @work_kinds, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
  </div>
  <div class="row">
    <div class="field mb-3 col-md-3">
      <%= f.label :contract_work_type_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:contract_work_type_id, @work_types, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :maintenance_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:maintenance_id, @work_kinds, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :cleaning_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:cleaning_id, @work_kinds, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :harvesting_work_kind_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:harvesting_work_kind_id, @work_kinds, :id, :name, {include_blank: true}, {class: "form-select"}) %>
      <%= f.hidden_field :location, {value: "(#{current_location})"} %>
    </div>
  </div>
  <div class="row">
    <div class="field mb-3 col-md-3">
      <%= f.label :straw_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:straw_id, @work_types, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
    <div class="field mb-3 col-md-3">
      <%= f.label :training_id, class: "col-form-label-lg form-label" %>
      <%= f.collection_select(:training_id, @work_kinds, :id, :name, {include_blank: true}, {class: "form-select"}) %>
    </div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= f.submit '登録', class: "btn btn-danger" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
    </div>
  </div>
<% end %>
