<h1>管理マスタ修正</h1>

<%= error_print(@organization) %>
<%= form_for(@organization) do |f| %>
 <div class="field form-group">
    <%= f.label :name, class: "col-form-label-lg" %>
    <%= f.text_field :name, {maxlength: 20, size: 20, required: true, class: "form-control"} %>
 </div>
 <div class="field form-group">
    <%= f.label :workers_count, class: "col-form-label-lg" %>
    <%= f.number_field :workers_count, {min: 2, max: 50, step: 1, required: true, class: "form-control"} %>
 </div>
 <div class="field form-group">
    <%= f.label :lands_count, class: "col-form-label-lg" %>
    <%= f.number_field :lands_count, {min: 0, max: 99, step: 1, required: true, class: "form-control"} %>
 </div>
 <div class="field form-group">
    <%= f.label :machines_count, class: "col-form-label-lg" %>
    <%= f.number_field :machines_count, {min: 0, max: 50, step: 1, required: true, class: "form-control"} %>
 </div>
 <div class="field form-group">
    <%= f.label :chemicals_count, class: "col-form-label-lg" %>
    <%= f.number_field :chemicals_count, {min: 0, max: 50, step: 1, required: true, class: "form-control"} %>
 </div>
 <div class="field form-group">
    <%= f.label :daily_worker, class: "col-form-label-lg" %>
    <%= f.select :daily_worker, @organization.localed_daily_workers, {}, {class: "form-control"} %>
 </div>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= f.submit '登録', class: "btn btn-danger" %>
  </div>
  <div class="btn-group mr-2">
    <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + menu_index_path + "';"), class: "btn btn-default" %>
  </div>
 </div>
<% end %>
