<h1>薬剤使用量一覧</h1>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>薬剤種別</th>
      <th>薬剤</th>
      <th>作業日</th>
      <th>作業種別</th>
      <th>作業内容</th>
      <th>面積(a)</th>
      <th>使用量(10a当)</th>
      <th>10a当</th>
      <th>単位</th>
    </tr>
  </thead>
  <tbody>
    <% @chemicals.each do |chemical| %>
      <tr class="chemical-total table-primary" data-chemical="<%= chemical.id %>" style="cursor: pointer;">
        <td><%= chemical.chemical_type.name %></td>
        <td><%= chemical.name %></td>
        <td colspan="3"></td>
        <td class="numeric"></td>
        <td class="numeric"><%= @total_chemicals[chemical.id] %></td>
        <td class="numeric"></td>
        <td><%= chemical.unit %></td>
      </tr>
      <% @works.each do |work| %>
        <% next unless @work_chemicals["#{work.id},#{chemical.id}"] %>
        <tr class="detail" data-chemical="<%= chemical.id %>">
          <td colspan="2"></td>
          <td><%= work.worked_at %></td>
          <td><%= work.work_type_name %></td>
          <td><%= work.name %></td>
          <td class="numeric"><%= work.sum_areas %></td>
          <td class="numeric"><%= @work_chemicals["#{work.id},#{chemical.id}"] %></td>
          <td class="numeric"><%= number_with_precision(@work_chemicals["#{work.id},#{chemical.id}"] / work.sum_areas * 10, precision: 2) %></td>
          <td><%= chemical.unit %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
<script>
$(function() {
    $(".chemical-total").click(function() {
        var s = $(".detail[data-chemical='" + $(this).data("chemical") + "']");
        if(s.is(":visible")) {
            s.hide();
        } else {
            s.show();
        }
    });
  
    $(".detail").hide();
});
</script>
