<h1>薬剤使用量一覧</h1>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>薬剤種別</th>
      <th>薬剤</th>
      <th>作業日</th>
      <th>作業種別</th>
      <th>作業内容</th>
      <th>面積(a)</th>
      <th>使用量</th>
      <th>10a当</th>
      <th>単位</th>
    </tr>
  </thead>
  <tbody>
    <% @chemicals.each do |chemical| %>
      <tr class="tr-total1 table-row-primary-bg" data-code1="<%= chemical.id %>">
        <td><%= chemical.chemical_type.name %></td>
        <td><%= chemical.name %></td>
        <td colspan="3"></td>
        <td class="numeric"></td>
        <td class="numeric"><%= number_with_precision(@total_chemicals[chemical.id], precision: 2) %></td>
        <td class="numeric"></td>
        <td><%= chemical.unit %></td>
      </tr>
      <% @works.each do |work| %>
        <% @work_types[work.id].each do |work_type| %>
          <% work_chemical = @work_chemicals["#{work.id},#{work_type.id},#{chemical.id}"] %>
          <% next if work_chemical.nil? || work_chemical.zero? %>
          <tr class="tr-detail" data-code1="<%= chemical.id %>">
            <td colspan="2"></td>
            <td><%= work.worked_at %></td>
            <td><%= work_type.name %></td>
            <td><%= work.name %></td>
            <td class="numeric"><%= @work_areas["#{work.id},#{work_type.id},#{chemical.id}"] %></td>
            <td class="numeric"><%= number_with_precision(work_chemical, precision: 2) %></td>
            <td class="numeric"><%= number_with_precision(work_chemical / @work_areas["#{work.id},#{work_type.id},#{chemical.id}"] * 10, precision: 2) %></td>
            <td><%= chemical.unit %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to "CSV出力", work_chemicals_path(format: :csv), {class: "btn btn-outline-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
