<%= error_print(@expense) %>
<%= form_for(@expense) do |f| %>
<div class="row">
  <div class="mb-3 col-md-2">
    <%= f.label :payed_on, class: "col-form-label-lg form-label" %>
    <%= f.date_field :payed_on, {required: true, class: "form-control", min: current_system.start_date, max: current_system.end_date} %>
  </div>
  <div class="mb-3 col-md-2">
    <%= f.label :expense_type_id, class: "col-form-label-lg form-label" %>
    <%= f.select(:expense_type_id, @expense_types.map {|expense_type| [expense_type.name, expense_type.id]}, {}, {class: "form-select"}) %>
  </div>
  <div class="mb-3 col-md-4">
    <%= f.label :content, class: "col-form-label-lg form-label" %>
    <%= f.text_field :content, {:maxlength => 40, :size => 40, class: "form-control"} %>
  </div>
  <div class="mb-3 col-md-2">
    <%= f.label :amount, class: "col-form-label-lg form-label" %>
    <%= f.number_field :amount, {min: 1, max: 9999999, step: 1, required: true, class: "form-control"} %>
  </div>
  <div class="mb-3 col-md-2">
    <%= f.label :quantity, class: "col-form-label-lg form-label" %>
    <%= f.number_field :quantity, {min: 0, max: 9999, required: false, class: "form-control"} %>
  </div>
</div>
<div class="row">
  <div class="mb-3 col-md-2">
    <%= f.label :chemical_type_id, class: "col-form-label-lg form-label" %>
    <%= f.select(:chemical_type_id, @chemical_types.map {|chemical_type| [chemical_type.name, chemical_type.id]}, {include_blank: true}, {class: "form-select"}) %>
  </div>
  <div class="mb-3 col-md-2">
    <%= f.label :chemical_id, class: "col-form-label-lg form-label" %>
    <%= f.select(:chemical_id, @chemicals.map {|chemical| [chemical.name, chemical.id]}, {include_blank: true}, {class: "form-select"}) %>
  </div>
</div>
<div class="row">
  <div class="mb-3 col-md-2">
    <%= f.label :discount, class: "col-form-label-lg form-label" %>
    <%= f.number_field :discount, {min: 0, max: 9999999, step: 1, required: false, class: "form-control"} %>
  </div>
  <div class="mb-3 col-md-2">
    <%= f.label :discount_numor, class: "col-form-label-lg form-label" %>
    <%= f.number_field :discount_numor, {min: 0, max: 9999999, step: 1, required: false, class: "form-control"} %>
  </div>
  <div class="mb-3 col-md-2">
    <%= f.label :discount_denom, class: "col-form-label-lg form-label" %>
    <%= f.number_field :discount_denom, {min: 0, max: 9999999, step: 1, required: false, class: "form-control"} %>
  </div>
  <div class="mb-3 col-md-4">
    <%= f.label :cost_flag, class: "col-form-label-lg form-label" %>
    <div class="form-check">
      <%= f.radio_button :cost_flag, true %>
      <label for="expense_cost_flag_true" class="form-check-label form-label">支払時に原価とする。</label>
    </div>
    <div class="form-check">
      <%= f.radio_button :cost_flag, false %>
      <label for="expense_cost_flag_false" class="form-check-label form-label">使用時に原価とする。</label>
    </div>
  </div>
</div>
<%= f.hidden_field :term, {value: current_term} %>
<div class="row">
  <div class="field mb-3">
    <fieldset>
      <legend>原価対象</legend>
      <% @work_types.each do |work_type| %>
        <% expense_work_type = @expense.expense_work_types.find{|ewt| ewt.work_type_id == work_type.id} if @expense.expense_work_types %>
        <div class="form-check form-check-inline">
          <%= check_box_tag "", expense_work_type ? expense_work_type.true_rate : 1, expense_work_type ? expense_work_type.rate? : false, {id: "expense_work_types_rate_#{work_type.id}", class: "form-check-input", data: {id: "expense_rate_value_#{work_type.id}", work_type_id: work_type.id, work_type_name: work_type.name}} %>
          <%= label_tag "expense_work_types_rate_#{work_type.id}", work_type.name, {class: "form-check-label", id: nil} %>
          <%= hidden_field_tag "expense[expense_work_types_attributes][][id]", expense_work_type&.id, {id: nil} %>
          <%= hidden_field_tag "expense[expense_work_types_attributes][][work_type_id]", work_type.id, {id: nil} %>
          <%= hidden_field_tag "expense[expense_work_types_attributes][][rate]", expense_work_type&.rate || 0, {id: "expense_rate_value_#{work_type.id}"} %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= f.submit '登録', class: "btn btn-warning" %>
  </div>
  <div class="btn-group mr-2">
  <button type="button" id="showProportionModal" class="btn btn-primary">按分設定</button>
  </div>
  <% unless @expense.new_record? %>
    <div class="btn-group mr-2">
      <%= link_to '削除', @expense, {data: {confirm: "本当に削除してもよろしいですか?", turbo_method: :delete}, class: "btn btn-danger"} %>
    </div>
  <% end %>
  <div class="btn-group mr-2">
    <%= link_to '戻る', expenses_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<% end %>
<!-- Modal -->
<div class="modal fade" id="proportionModal" tabindex="-1" role="dialog" aria-labelledby="proportionModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="proportionModalTitle">按分設定</h5>
      </div>
      <div id="proportionModalBody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" id="saveProportionModal" class="btn btn-warning">保存</button>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<script>
window.addEventListener('DOMContentLoaded turbo:load', () => {
    $("input[type='checkbox'][id^='expense_work_types_rate_']").click(function() {
        $("#" + $(this).data("id")).val($(this).prop("checked") ? $(this).val() : 0);
    });

    $("#showProportionModal").click(function() {
        if($("input[type='checkbox'][id^='expense_work_types_rate_']:checked").length < 2) {
            bootbox.alert("按分設定は複数の項目にチェックされている場合のみ可能です。")
            return;
        }
        $("#proportionModalBody").html("");
        $("input[type='checkbox'][id^='expense_work_types_rate_']:checked").each(function() {
            var work_type_id = $(this).data("work-type-id");
            var id = "modal_rate_" + work_type_id;
            var html = "";
            var rate = $("#" + $(this).data("id")).val();
            html += "<div class='row'><div class='col-md-12 form-inline'>";
            html += "<label for='" + id + "' class='col-form-label form-label' style='width:100px;'>" + $(this).data("work-type-name") + "</label>";
            html += "<input type='number' id='" + id +"' min='0.01' max='99.99' step='0.01' require='true' class='form-control proportionModalRate' value='" + rate + "' data-id='expense_rate_value_" + work_type_id + "' style='width:100px;' />";
            html += "</div></div>";
            $("#proportionModalBody").append(html);
        });
        $("#proportionModal").modal("show");
    });

    $("#saveProportionModal").click(function() {
        $(".proportionModalRate").each(function() {
            $("#" + $(this).data("id")).val($(this).val());
        });
        $("#proportionModal").modal("hide");
    });

    $('select[name="expense[expense_type_id]"]').change(function(){
        change_expense_type($(this));
    });

    $('select[name="expense[chemical_type_id]"]').change(function(){
        change_chemical_type($(this));
    });

    <% if @expense.new_record? %>
    change_expense_type($(this));
    change_chemical_type($(this));
    <% end %>
});

function change_expense_type(expense_type) {
    if(expense_type.val() == "<%= ExpenseType.chemical_id %>") {
        $("#expense_chemical_type_id").prop("disabled", false);
        $("#expense_chemical_id").prop("disabled", false);
        $.get("<%= chemical_type_select_expenses_path %>");
    } else {
        $("#expense_chemical_type_id").val("");
        $("#expense_chemical_id").val("");
        $("#expense_chemical_type_id").prop("disabled", true);
        $("#expense_chemical_id").prop("disabled", true);
    }
}

function change_chemical_type(chemical_type) {
    $.get("<%= chemical_select_expenses_path %>", {chemical_type_id: chemical_type.val()});
}
</script>
