<h1>原価経費一覧</h1>
<% if @expenses.count > 0 %>
<div class="row">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>支払日</th>
        <th>種別</th>
        <th>内容</th>
        <th class="numeric">金額</th>
        <th>原価ベース</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @expenses.each do |expense| %>
        <tr>
        <td><%= expense.payed_on %></td>
        <td><%= expense.expense_type.name %></td>
        <td><%= expense.content %></td>
        <td class="numeric"><%= expense.amount %></td>
        <td><%= expense.work_types %></td>
        <td><%= link_to '修正', edit_expense_path(expense), {class: "btn btn-success btn-sm"} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate(@expenses) %>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '新規登録', new_expense_path, {class: "btn btn-success"} %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
