<% if @machine.errors.any? %>
  <div id="error_explanation">
    <h2><%= @machine.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @machine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@machine) do |f| %>
  <p>
    <%= f.label :machine_type_id %><br />
   <%= f.select(:machine_type_id, @machine_types.map {|machine_type| [machine_type.name, machine_type.id]}) %><br />
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, {:maxlength => 30, :size => 30} %>
  </p>
  <p>
    <%= f.label :home_id %><br />
   <%= f.select(:home_id, @homes.map {|home| [home.name, home.id]}) %><br />
  </p>
  <p>
    <%= f.label :display_order %><br />
    <%= f.number_field :display_order, {maxlength: 3, size: 3} %>
  </p>
  <p>
    <%= f.label :validity_start_at %><br />
    <%= f.date_field :validity_start_at %>
  </p>
  <p>
    <%= f.label :validity_end_at %><br />
    <%= f.date_field :validity_end_at %>
  </p>
 <br />
  <p>
    <%= f.submit '登録' %>
    <% if controller.action_name == "edit" %>
    <%= button_tag "料金設定", type: :button, :onclick => raw("javascript:location.href = '" + show_machine_machine_price_headers_path(machine_id: @machine) + "';") %>
    <% end %>
    <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + machines_path + "';") %>
  </p>
<% end %>
