<h1>育苗計画(世帯別)</h1>
<div class="row">
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th colspan="2">品種</th>
      <% @plans.each do |plan| %>
        <th class="text-center" style="background-color: <%= plan.work_type.bg_color %>"><%= plan.work_type.name %></th>
      <% end %>
    </tr>
    <tr>
      <th colspan="2" class="text-nowrap">田植え月</th>
      <% @plans.each do |plan| %>
        <td class="text-center" style="background-color: <%= plan.work_type.bg_color %>"><%= plan.month %>月</td>
      <% end %>
    </tr>
    <tr>
      <th colspan="2" class="text-nowrap">圃場面積</th>
      <% @plans.each do |plan| %>
        <td class="numeric" style="background-color: <%= plan.work_type.bg_color %>"><%= number_with_precision(plan.area, precision: 1) %></td>
      <% end %>
    </tr>
    <tr>
      <th colspan="2" class="text-nowrap">苗箱枚数</th>
      <% @plans.each do |plan| %>
        <td class="numeric" id="base_<%= plan.work_type_id %>" style="background-color: <%= plan.work_type.bg_color %>"><%= number_with_precision(plan.quantity, precision: 0) %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <th class="text-nowrap" rowspan="4"><%= home.name %></th>
        <th>種子(kg)</th>
        <% @plans.each do |plan| %>
          <td class="numeric"><%= number_with_precision(@seedlings[home.id][plan.id]&.seeds, precision: 0) %></td>
        <% end %>
      </tr>
      <tr>
        <th>大袋</th>
        <% @plans.each do |plan| %>
          <td class="numeric"><%= number_with_precision(@seedlings[home.id][plan.id]&.seed_bag1, precision: 0) %></td>
        <% end %>
      </tr>
      <tr>
        <th>小袋</th>
        <% @plans.each do |plan| %>
          <td class="numeric"><%= number_with_precision(@seedlings[home.id][plan.id]&.seed_bag2, precision: 0) %></td>
        <% end %>
      </tr>
      <tr>
        <th>育苗土(袋)</th>
        <% @plans.each do |plan| %>
          <td class="numeric"><%= number_with_precision(@seedlings[home.id][plan.id]&.soil_bag, precision: 0) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <th colspan="2">合計</th>
      <% @plans.each do |plan| %>
        <td class="numeric sum-quantity" id="sum_<%= plan.work_type_id %>" data-id="<%= plan.work_type_id %>">0</td>
      <% end %>
    </tr>
    </tfoot>
  </table>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', new_plans_seedling_path, class: "btn btn-outline-dark" %>
  </div>
</div>
