<h1>育苗計画(世帯別)</h1>
<%= form_with url: plans_seedlings_path, method: :post do |f| %>
  <div class="row">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>品種</th>
          <% @plans.each do |plan| %>
            <th class="text-center" style="background-color: <%= plan.work_type.bg_color %>; color:<%= plan.work_type.fg_color %>;"><%= plan.work_type.name %></th>
          <% end %>
        </tr>
        <tr>
          <th class="text-nowrap">田植え月</th>
          <% @plans.each do |plan| %>
            <td class="text-center" style="background-color: <%= plan.work_type.bg_color %>; color:<%= plan.work_type.fg_color %>;"><%= plan.month %>月</td>
          <% end %>
        </tr>
        <tr>
          <th class="text-nowrap">圃場面積</th>
          <% @plans.each do |plan| %>
            <td class="numeric" style="background-color: <%= plan.work_type.bg_color %>; color:<%= plan.work_type.fg_color %>;"><%= number_with_precision(plan.area, precision: 1) %></td>
          <% end %>
        </tr>
        <tr>
          <th class="text-nowrap">苗箱枚数</th>
          <% @plans.each do |plan| %>
            <td class="numeric" id="base_<%= plan.work_type_id %>" style="background-color: <%= plan.work_type.bg_color %>; color:<%= plan.work_type.fg_color %>;"><%= number_with_precision(plan.quantity, precision: 0) %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @homes.each do |home| %>
          <tr>
            <th class="text-nowrap"><%= home.name %></th>
            <% @plans.each do |plan| %>
              <td><%= number_field_tag "seedlings[#{home.id}][#{plan.id}][quantity]", @seedlings[home.id][plan.id]&.quantity || 0, {class: "form-control form-control-sm quantity-#{plan.work_type_id}", step: 1, min: 0, max: 9999, required: true, onchange: "calcQuantity(#{plan.work_type_id})"} %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>合計</th>
          <% @plans.each do |plan| %>
            <td class="numeric sum-quantity" id="sum_<%= plan.work_type_id %>" data-id="<%= plan.work_type_id %>">0</td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="btn_toolbar" class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= submit_tag '登録', name: 'regist', class: "btn btn-warning" %>
    </div>
    <div class="btn-group mr-2">
      <%= link_to '戻る', new_plans_work_type_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
<script>
window.addEventListener('load', (event) => {
  Array.from(document.getElementsByClassName("sum-quantity")).forEach(function(ctrl) {
    calcQuantity(ctrl.dataset.id);
  });
});

function calcQuantity(work_type_id) {
  let quantity = new Decimal(0);
  const baseQ = new Decimal(document.getElementById("base_" + work_type_id).innerText);
  Array.from(document.getElementsByClassName("quantity-" + work_type_id)).forEach(function(ctrl) {
    quantity = quantity.plus(new Decimal(ctrl.value));
  });
  const sumCtrl = document.getElementById("sum_" + work_type_id);
  sumCtrl.innerText = quantity.toFixed(0);
  sumCtrl.style.color = "black";
  if(baseQ.comparedTo(quantity) > 0) {
    sumCtrl.style.color = "Red";
  }
}
</script>
