<%= error_print(@machine_type) %>
<%= form_for(@machine_type) do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, {maxlength: 20, size: 20, required: true} %>
 </div>
 <div class="field">
    <%= f.label :display_order %><br />
    <%= f.number_field(:display_order, {min: 0, max: 9999, maxlength: 4, size: 4, required: true}) %>
 </div>
 <br />
 <div class="field">
 <fieldset>
    <legend>対応作業</legend>
  <% @work_kinds.each do |work_kind| %>
    <span class="check_group">
      <%= check_box_tag "work_kinds[]", work_kind.id, @machine_type.work_kinds.include?(work_kind), {:id => nil} %><!--
    --><%=h work_kind.name %>
    </span>
  <% end %>
  </fieldset>
 </div>
 <br />
 <div class="actions">
    <%= f.submit '登録' %>
    <%= button_tag "戻る", type: :button, :onclick => raw("javascript:location.href = '" + machine_types_path + "';") %>
 </div>
<% end %>
