<h1>機械種別マスタ一覧</h1>
<% if @machine_types.count > 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>機械種別名</th>
      <th colspan="3">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @machine_types.each do |machine_type| %>
      <tr>
        <td><%=h machine_type.name %></td>
        <td><%= link_to '修正', edit_machine_type_path(machine_type), {class: "btn btn-success btn-sm"} %></td>
        <td><%= link_to '料金設定', show_type_machine_price_headers_path(machine_type_id: machine_type), {class: "btn btn-success btn-sm"} %></td>
        <% if machine_type.machines.count == 0 %>
        <td><%= link_to '削除', machine_type, {method: :delete, data: {confirm: "本当に削除してもよろしいですか?"}, class: "btn btn-danger btn-sm"} %></td>
        <% else %>
        <td>&nbsp;</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', new_machine_type_path, class: "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to "戻る", menu_index_path, {class: "btn btn-outline-dark"}%>
  </div>
</div>
