<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-1" role="navigation">
    <%= link_to '作業日報管理', menu_index_path, {class: "navbar-brand"} %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarFarm2" aria-controls="navbarFarm2" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarFarm2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to '日報管理', "#", {class: "nav-link farm2-navi", id: :navbar_daily} %>
          </li>
          <li class="nav-item">
            <%= link_to '予定管理', "#", {class: "nav-link farm2-navi", id: :navbar_schedule} %>
          </li>
          <% if current_user.checkable? %>
          <li class="nav-item">
            <%= link_to '収穫管理', "#", {class: "nav-link farm2-navi", id: :navbar_harvest} %>
          </li>
          <li class="nav-item">
            <%= link_to '集計処理', "#", {class: "nav-link farm2-navi", id: :navbar_total} %>
          </li>
          <% end %>
          <% if current_user.manageable? %>
          <li class="nav-item">
            <%= link_to '会計処理', "#", {class: "nav-link farm2-navi", id: :navbar_fix} %>
          </li>
          <li class="nav-item">
            <%= link_to '在庫管理', "#", {class: "nav-link farm2-navi", id: :navbar_stock} %>
          </li>
          <li class="nav-item">
            <%= link_to '原価管理', "#", {class: "nav-link farm2-navi", id: :navbar_cost} %>
          </li>
          <li class="nav-item">
            <%= link_to '生産計画', "#", {class: "nav-link farm2-navi", id: :navbar_plan} %>
          </li>
          <li class="nav-item">
            <%= link_to 'GAP対応', "#", {class: "nav-link farm2-navi", id: :navbar_gap} %>
          </li>
          <% end %>
          <% if current_user.checkable? %>
          <li class="nav-item">
            <%= link_to 'マスタ保守', "#", {class: "nav-link farm2-navi", id: :navbar_master} %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to '管理', "#", {class: "nav-link farm2-navi", id: :navbar_management} %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', sessions_path, {class: "nav-link"} %>
          </li>
        </ul>
        <span class="navbar-text ml-auto"><%= current_name %>さん</span>
    </div>
</nav>
<div id="menu_dropdown" class="dropdown-menu">
</div>
