<!DOCTYPE html>
<html lang="ja" data-bs-theme="<%= current_user&.theme || 'light' %>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'theme', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'pc-common', 'data-turbo-track': 'reload' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"]%>&libraries=drawing" defer="defer" async="async" data-turbo-eval="false"></script>
  <%= yield :head %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
</head>
<body data-controller="pc-common">
  <header>
<%= render 'navbar' %>
  </header>
<main class="container-fluid">
  <div class="row g-3 main-row">
    <!-- <lg 専用のオフキャンバス（サイドメニュー） -->
    <div class="d-lg-none">
      <div id="sidebar_off_canvas" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarLabel">メニュー</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
          <%= render 'sidebar' %>
        </div>
      </div>
    </div>

    <!-- ≥lg：サイドバー -->
    <aside id="sidebar_desktop" class="col-lg-2 col-xl-2 d-none d-lg-block">
      <div class="app-card p-0">
        <%= render 'sidebar' %>
      </div>
    </aside>

    <!-- コンテンツ -->
    <div id="content_col" class="col-12 col-lg-10">
      <div class="container-fluid">
        <div id="flash_messages" class="row">
          <%= render "application/flashes", locals: {flash: flash} %>
        </div>
        <div class="app-card">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</main>
<input type="hidden" id="current_controller" value="<%= menu_name %>">
<input type="hidden" id="current_action" value="<%= controller.action_name %>">
<%= render 'application/popup' %>
<%= render 'application/loading' %>
</body>
</html>
