<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'controllers/pc-common', 'data-turbo-track': 'reload', type: :module %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'pc-common', 'data-turbo-track': 'reload' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"]%>&libraries=drawing" defer="defer" async="async" data-turbo-eval="false"></script>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
</head>
<body>
  <header>
<%= render 'navbar' %>
  </header>
<main class="container-fluid">
  <button class="btn btn-outline-secondary d-md-none ms-auto"
          type="button" data-bs-toggle="offcanvas"
          data-bs-target="#sidebar_off_canvas"
          aria-controls="sidebar_off_canvas">
    <i class="fa-solid fa-bars"></i> メニュー
  </button>

  <div class="row g-3 main-row">
 <!-- モバイル: offcanvas -->
    <div class="d-md-none">
      <div id="sidebar_off_canvas" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarLabel">メニュー</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
          <!-- ★ 重複IDを避けるため、部分側の id をやめ class化する（後述B） -->
          <%= render 'sidebar' %>
        </div>
      </div>
    </div>

    <!-- デスクトップ: 常時表示（折りたたみ対応のため wrapper に ID を振る） -->
    <aside id="sidebar_desktop" class="col-md-3 col-xl-2 d-none d-md-block">
      <div class="app-card p-0">
        <%= render 'sidebar' %>
      </div>
    </aside>

    <div id="content_col" class="col-md-9 col-xl-10">
      <div class="container-fluid">
        <div id="flash_messages" class="row">
          <%= render "application/flashes", locals: {flash: flash} %>
        </div>
        <div class="app-card">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</main>
<input type="hidden" id="current_controller" value="<%= menu_name %>">
<input type="hidden" id="current_action" value="<%= controller.action_name %>">
<%= render 'application/popup' %>
<%= render 'application/loading' %>
</body>
</html>
