<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'pc-common' %>
  <%= stylesheet_pack_tag 'pc-common' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
   const language = "<%= I18n.locale %>";
   I18n.translations = <%== I18n::JS.filtered_translations.to_json %>;
  </script>
</head>
<body>

<% if session[:user_id] %>
<%= render 'navbar' %>
<% end %>
<div class="container-fluid">
<% if session[:user_id] %>
  <div class="row">
    <div id="sideWrapper" class="col-md-2 bg-info">
      <%= render 'sidebar' %>
    </div>
    <div id="myContent" class="col-md-10">
<% end %>
      <div class="container-fluid">
<%= yield %>
      </div>
<% if session[:user_id] %>
    </div>
  </div>
<% end %>
</div>
<input type="hidden" id="current_controller" value="<%= menu_name %>">
<input type="hidden" id="current_action" value="<%= controller.action_name %>">
<%= render 'application/popup' %>
</body>
</html>
