<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2)</title>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'controllers/pc-common', 'data-turbo-track': 'reload', type: :module %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'pc-common', 'data-turbo-track': 'reload' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"]%>&libraries=drawing" defer="defer" async="async" data-turbolinks-eval="false"></script>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
</head>
<body>
  <header>
<% if session[:user_id] %>
<%= render 'navbar' %>
<% end %>
</header>
<main class="container-fluid">
<% if session[:user_id] %>
  <div class="row">
    <div id="my_side_wrapper" class="col-md-2 bg-info collapse show">
      <%= render 'sidebar' %>
    </div>
    <div id="my_content" class="col-md-10">
    <button type="button" id="my_side_open" class="btn btn-sm btn-info float-begin d-none d-print-none">
      <i class="far fa-window-restore"></i>
    </button>
<% end %>
      <div class="container-fluid">
      <div id="flash_messages" class="row">
        <%= render "application/flashes", locals: {flash: flash} %>
      </div>
<%= yield %>
      </div>
<% if session[:user_id] %>
    </div>
  </div>
<% end %>
</main>
<input type="hidden" id="current_controller" value="<%= menu_name %>">
<input type="hidden" id="current_action" value="<%= controller.action_name %>">
<%= render 'application/popup' %>
<%= render 'application/loading' %>
</body>
</html>
