<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.3, maximum-scale=10.0, user-scalable=yes" />
  <title>作業日報管理システム(V2)</title>
  <%= stylesheet_link_tag    'sm', media: 'all' %>
  <%= javascript_include_tag 'sm' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
   I18n.defaultLocale = "<%= I18n.default_locale %>";
   I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body style="padding-top:64px;">
<div class="container-fluid">
<div id="site-header">
<nav class="navbar navbar-dark bg-success fixed-top" role="navigation">
  <div class="container">
  <%= link_to "作業日報", personal_information_path(token: params[:token] || params[:personal_information_token]), {class: "navbar-brand"} %>
  <%= link_to "管理農地", personal_information_lands_path(personal_information_token: params[:token] || params[:personal_information_token]), {class: "navbar-brand"} %>
  </div>
</nav>
</div>
<%= yield %>
</div>
<script>
var startPos = 0,winScrollTop = 0;
$(function() {
  $(window).on('scroll',function(){
      winScrollTop = $(this).scrollTop();
      if (winScrollTop >= startPos) {
          $('#site-header').hide("slow");
      } else {
          $('#site-header').show("slow");
      }
      startPos = winScrollTop;
  });
});
</script>
</body>
</html>
