<!DOCTYPE html>
<html lang="ja" data-bs-theme="<%= current_user&.theme || 'light' %>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="作業日報管理">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.3, maximum-scale=10.0, user-scalable=yes" />
  <title>作業日報管理システム(V2)</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'sp' %>
  <%= yield :head %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
  <link rel="apple-touch-icon" href="<%= asset_path('/images/icons/farm2-180.png') %>">
  <link rel="manifest" href="<%= asset_path('/manifest.json') %>">
</head>
<% token = params[:token] || params[:personal_information_token] %>
<body style="padding-top:64px;">
<main class="container-fluid">
<% unless params[:simple] %>
<div id="site-header">
<nav class="navbar navbar-dark bg-success fixed-top" role="navigation">
  <%= link_to "作業日報(#{current_name})", personal_information_path(token: token), {class: "navbar-brand ms-2"} %>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar_farm2" aria-bs-controls="navbar_farm2" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar_farm2">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <a href="<%= personal_information_schedules_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/calendar.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">予 定</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_lands_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/tanbo.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">農 地</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="http://www.google.com/calendar/render?cid=<%= CGI.escape(personal_calendar_url(token: token)) %>&ctz=Asia/Tokyo" target="_blank">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/google-calendar.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">カレンダー</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_statistics_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/graph.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">集 計</figcaption>
            </figure>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <a href="<%= new_personal_information_scan_path(personal_information_token: token) %>">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/qrcode.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">QRコード</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="line://oaMessage/<%= ENV.fetch('LINE_CHANNEL_ID') %>/?token=<%= token %>">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/line-me.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">LINE</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_topics_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/website_news.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">TOPIC</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_maps_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <%= image_tag "/images/menu/google-map.png", {width: 48, height: 48, class: "figure-img"} %>
              <figcaption class="figure-caption text-white">地 図</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
</div>
<% end %>
<%= yield %>
</main>
<%= render 'application/popup' %>
</body>
</html>
