<% token = params[:token] || params[:personal_information_token] %>
<!DOCTYPE html>
<html lang="ja" data-bs-theme="<%= current_user&.theme || 'light' %>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="作業日報管理">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.3, maximum-scale=10.0, user-scalable=yes" />
  <title>作業日報管理システム(V2)</title>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'sp' %>
  <%= stylesheet_link_tag 'theme', 'data-turbo-track': 'reload' %>
  <script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= Rails.application.credentials.dig(:google_maps, :api_key) %>",
    v: "weekly",
  });
  </script>
  <%= yield :head %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
  <link rel="apple-touch-icon" href="<%= asset_path('/images/icons/farm2-180.png') %>">
  <link rel="manifest" href="<%= manifest_personal_information_path(token: token) %>">
</head>
<body style="padding-top:64px;">
<main class="container-fluid">
<% unless params[:simple] %>
<div id="site-header">
<nav class="navbar navbar-dark bg-success fixed-top" role="navigation">
  <%= link_to "作業日報(#{current_name})", personal_information_path(token: token), {class: "navbar-brand ms-2"} %>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar_farm2" aria-bs-controls="navbar_farm2" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar_farm2">
    <% menu_items = [
      { href: personal_information_schedules_path(personal_information_token: token), image: "/images/menu/calendar.png", label: "予 定" },
      { href: personal_information_lands_path(personal_information_token: token), image: "/images/menu/tanbo.png", label: "農 地" },
      { href: "http://www.google.com/calendar/render?cid=#{CGI.escape(personal_calendar_url(token: token))}&ctz=Asia/Tokyo", image: "/images/menu/google-calendar.png", label: "カレンダー", html_options: { target: "_blank", rel: "noopener" } },
      { href: personal_information_statistics_path(personal_information_token: token), image: "/images/menu/graph.png", label: "集 計" },
      { href: new_personal_information_scan_path(personal_information_token: token), image: "/images/menu/qrcode.png", label: "QRコード" },
      { href: "line://oaMessage/#{Rails.application.credentials.dig(:line, :channel_id)}/?token=#{token}", image: "/images/menu/line-me.png", label: "LINE" },
      { href: personal_information_topics_path(personal_information_token: token), image: "/images/menu/website_news.png", label: "TOPIC" },
      { href: personal_information_maps_path(personal_information_token: token), image: "/images/menu/google-map.png", label: "地 図" },
      { href: personal_information_machines_path(personal_information_token: token), image: "/images/menu/car_kei_truck.png", label: "軽トラ" }
    ] %>
    <div class="container-fluid">
      <% menu_items.each_slice(4) do |items| %>
        <div class="row">
          <% items.each do |item| %>
            <div class="col-3 text-center">
              <%= link_to item[:href], item[:html_options] || {} do %>
                <figure class="figure text-center">
                  <%= image_tag item[:image], {width: 48, height: 48, class: "figure-img"} %>
                  <figcaption class="figure-caption text-white"><%= item[:label] %></figcaption>
                </figure>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
</div>
<% end %>
<div id="flash_messages" class="row">
  <%= render "application/flashes", locals: {flash: flash} %>
</div>
<%= yield %>
</main>
<%= render 'application/popup' %>
</body>
</html>
