<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.3, maximum-scale=10.0, user-scalable=yes" />
  <title>作業日報管理システム(V2)</title>
  <%= stylesheet_link_tag    'sm', media: 'all' %>
  <%= javascript_include_tag 'sm' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
   I18n.defaultLocale = "<%= I18n.default_locale %>";
   I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<% token = params[:token] || params[:personal_information_token] %>
<body style="padding-top:64px;">
<div class="container-fluid">
<div id="site-header">
<nav class="navbar navbar-dark bg-success fixed-top" role="navigation">
  <%= link_to "作業日報(#{current_name})", personal_information_path(token: token), {class: "navbar-brand"} %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarFarm2" aria-controls="navbarFarm2" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarFarm2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "作業予定", personal_information_schedules_path(personal_information_token: token), {class: "nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to "管理農地", personal_information_lands_path(personal_information_token: token), {class: "nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to '機械賃借', personal_information_machines_path(personal_information_token: token), {class: "nav-link"} %>
          </li>
        </ul>
    </div>
</nav>
</div>
<%= yield %>
</div>
<script>
var startPos = 0,winScrollTop = 0;
$(function() {
  $(window).on('scroll',function(){
      winScrollTop = $(this).scrollTop();
      if (winScrollTop >= startPos) {
          $('#site-header').hide("slow");
      } else {
          $('#site-header').show("slow");
      }
      startPos = winScrollTop;
  });
});
</script>
</body>
</html>
