<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.3, maximum-scale=10.0, user-scalable=yes" />
  <title>作業日報管理システム(V2)</title>
  <%= stylesheet_link_tag    'sm', media: 'all' %>
  <%= javascript_include_tag 'sm' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
   I18n.defaultLocale = "<%= I18n.default_locale %>";
   I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<% token = params[:token] || params[:personal_information_token] %>
<body style="padding-top:64px;">
<div class="container-fluid">
<div id="site-header">
<nav class="navbar navbar-dark bg-success fixed-top" role="navigation">
  <%= link_to "作業日報(#{current_name})", personal_information_path(token: token), {class: "navbar-brand"} %>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarFarm2" aria-controls="navbarFarm2" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarFarm2">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <a href="<%= personal_information_schedules_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/calendar.png" />
              <figcaption class="figure-caption text-white">予 定</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_lands_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/tanbo.png" />
              <figcaption class="figure-caption text-white">農 地</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_seedlings_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/jouro.png" />
              <figcaption class="figure-caption text-white">育 苗</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_statistics_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/graph.png" />
              <figcaption class="figure-caption text-white">集 計</figcaption>
            </figure>
          </a>
        </div>
      </div>
      <!-- 
      <div class="row">
        <div class="col-3">
          <a href="<%= personal_information_dryings_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/country.png" />
              <figcaption class="figure-caption text-white">乾 燥</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_machines_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/tractor.png" />
              <figcaption class="figure-caption text-white">賃 借</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_contracts_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/hands.png" />
              <figcaption class="figure-caption text-white">委 託</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-3">
          <a href="<%= personal_information_owned_rices_path(personal_information_token: token)%>">
            <figure class="figure text-center">
              <img class="figure-img" width="48" height="48" src="/images/menu/kome.png" />
              <figcaption class="figure-caption text-white">保有米</figcaption>
            </figure>
          </a>
        </div>
      </div>
      -->
    </div>
  </div>
</nav>
</div>
<%= yield %>
</div>
<script>
var startPos = 0,winScrollTop = 0;
$(function() {
  $(window).on('scroll',function(){
      winScrollTop = $(this).scrollTop();
      if (winScrollTop >= startPos) {
          $('#site-header').hide("slow");
      } else {
          $('#site-header').show("slow");
      }
      startPos = winScrollTop;
  });
});
</script>
</body>
</html>
