<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="ja" />
  <title>作業日報管理システム(V2) - Tablet</title>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "theme", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "pc-common", "data-turbo-track": "reload" %>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/images/icons/farm2-32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/images/icons/farm2-16.png') %>">
</head>
<body>
<main class="container-fluid py-3">
  <div id="flash_messages" class="row">
    <%= render "application/flashes", locals: { flash: flash } %>
  </div>
  <%= yield %>
</main>
</body>
</html>
